[2017-02-21 23:16] eric-wieser opened #7 "Icon background color doesn't match header"

[2017-02-22 00:57] stefanv commented on #7
I don't see any difference on my browser.  But we should probably re-render it with a transparent background.  That said, I'm not sure we still have the script to do that (what is the origin of that logo anyway).

[2017-02-22 01:01] eric-wieser commented on #7
The main numpy repository has an svg version of the graphic, which should be fairly straightforward to change the text-color of and rasterize

But I'm really surprised that it looks fine on your browser. On mine:

![image](https://cloud.githubusercontent.com/assets/425260/23192269/707d13f6-f89a-11e6-9811-174ad3e808d8.png)

[2017-02-22 01:16] stefanv commented on #7
I downloaded the image and the CSS; for both, the background evaluate
to #a2bae8

[2017-02-22 01:18] eric-wieser commented on #7
Sounds like a strange color profile in the png then

[2017-03-02 11:03] rgommers opened #8 "add "fiscally sponsored by NumFOCUS" logo to website"
Examples: http://mc-stan.org/, https://quantecon.org/, http://ropensci.org/

[2017-03-06 23:03] Dr-G opened #9 "add donation link to website"
I'm pasting below the (somewhat lengthy) instructions for adding a donations link to your website: https://www.flipcause.com/secure/cause_pdetails/MzUwMQ==

**How-To Instructions:**
Copy This Code Block on Your Website

Note: You only need to do this step ONCE per website. Install once in either Header (below the <head> tag) or Footer (below the <footer> tag). This code will be used for ALL button

[2017-03-07 09:26] rgommers commented on #9
Thanks Gina!

[2017-03-07 09:30] seberg commented on #9
Looks nice, a tiny note. The Link on that site points to pandas, while a link to pandas may not be bad, there should be one to numpy too probably ;).

[2017-03-07 13:04] cheralathann commented on #8
@rgommers I have added the numfocus logo. But I need permission to upload.

[2017-03-07 15:35] Dr-G commented on #9
Good catch! I will fix that on the back end.

[2017-03-07 15:42] Dr-G commented on #9
Fixed.

[2017-03-07 20:17] rgommers commented on #8
Thanks @cheralathann. Can you please send your changes as a pull request? We'll review them first, and on merging the PR they will be uploaded to numpy.org

[2017-03-08 04:32] cheralathann commented on #8
I don't know how to push the changes to sub modules. can you give me some instructions.

[2017-03-12 09:04] rushabhy commented on #9
Where should the donate button be placed on the page?
And clicking on the `<a>` tag opens up the donation page in a new window, shouldn't it call the `open_window()` function on click?

[2017-03-24 09:29] #9 closed

[2017-03-24 09:32] rgommers commented on #9
Sorry @rushabhy, missed your question. Thanks for helping out!

[2017-03-27 10:44] rgommers commented on #8
Sorry @cheralathann, I was busy for a while and this issue has been fixed already in gh-10. Thanks for stepping up to work on it!

[2017-03-27 10:44] #8 closed

[2017-08-30 23:09] eric-wieser commented on #7
[Today's XKCD](https://xkcd.com/1882/) hits close to home with it's alt text:

[2017-10-23 08:03] eric-wieser commented on #7
This seems to be mostly fixed in the latest chrome, loading that page again

[2019-01-27 09:30] mattip opened #16 "Reformat the web site to be the primary source for numpy documentation"
As discussed in a weekly developer meeting, we would like numpy.org to become the primary gateway for all things NumPy. One concern is that by hosting the pages on github pages we may exceed [usage restrictions](https://help.github.com/articles/what-is-github-pages/#usage-limits).
[ ] - Find out how to monitor bandwidth on gitub pages
[ ] - Be prepared to add a cloudflare front end for caching the

[2019-03-20 03:43] lisamartin72 opened #18 "Updated donor information for NumFOCUS"
Hi, I am a new staff member at NumFOCUS. We have updated our donation provider from Flipcause to Salsa. The new link is:

https://numfocus.salsalabs.org/donate-to-numpy/index.html

Please update your website accordingly. : )

Thanks,

Lisa Martin
NumFOCUS

[2019-03-20 04:43] stefanv commented on #18
@lisamartin72 Can you please provide us with the new widget code?

See https://help.salsalabs.com/hc/en-us/articles/115000019054-Publish-and-Widgets#widgets-for-external-web-pages

[2019-03-20 17:50] lisamartin72 commented on #18
Of course!

[code]

Let me know if you need anything else.

Best,
Lisa

[2019-03-20 19:19] rgommers commented on #18
Hi @lisamartin72, welcome! And thanks for the details.

@stefanv Gina mentioned to me that Flipcause will stop working by mid April. Do you or anyone at BIDS have time to take care of this?

[2019-03-20 19:30] stefanv commented on #18
On Wed, 20 Mar 2019 12:19:10 -0700, Ralf Gommers wrote:

Yes, sure, this should be quick; I can take it on.

[2019-03-20 19:37] rgommers commented on #18
awesome, thanks

[2019-03-21 07:04] mattip commented on #18
I can make this part of #17, which reminds me I should push it forward

[2019-03-21 07:26] mattip commented on #18
@lisamartin72 this code creates a "donate form" (the orange box in the screenshot below), we want a "Donate Button" instead.

![Screenshot from 2019-03-21 09-22-49](https://user-images.githubusercontent.com/823911/54738073-5f383f00-4bbb-11e9-959b-d6b9239f9fdc.png)

[2019-03-27 21:12] lisamartin72 commented on #18
```<a href="https://numfocus.salsalabs.org/donate-to-numpy" target="_blank" style="background:#FFA500;padding:10px;margin:10px 0px;text-align:center;text-decoration:none;font-size:12pt;color:#222222;font-family:Arial, Helvetica, sans-serif;display:inline-block;">Donate Now!</a>```

[2019-05-19 18:04] rgommers commented on #18
this was done a while ago, closing

[2019-05-19 18:04] #18 closed

[2019-07-06 20:14] mattip commented on #16
xref numpy/numpy#13921 which will start pushing documentation to numpy/numpy.github.com

[2019-07-18 08:56] dashohoxha opened #26 "Develop and embed on the website interactive tutorials"
Using https://www.katacoda.com/ we may develop and embed on the website a couple of interactive tutorials for beginners (which can be based on the existing NumPy tutorials). This may make it easier and more fun for beginners to get started.

The infrastructure is supplied for free by Katacoda, so we don't need to run or maintain any server for it. The only limitation is that the duration of the tr

[2019-07-18 09:16] dashohoxha opened #27 "Move website and documentation issues to this repo"
I think that it would be nice if documentation issues are kept on this repo as well (or on their own repo), instead of discussing them on numpy/numpy. This would clearly distinguish them from the rest of the issues (bugs, features, enhancements, etc.).

For example I am interested on the website and documentation issues, but I have to subscribe (watch) to numpy/numpy. As a result I get more than 1

[2019-07-18 09:29] dashohoxha opened #28 "Direct user help questions to Stackoverflow"
This is way more effective (and searchable) than mailing lists and chat rooms.

For example, when I have a problem, my first reaction is to google it, and more often than not I find that someone else has asked the same question on stackoverflow (or stackexchange). Sometimes the answer comes from an issue (for example GitHub issue), and more rarely from a discussion thread in a mailing-list archive

[2019-07-18 14:35] dashohoxha opened #29 "Select a static site generator for the new website"
### Possible options for static site generators:

1. **Jekyll**. This is a well maintained option with 855 Github contributors, with contributions within the last month. Jekyll is written in Ruby, and has a simple CLI interface. Jekyll also has a large directory of themes, although a majority cost money. There are several themes (serif, uBuild, Just The Docs) that are appropriate and free. Most th

[2019-07-18 14:39] dashohoxha commented on #29
I would prefer Hugo, because it is simpler to install and use compared to Jekyll, it is generally faster, and also supports multiple languages. Its themes are also quite impressive, for example: https://themes.gohugo.io/tags/company/

I would also add that in the last community meeting there seemed to be a general consensus that using Hugo would be more preferable.

[2019-07-18 14:46] dashohoxha opened #30 "Hosting the new website"
### Deployment

There is no need for running a server, and doing so is in our experience a significant drain on the time of maintainers.

1. **Netlify**. Using netlify is free until 100GB of bandwidth is used. Additional bandwidth costs $20/100GB. They support a global CDN system, which will keep load times quick for users in other regions. Netlify also has Github integration, which will allow for

[2019-07-18 14:54] dashohoxha commented on #30
If moving from GitHub pages is an option, then I would prefer **GitLab Pages**. They support Hugo out of the box (and many other site generators as well):
- https://gitlab.com/pages
- https://gitlab.com/pages/hugo
- https://gitlab.com/pages/nfhugo

This means that as soon as a commit is made (or a merge request accepted), the website will be updated automatically. This simplifies and improves the

[2019-07-18 15:03] rgommers commented on #27
This isn't really feasible - there's too much overlap between docs and code, and issues should be on the repo that contains the content that the issue is about.

What we can do though is to make it much easier to filter the messages. Setting up filters in the right way can be tricky, so documenting a standard one with e.g. Gmail would be handy.

[2019-07-18 15:08] rgommers commented on #30
I think you mean moving the repo away from GitHub? That's not really an option. Moving the deployment is, whatever works.

[2019-07-18 15:56] dashohoxha commented on #27
At least we can keep the website issues here, if the website maintenance is not much related with development+documentation work.

[2019-07-18 16:00] dashohoxha commented on #30
I mean moving **numpy/numpy.org** to GitLab, not **numpy/numpy** etc. I know that it is not convenient to have repositories hosted in different places, so I am almost sure that nobody will accept this.

[2019-08-07 22:04] joelachance commented on #30
@dashohoxha I'm pretty sure Github has the same functionality you're mentioning. See below:

https://pages.github.com/
https://github.com/features/integrations

Netlify gives us a little more visibility into bandwidth, but both should be very similar for deployment.

[2019-08-07 22:08] joelachance commented on #27
Can we close this one?

[2019-08-07 22:16] rgommers commented on #27
Yes we can. Website issues are already on this repo, so nothing left to do. Thanks @dashohoxha and @joelachance

[2019-08-07 22:16] #27 closed

[2019-08-07 22:18] rgommers commented on #30
One thing I liked about Cloudflare is that you get good statistics, e.g. unique visitors per month. Stefan just moved numpy.org under the NumFOCUS Cloudflare account. Not sure if GitHub Pages offers that. For scipy.org (not admin'ed by NumFOCUS) we just have raw server logs, which is much more painful.

[2019-08-07 22:27] joelachance commented on #30
I doubt Github Pages or Netlify offers any native analytics. One (free) option is Google Analytics, which would give us unique visitors and locations. This might be nice to know what translations we might want to tackle. This is just a script tag we add to the page, so we could use this with any deployment method.

Do you happen to have more info on either Cloudflare analytics or how it was deploy

[2019-08-07 22:29] joelachance commented on #29
I haven't been able to make previous meetings, but am planning to attend the meeting next Wednesday, Aug 14th.

@rgommers @dashohoxha without knowing any additional info than what is in the NEP, is Hugo a go? Also, have themes been discussed? These can be switched pretty easily, so choosing a theme shouldn't be a showstopper.

[2019-08-07 22:32] rgommers commented on #30
Google Analytics should give us enough info. Some Cloudflare data, also useful as a reference so we can see how much more traffic a new site gets :)

<img width="1044" alt="image" src="https://user-images.githubusercontent.com/98330/62662307-81dbb200-b928-11e9-94ae-b9d82835d27d.png">

<img width="1044" alt="image" src="https://user-images.githubusercontent.com/98330/62662283-75eff000-b928-11e9-92b

[2019-08-07 22:35] rgommers commented on #29
Sounds good! We could also try and do a separate call, because the community call is about many topics. We'll also have @InessaPawson and @Shekharrajak heavily involved. @dashohoxha got a Season of Docs slot with another org (DVC), so not sure he will still be involved.

@InessaPawson has volunteered to coordinate the website redesign, so she may want to set up a poll for a good time for a call? I

[2019-08-07 22:37] joelachance commented on #30
Looks like either would work great!

[2019-08-08 06:20] stefanv commented on #29
W.r.t. the original issue, I'd like to state a preference for a solution that can easily be installed locally.  In my experience, this excludes Jekyll.

[2019-08-08 06:40] dashohoxha commented on #29
If you need my opinion on some topic, just call me (by including @dashohoxha on the issue). I find that my previous opinions/suggestions have been mostly refuted or declined, but this does not prevent me to give my opinion whenever needed.

I have already expressed my preference for Hugo.

[2019-08-08 09:49] Shekharrajak commented on #29
Here is my research:

We should have the following features in NumPy Static pages 👍

**Markdown based:**  So that technical writers don't have to worry about installation. They can write simply in .md file. Anyone can click on edit button shown in website (new feature) and contribute (edit/suggest changes for the page in Github) to make it better. This will engage users to add new content or edit

[2019-08-08 09:50] Shekharrajak commented on #29
I have researched on few popular frameworks. Here is the summary:

**Jekyll**

- Simple and easy for developers to work on templates and change the UI.
- Easy for Writer to write on Markdown page (or use HTML, CSS in .md file).
- Free hosting with Github.

__Note:__
- Need to setup Ruby environment and install gem, bundler for Jekyll.

**Hugo**

- Fast and simple for developers .
- Uses Markdown s

[2019-08-08 21:39] stefanv commented on #30
GitHub does not do Hugo page builds, so for that we'd currently use Travis-CI—as we currently do to build the NEPs and devdocs.  I think there's nothing stopping us, in principle, from using GitLab or Netlify for deployment.  As mentioned by others, we already have Cloudflare set up to handle the bandwidth issue.

[2019-08-08 23:41] rgommers commented on #30
@stefanv for staying with GitHub Pages there's now GitHub Actions, which since today has CI/CD in beta. That saves messing around with permissions and API tokens to run a simple website build and deploy.

[2019-08-09 02:02] mattip commented on #16
Cloudfare activated, and the front page reformatted in #25 and #31

[2019-08-09 02:02] #16 closed

[2019-08-09 02:04] rgommers commented on #29
That's a good point. We didn't consider that point before, and I assumed it would be true for all static site generators. But yes, Ruby gems have been tricky in the past usually.

[2019-08-09 02:08] rgommers commented on #29
Hugo does seem the preferred option; most people have used it, everyone is positive about it.

Themes: no, not discussed as far as I can remember. Any suggestions welcome I'd say.

that would be nice to check out to confirm that works with something like Crowdin as well.

[2019-08-11 16:13] InessaPawson commented on #29
@dashohoxha, thank you for all your input and making yourself available to our team in the future! Diversity of ideas and opinions is vital to the success of any project, especially with such a large and diverse user community as NumPy.

[2019-08-24 20:33] rgommers opened #33 "Color scheme for new site"
From Summer, our graphic designer at Quansight, a color scheme for the new website. Top row are primary colors, second row secondary, third row tertiary. To go with the Hugo Fresh theme that we aimed for as a base. This is the same color scheme as I put on Slack earlier, copying here for permanent storage. This seems like a good start, let's see how it looks:)

![colorscheme_numpyorg_redesign](htt

[2019-08-25 05:01] shoyer commented on #33
Looks very nice!

If someone wants to refresh the colors on the NumPy logo, that would also be very welcome in my opinion. The current design looks a little faded.

[2019-08-25 18:43] rgommers commented on #33
Good point. @InessaPawson's suggested the same last week - I've asked Summer to have a go at that as well.

[2019-08-25 22:31] rgommers opened #34 "numpy.org offline"
Going to https://www.numpy.org/ or https://numpy.org shows:

<img width="924" alt="image" src="https://user-images.githubusercontent.com/98330/63656761-5d1b7300-c74d-11e9-8e43-af14585cacd5.png">

Perhaps it's temporary and someone is messing with the NumFOCUS CloudFlare hosting. An hour ago it was fine.

[2019-08-25 22:46] rgommers commented on #34
https://www.sslshopper.com/ssl-checker.html sees no problem:

<img width="579" alt="image" src="https://user-images.githubusercontent.com/98330/63656906-7cb39b00-c74f-11e9-9e81-18632b242706.png">

[2019-08-25 22:48] rgommers commented on #34
I changed "Full (strict)" to "Full" in the CloudFlare interface. This is documented as a quick fix in https://support.cloudflare.com/hc/en-us/articles/115003011431#526error

<img width="779" alt="image" src="https://user-images.githubusercontent.com/98330/63656920-b4bade00-c74f-11e9-931e-420eb4ee0ddb.png">

[2019-08-25 22:51] rgommers commented on #34
@stefanv I'm not an expert at this, so if you could have a look that would be great.

[2019-08-26 04:54] stefanv commented on #34
It may have something to do with `numpy.org` vs `www.numpy.org`.  Looks like the certificates were issued for www, but I'll have to double check tomorrow.

[2019-08-26 13:30] aterrel commented on #34
FWIW, if you are using cloudflare, you shouldn't need another certificate. But more importantly was there something that changed at numpy.org?

[2019-08-26 13:34] aterrel commented on #34
Additionally we can use UpTime Robot to monitor this if it is a something that has a higher sla (sorry I didn't see the inquiry over the weekend).

[2019-08-26 13:40] aterrel commented on #34
Okay looks like the `Full (strict)` will pass on your cert from your host, which seems to be what @stefanv was getting at. I tend not to use that for `Full` so that cloudflare handles all the cert stuff.

See also: https://community.cloudflare.com/t/cname-flattening-and-full-strict-ssl-causes-invalid-ssl-certificate-error-526/54760

[2019-08-26 15:14] Shekharrajak commented on #34
It is working fine from my side. I am able to see the numpy site properly.

[2019-08-27 22:51] rgommers opened #37 "NumPy logo refresh"
Both @InessaPawson and @shoyer suggested a refresh of the NumPy logo recently. Summer gave that a go, tweaking the colors for more contrast:

![numpylogo](https://user-images.githubusercontent.com/98330/63813335-20cd4b80-c8e2-11e9-9c04-e4dbf7285aa1.png)

Unfortunately she could not keep the logo in SVG. It hasn't been touched in a decade, and was made with some unknown tool that didn't align well

[2019-08-28 05:19] rougier commented on #37
My 2 cents here but it might be good to reduce (or remove) the transparency that makes it difficult to read the logo and maybe change perspective a bit. Something like:

![logo-numpy-variant](https://user-images.githubusercontent.com/327203/63827554-d7bddb80-c963-11e9-8787-87db74b2bb4e.png)

[2019-08-28 17:51] rougier commented on #37
Here is another try:

![numpy](https://user-images.githubusercontent.com/327203/63879997-205daf00-c9cd-11e9-8f5e-a283813be504.png)

[2019-08-28 17:57] rougier commented on #37
And a slightly different one:

![numpy](https://user-images.githubusercontent.com/327203/63880459-0e304080-c9ce-11e9-97c3-5abf991f7b58.png)

[2019-08-30 14:52] InessaPawson commented on #28
There is a NumPy group with 636 members on Reddit. reddit.com/r/Numpy/ It looks like it is  fairly active.

[2019-08-30 16:28] InessaPawson commented on #29
After in-depth research and several thoughtful discussions with the NumPy community members, the web team has selected Hugo (gohugo.io) as a framework for the new website.

[2019-08-30 16:28] #29 closed

[2019-08-30 16:33] stefanv commented on #28
For reference, this is the solution the imaging community uses: https://forum.image.sc
Jupyter does something similar: https://discourse.jupyter.org/

[2019-08-30 18:28] rgommers commented on #28
Discourse is more a replacement for mailing lists that for Stack Overflow. Stack Overflow works really well, other things in the past haven't. So I see no rationale for pointing people anywhere else.

[2019-08-30 23:59] stefanv commented on #28
I had the same feeling initially (and, personally, I am no great fan of Discourse), but I do think it establishes a better sense of community than StackOverflow, which can be quite harsh and isolating.  But, sure, I have no horses in this race.  Maybe @choldgraf has thoughts too.

[2019-08-31 01:24] choldgraf commented on #28
hehe I do have thoughts. Just to quickly give two quick points:

* I actually do think of Discourse as a replacement for something like Stack Overflow, in the sense that it is a place where people can ask questions and get help. In fact, one of the creators of Discourse [was also one of the founders of stack overflow](https://www.wired.com/2013/02/discourse/). Discourse communities are basically j

[2019-09-01 01:40] rgommers commented on #28
More so than a mailing list, or IRC, or ....? I don't think that's true, I think any kind of communication mechanism like that can have similar issues. And certainly our `numpy-discussion` mailing list does.

Anyway, that's not really the issue here. The thing is: Stack Overflow simply works way better than anything else we've tried (and not just for NumPy). People seem to be motivated by the SO p

[2019-09-01 01:46] rgommers commented on #28
I also checked activity: there were about 14,000 questions with the `numpy` tag in the last year. There's simply no way we can deal with such volumes.

I appreciate the suggestions (Reddit also), but anything but Stack Overflow seems like redirecting people to the wrong place.

[2019-09-01 21:17] stefanv commented on #28
I would be bit careful with "S/O simply works way better than anything else we've tried (and not just for NumPy)".  We have not tried very much or hard, and I'm not sure which other projects you're referring to.  But I thought the whole idea of the redesign is to try and do things *better* than ourselves in the past.

I understand your points w.r.t. volume of questions and motivation for those ans

[2019-09-01 22:54] matthew-brett commented on #28
I wonder if there is any way we can moderate the SO numpy questions, to encourage gentle responses to beginner questions?  Maybe SO would be interested in a discussion on how best to make that work?

[2019-09-01 22:59] stefanv commented on #28
There seems to be some interest: https://stackoverflow.blog/2018/04/26/stack-overflow-isnt-very-welcoming-its-time-for-that-to-change/

For scikit-image, we have several people subscribed to the relevant tags who monitor responses.

[2019-09-02 06:18] rgommers commented on #28
That's a fair point.

This really is the main issue. I'd be all for multiple sites that cater to users with different needs, but I also cannot volunteer for this. We could turn this around: let's encourage people interested in this to work on it, if it gets traction then we can make it "official" (provided those people continue to volunteer to maintain it). For starters, it can be the same as thin

[2019-09-03 18:18] stefanv commented on #28
Ah, sad, I like Zulip so much more than Slack.

All too visible, unfortunately :)

Agreed—that is the reason why I haven't even tried it for any other projects.

I like that text a lot; thanks, Ralf.

[2019-09-07 19:38] rgommers commented on #37
Great to see there's interest in a larger redesign. @rougier very nice! Like the cubes. Not sure about a web link in the logo, that's unusual - why not just "NumPy" or "NUMPY"?

Colored variations on that from Summer:

![rougier Numpy logo name below-02](https://user-images.githubusercontent.com/98330/64479472-4b35c900-d16c-11e9-8d49-71fc02cd539f.png)
![rougier Numpy logo no name-01](https://user-

[2019-09-08 09:27] matthew-brett commented on #37
Hi,

How would it look with an N on all three visible faces?

For what it's worth, I like these colored versions.

Cheers,

Matthew

On Sat, Sep 7, 2019 at 8:38 PM Ralf Gommers <notifications@github.com>
wrote:

[2019-09-08 13:17] rougier commented on #37
I like the colored version too. What are the colors and the font name ?
I've upload the SVG at https://gist.github.com/rougier/25b3e70127ffe5472263ddea700a0233 for those who want to play with it. You can also do it from scratch using the isometric grid with Inkscape.

It might be also possible to "code" it using matplotlib once there is stabilized version.

[2019-09-09 20:01] rgommers opened #39 "Deployment"
We need to complete several steps:
- [x] Integrate surge.sh to update a sample site per `git push` for review.
- [x] Add deployment to Github Pages using Github Actions. We should use a different Github Pages than what's currently hosting numpy.org (we can use mine if needed, I think each profile only get one?). This should deploy automatically when PR's are merged to master.

@Shekharrajak, am I

[2019-09-09 20:02] rgommers commented on #39
@joelachance converting these to issues, and adding the correct handle for Shekhar

[2019-09-09 20:02] rgommers opened #40 "Website Content"
We're missing some stuff (mostly cool looking images), but copy too. Continue working on this.

New content lives on the branch `newsite` (branched from master of numpy.org), in the directory `/new-content`. We can add and commit updated content there for the time being.

[2019-09-09 20:02] rgommers opened #41 "Build tabbed content similar to https://julialang.org."
Per Ralf's suggestion in the content files, we should add custom tabbed content similar to Julia's site. This isn't included in our Hugo template, so we'll need to build it out.

[2019-09-09 20:02] rgommers opened #42 "User stories"
User stories must have acceptance criteria and a definition of "done."

[2019-09-09 20:03] rgommers opened #43 "NumPy.org site map"

[2019-09-10 08:19] Shekharrajak commented on #39
For 2nd point

As far as I understand there are repositories: https://github.com/numpy/neps, https://github.com/numpy/devdocs, https://github.com/numpy/doc, https://github.com/numpy/numpy.github.com which have commits - the auto generated static HTML files using https://github.com/numpy/numpy, https://github.com/numpy/numpy.org .

So now if we use Hugo for all the static pages like NEPs and pages

[2019-09-10 08:32] mattip commented on #39
Copying the table from [this comment](https://github.com/numpy/numpy.org/pull/25#issue-297752370), here are the github repos under the numpy organization, the trigger that currently causes an update, the destination dummy repo used for github pages, and the link where these github pages are published.

| Content repo | Trigger | Destination Repo | Web link | Notes |
|---|---|---|---|---|
| numpy.o

[2019-09-10 08:34] Shekharrajak commented on #39
1st point  :

For this we need to have some environment variables like `SURGE_LOGIN` and `SURGE_TOKEN` which can be set in `settings->secrets` . I think currently I don't have access for adding secret keys (I am not able to see the settings tab in this repository).

Once I get access I will start working on surge integration .

[2019-09-10 08:36] mattip commented on #39
Note AFAICT github actions is another name for azure pipelines. I hope github actions is still a yaml-style file that is added to the repo and not some obscure gui-based, github-only thing that it will be difficult to manage.

[2019-09-10 08:38] mattip commented on #39
The circleCI integration is in [these lines](https://github.com/numpy/numpy/blob/v1.17.2/.circleci/config.yml#L65), as part of the CI (not an additional bot).

[2019-09-10 08:40] Shekharrajak commented on #39
Yeah thank! I checked the yml file: https://github.com/numpy/numpy/blob/master/.circleci/config.yml

[2019-09-10 09:18] Shekharrajak commented on #39
Few points I have in my mind, just want to share:

1. https://numpy.org/devdocs/ static contents  (like: Reporting bugs, About NumPy, NumPy Enhancement Proposals, etc whichever is independent of the docstring ) should be moved to numpy.org Hugo app.

2. Later on we can move the [numpy/doc/source/dev](https://github.com/numpy/numpy/tree/master/doc/source/dev) .rst files to Hugo app (since the conte

[2019-09-10 09:48] mattip commented on #39
Where would the documents in (1-3) end up in the numpy.org site layout? Right now they are part of the /devdoc and /doc hierarchy (except for the NEPS), I understand you are proposing they go somewhere else? I am missing the big picture design

[2019-09-10 09:56] Shekharrajak commented on #39
Since they are static .rst files I believe it should be in this repository (numpy.org) Hugo version(newsite-branch).
So that we don't need to maintain separate repositories.

Once we have the newsite ready then we can push/commit the `build`  (the generated HTML file from the Hugo) into the `numpy.github.io` repository.

WDYT? Is there any specific reason to put contents in different repositories

[2019-09-10 10:07] Shekharrajak commented on #39
Summary  of my proposal:

**Hugo application -**  We will try to move all the static files which are not referring to docstrings (numpy codebase), can be written simply in `.md` file.

So no this will make the maintains of the docs easy and contributors can add/modify the static pages they don't have to setup sphinx for it and Hugo makes the documentation and development easy.

**Docstring part -*

[2019-09-11 13:34] joelachance commented on #41
Julia is using: https://github.com/CodyHouse/responsive-tabbed-navigation

This as been added to `newsite`. Adding content, testing, then closing.

[2019-09-11 15:06] jakirkham opened #44 "Webpage listing downstream array libraries"
It would be useful to have a page on the NumPy or SciPy website listing downstream array libraries and what features they provide briefly. Pandas undertook a similar effort recently and created [this page]( https://pandas.pydata.org/pandas-docs/stable/ecosystem.html ). In particular the [out-of-core section]( https://pandas.pydata.org/pandas-docs/stable/ecosystem.html#out-of-core ) seems similar t

[2019-09-11 15:59] rgommers commented on #44
Thanks @jakirkham. A whole new website is in the works (in this repo), and your proposal is on my radar. If you'd want to write some content or even just start a list of libraries to include in this issue, that would be very welcome.

[2019-09-11 16:54] jakirkham commented on #44
Cool, thanks Ralf! Sorry for opening this on the wrong repo to start.

[2019-09-11 17:48] rgommers commented on #44
No worries. Gave me the chance to try out this newfangled "transfer issue" feature - I like it:)

[2019-09-11 21:37] rgommers commented on #41
Just showed the current state of `newsite` to a few people in the NumPy community call, just to give everyone a sense of the new style of the design. Overall feedback was very positive.

[2019-09-11 22:11] rgommers commented on #39
It's not, it's GitHub's CI/CD that's still in beta: https://github.com/features/actions. Is quite promising.

About, Reporting Bugs and License yes, I agree. NumPy Enhancement Proposals should stay in Sphinx.

That decision I would postpone. Could make sense, but low-prio.

This I'm also not sure about, let's leave them where they are for now.

Indeed.

`Those are all deployment repos, so they can

[2019-09-19 18:30] InessaPawson commented on #42
Lotte is a library author that depends on NumPy. She is looking for
information about major changes and a release date of the next version of
NumPy. She would like to easily find it on the website instead of
contacting the core team.

[2019-09-19 18:30] InessaPawson commented on #42
Yu Yan was introduced to NumPy in her first week of the Foundations of
Data Science class. She is looking for a NumPy tutorial for absolute
beginners in Mandarin.

[2019-09-19 18:31] InessaPawson commented on #42
Tiago is a software developer. By day, he builds enterprise applications
for a Fortune 100 company. By night, he cultivates his academic interests
in statistics and computer science using various Python libraries. Tiago
has an idea for a new NumPy feature and would like to implement it. He is
looking for information on how to contact the person(s) in charge of such
decisions.

[2019-09-20 13:01] InessaPawson commented on #43
The latest version of the site map is stored here: https://app.flowmapp.com/share/e1b61759a5f95f43d8907baedf42875d/sitemap/

[2019-09-20 14:43] Shekharrajak commented on #43
This is looking nice. It would be great if you can write few points about the page and may be the existing working URL of the corresponding page in the labels. e.g. I didn't get the `Array Computing ` page - means what will be the content there (I can't find the corresponding page in current site)

[2019-09-20 16:40] InessaPawson commented on #43
Thank you for your feedback, @Shekharrajak! Yes, I'm currently working on including more info + content for each page. As far as linking to the existing working URLs most of the proposed is brand new to numpy.org.
“Array Computing” page is proposed in NEP 28 (numpy.org/neps/nep-0028-website-redesign.html). @rgommers would be the best person to answer any questions about it. I haven’t got to it jus

[2019-09-20 17:20] InessaPawson commented on #37
Based on the feedback received from the participants of the latest NumPy community call, I’d like for the community to consider the following ideas for the logo refresh.
![NumPylogo6](https://user-images.githubusercontent.com/43481325/65345776-0452c500-dba9-11e9-8da8-4cfe42269a42.png)
![Numpy_logo7](https://user-images.githubusercontent.com/43481325/65345583-9b6b4d00-dba8-11e9-93aa-adab9cc8c2d4.pn

[2019-09-20 17:26] InessaPawson commented on #37
Here are the colored versions of the proposed above:
![NumPylogo6_color](https://user-images.githubusercontent.com/43481325/65346069-d326c480-dba9-11e9-83a0-648d7f111174.png)
![Numpy_logo7_color](https://user-images.githubusercontent.com/43481325/65346055-cc984d00-dba9-11e9-8788-1fbc0af58c2c.png)

[2019-09-20 18:34] charris commented on #37
I like the #1 version best, #2 is a bit too busy trying to emulate transparency.

[2019-09-20 19:46] shoyer commented on #37
I like the direction this is going!

But maybe the coloration could be a like more... snakelike?
![image](https://user-images.githubusercontent.com/1217238/65353920-28aba300-dba3-11e9-8f31-79926b30a808.png)

This is a little more evocative of the Python logo:

![image](https://user-images.githubusercontent.com/1217238/65353945-32350b00-dba3-11e9-920d-d535852372c0.png)

[2019-09-20 19:47] shoyer commented on #37
Another variation on the snake+grid theme:
![image](https://user-images.githubusercontent.com/1217238/65354639-dd928f80-dba4-11e9-833b-bc3e8c6a737d.png)

[2019-09-20 20:04] eric-wieser commented on #37
I think I'd prefer a coloring where cubes are uniform in color - numpy 3d arrays work in terms of volumes, not surfaces

[2019-09-20 20:50] seberg commented on #37
Think of the color as the value set using advanced indexing ;). Tried a bit with 3x3, after trying to color only sides:
![logo-tries](https://user-images.githubusercontent.com/61977/65358101-9b218080-dbad-11e9-901b-ae8d07ffe702.png)

[2019-09-20 20:53] seberg commented on #37
Scikit image had some nice (but quite different) roundish cube logo ideas, which they probably will not use, so may be worth looking at. @stefanv would know where to look at them.

[2019-09-20 21:37] stefanv commented on #37
![hyperlogo](https://user-images.githubusercontent.com/45071/65360274-1b4ae480-dbb4-11e9-8fba-38cd541ee457.png)
![scikit-image](https://user-images.githubusercontent.com/45071/65360275-1b4ae480-dbb4-11e9-8ea9-65c0fb2ae18e.png)

Here are some designs we were looking at, but like Sebastian said we're currently aiming for something different.

I like the 2nd last and last ones of yours @seberg.  It d

[2019-09-20 22:33] seberg commented on #37
The 3D perception not working out is one of the main issue I also have with some of the designs. @InessaPawson I am a bit curious, are black and white versions allowed to be gray scale to help the 3D perception be less confusing?

[2019-09-20 22:45] shoyer commented on #37
Here's my attempt at a "3D snake cube" with consistent coloring + shading:

![image](https://user-images.githubusercontent.com/1217238/65362756-8a790680-dbbd-11e9-99d7-70a9c5ea5234.png)

[2019-09-20 23:11] seberg commented on #37
Uploaded my SVG with a bit of more trying here: https://gist.github.com/seberg/43b90615b853d195f0c09fbcc955a364 They are not tidy, but if someone wants to play with things its much nicer then pngs...

[2019-09-20 23:37] eric-wieser commented on #37
@shoyer : Nice: I'd perhaps lean towards dropping the white lines between faces of the same cube (more like earlier images in this thread)

[2019-09-20 23:50] seberg commented on #37
Good point, I think in my tries that also works better/makes it a bit cleaner (will try to update it later, but my design is currently not clean enough to actually do it well...)

[2019-09-20 23:52] shoyer commented on #37
No spacing is definitely a little cleaner, but it's not clearly an array anymore:

![image](https://user-images.githubusercontent.com/1217238/65364472-e5fbc200-dbc6-11e9-96ea-54a8decafea3.png)

[2019-09-21 00:07] seberg commented on #37
The idea was no spacing within a small cube I think. But it is a bit tricky, because the the spacing is irregular in some places then, at least unless you show the "hidden" sides, it is just a bit off, lots of things to fiddle around with :).

[2019-09-21 00:19] shoyer commented on #37
Oh OK, that makes sense. Maybe something more like:

![_NumPy logo mock 3x3](https://user-images.githubusercontent.com/1217238/65364991-9f0fcb80-dbca-11e9-89a1-f369aa2be57a.png)

as you can tell, we are quickly reaching the limits of my ability to mock something up in google drawings :)

[2019-09-21 00:42] seberg commented on #37
Hehe, Its tricky. I tried around with it (also with your design) and clean up the whole thing. My design has the gap problem, so one version is cheated (I still somewhat like that hexagonal N idea). I uploaded the SVG to gist again: https://gist.github.com/seberg/9613b53e4854b2d3371175f290dd5763

![logo-no-gap](https://user-images.githubusercontent.com/61977/65365419-07ac7780-dbce-11e9-921b-fc0458

[2019-09-21 00:45] seberg commented on #37
Ops Try that again (one version was accidentally deleted)

![g5213-9](https://user-images.githubusercontent.com/61977/65365467-738ee000-dbce-11e9-8a35-083e62b1c229.png)

[2019-09-21 01:32] InessaPawson commented on #37
First of all, thank you all for contributing to this topic! It's wonderful to see so much creative energy!
@seberg Grayscale is certainly allowed.

[2019-09-21 02:04] seberg commented on #37
I think I like the 3x3 based designs best for now (without a huge preference). A big one is whether we want to retain the "N" in some form. It seems nice, but probably not really necessary. We can probably make 3 versions of the logo in either case. A mini version, without a "NumPy" text, the normal version with a NumPy text, and a "button" version with NumPy/numpy.org or so on the side, like Nico

[2019-09-21 02:52] seberg commented on #37
Should call it a day. Tried toying with the text (the font is free for this purpose, but possibly not perfect actually writing text). I think my tries with Stephan Hoyers idea always turn out a bit too yellow :).

![with-text](https://user-images.githubusercontent.com/61977/65366991-ece2fe80-dbdf-11e9-9732-d1b68a355d12.png)

[2019-09-21 05:19] rgommers commented on #42
Let me try one:)

Maria is a lecture in the new Data Science department. She needs to teach an introductory class about NumPy and numerical computing to students that know basic Python and math. She is looking for material that can be used for _in-person_ teaching in class, rather than tutorials aimed at self-learning.

[2019-09-21 08:06] joeharr4 commented on #37
I like solid-cube coloring.  I like the latter of the scikit-image
ones.  Also the last of the set of 5.  Fewer cubes are better.

Wouldn't we morally want one drawn using NumPy?

--jh--

On 9/20/19 11:37 PM, Stefan van der Walt wrote:

[2019-09-21 08:37] eric-wieser commented on #37
4th and 5th in @seberg's sets look the best to me so far. Not sure how I feel about the Py thing, and the N looks a little off.

I also wonder if it's worth trying some cuboids with a non-equal number of cubes on each edge

[2019-09-21 09:59] rgommers commented on #43
That site map looks cool!

There some content I drafted for `About Us`, `Community`, `Install` and `Learning` at https://github.com/rgommers/numpy.org/tree/newsite-content/www

This would have some general content about what array computing (i.e. computing with n-dimensional arrays, the core of what NumPy is about) and how NumPy fits into the whole ecosystem here and what related projects are. Hav

[2019-09-21 10:41] rgommers commented on #43
A few thoughts on the site map:

- Looks quite complete, I'm not missing anything important.
- `Community Survey`: running the survey is a time-limited thing, but publishing the results on this page sounds like a really nice idea
- `Case Studies`: would put that on the front page, or linked from front page via an image/summary
- `Annual Reports`: the BIDS grant reports can be a good start for that

[2019-09-21 11:33] rgommers opened #45 "Idea #1 for Team page"
This is generated from a simple yaml file that then fetches data from GitHub and creates a gallery: https://datapythonista.github.io/pandas-web/community/team.html

Code at https://github.com/datapythonista/pandas-web/blob/master/pysuerga.py#L43
Thanks for the suggestion, @datapythonista!

[2019-09-21 12:07] datapythonista commented on #43
We discussed with @rgommers that it'd be good for users to have the navigation somehow standardized among projects (mainly for users common to different projects).

You structure looks quite good to me, I like some of the ideas and I think we can adopt them.

But my feeling is that 8 items in the top navigation are too many. In pandas currently we have 4, and I don't think we should have many more

[2019-09-21 12:25] rgommers commented on #43
Not yet; the outlines are starting to become visible in the `newsite` branch in this repo.

[2019-09-21 12:25] datapythonista commented on #45
The code has now been committed to pandas, the new links are:
- https://dev.pandas.io/community/team.html
- https://github.com/pandas-dev/pandas/blob/master/web/pandas_web.py

If you can be interested in the whole `pandas_web.py` script, I'm happy to move it to a separate repo and create a conda package for it. Probably after we integrate the new website with Sphinx. Since we'll need to render the

[2019-09-21 12:32] rgommers commented on #43
Not so sure, I quite like the Dask site. It's still on the minimal side I think. https://jupyter.org/ and https://julialang.org/ have 8 in the menu bar, https://quantecon.org/ has 6, python.org has two menu bars with 6 entries in the top one and 7 in the bottom one.

So I think 6 is the absolute minimum we can get away with; anything in the 6-8 range is fine.

https://dev.pandas.io/ has 4 in the t

[2019-09-21 13:37] charris commented on #37
I still prefer the first version that started all this experimentation. It is simpler, and the colors do a good job of communicating the 3-D cube.  I think the aim should be to have something instantly recognizable rather than explanatory.

[2019-09-21 14:00] datapythonista commented on #43
I think in pandas we like things a bit more minimalist, you can see it in the API. ;)

To focus a bit more the conversation, since the size of the nav bar seem to be a question of preference, I see that those should be non-controversial:

- Install
- Documentation
- Community
- Donate

Some of the differences are:

- About us at the top level: We don't have that much there yet, but I guess it can

[2019-09-21 15:17] rgommers commented on #43
Yes, I think this could be folded into Community, that would make sense. Visibility was a thought, but I didn't think all that hard about it.

I indeed like the way Julia does it. Tutorials, videos, books, courses, cheat sheets. There's enough scope there that I wouldn't just put it under Documentation.

Tools + Libraries/extensions --> Ecosystem does make sense to me. It's not clear that it needs

[2019-09-21 15:26] InessaPawson commented on #43
Yes, that is exactly what I had in mind for the Community Survey page.

Makes a lot of sense!

Instead of a separate page, let’s have sections on the Donate page linking to NumFocus and BIDS annual reports. @rgommers, what do you think?

Done!

[2019-09-21 15:48] datapythonista commented on #43
Thanks @rgommers, good feedback.

I think something like this makes sense to me (and to you for what you say):

- Install
- Learning (probably a single page)
  - Tutorials
  - Videos
  - Books
  - Courses
  - Cheat sheets
- Documentation
  - User guide
  - API reference
  - Release notes
- Community
  - Blog
  - Ask a question (StackOverflow)
  - Discuss (Discourse)
  - Contributing
  - Code of co

[2019-09-21 16:06] rgommers commented on #43
Makes sense, let's do that.

That looks pretty good. Only minor tweaks perhaps:

- Documentation will have some more things for us, like NEPs, f2py guide, and links to older versions of the docs
- Ecosystem: on front page rather than About Us
- Roadmap: not sure, perhaps linked from front page. About Us doesn't seem like the most obvious place.

[2019-09-21 16:15] datapythonista commented on #43
Makes sense, we'll also have to link to older versions of the documentation. I added links to the home page, but I think having it under documentation also makes sense. I updated the tree with the sections specific to NumPy.

For the ecosystem and the roadmap, when you say having them in the front page, you mean in the home, like in the navigation we've got in the middle of dev.pandas.io? Not sure

[2019-09-21 16:22] rgommers commented on #43
No not navigating to it from anywhere, the actual content present on `numpy.org`. See how Ecosystem is done on https://julialang.org/.

I think it's a bit of a waste that there are only links on dev.pandas.io itself, why not put something interesting there?

[2019-09-21 16:31] datapythonista commented on #43
Ah, I see, thanks for clarifying. Our new home is far from finished, we're still discussing what to have there (https://github.com/pandas-dev/pandas/issues/28168).

I added having the ecosystem too, I think it's a good idea. But our ecosystem is huge, we can have the basics in the home, but we'll need to have a separate page too. And I think would be nice to have it in the navigation.

For the roa

[2019-09-21 17:42] datapythonista commented on #43
Did a quick test with our website, and I think the size of the navbar and the dropdowns is great with the current proposal: https://datapythonista.github.io/pandas-web/ (most of the links will be broken, but gives an idea of the navigation).

[2019-09-21 18:10] seberg commented on #37
Not sure which on the first version is, thought I would try the more classical one in the style above (doubt I got the perspective right):

![classic](https://user-images.githubusercontent.com/61977/65377402-23605e00-dc60-11e9-8045-e6f745225c37.png)

[2019-09-21 18:49] charris commented on #37
I mean Inessa's first version up above.

[2019-09-21 20:27] eric-wieser commented on #37
@charris, can you link to the comment you're referring to?

[2019-09-21 21:11] charris commented on #37
@eric-wieser https://github.com/numpy/numpy.org/issues/37#issuecomment-533641971

[2019-09-22 01:00] InessaPawson commented on #43
I love, preach, and practice intuitive, clean and minimalistic UX. While designing the top navigation bar, I’ve carefully considered the needs of all NumPy stakeholders, including the project itself. Our current most pressing needs are contributors and funding. By placing the “Contribute” button in the top navigation bar we will plant an idea in the head of those who haven’t considered contributin

[2019-09-22 01:08] InessaPawson commented on #43
@rgommers I think we should do both.

[2019-09-22 01:15] InessaPawson commented on #43
My vote goes to the third option - placing it on the main page. It should be a part of the intro to NumPy.

[2019-09-22 02:03] InessaPawson commented on #43
Learning
Documentation

@rgommers @datapythonista  Is this order a go? Frankly, I quite liked having "Learning" and "Community" next to each other.

[2019-09-22 02:56] rgommers commented on #43
This is a very good point. We do _really_ need to gain more contributors to various areas of the project. Okay, you've convinced me:)

Agreed on the Roadmap in both places and importance of top-level Learning too.

Donations are unlikely to be a major part of the kind of revenue stream we need, and I don't think it gives the right signal to larger potential funders. So if it's top-level, it should

[2019-09-22 09:06] datapythonista commented on #43
Good feedback, thank you. I made the donation pages a starting point for anyone supporting the project, linking to contribue to. I think pandas has enough contributors (like first timers), and individual donations are also not very significant. I think what makes sense to me is to have contributing in the top level, and make the home page of contributors similar to what is the donations page now (

[2019-09-22 16:46] InessaPawson commented on #37
One of the hardest parts of the creative process is making a final decision.:) We might have to create a poll for it.

[2019-09-22 20:23] seberg commented on #37
Just noticed the faint similarity of ours to the PyPi logo:
![logo-large 72ad8bf1](https://user-images.githubusercontent.com/61977/65393888-de115e80-dd3b-11e9-9de8-55c3f6aec54a.png)

[2019-09-22 21:21] seberg commented on #37
Btw. in case someone is curious, the current serif font used for the NumPy text in the long version of the logo is: TeX Gyre Pagella Math (_of course_ its a tex math font ☺)

[2019-09-23 15:14] InessaPawson commented on #43
Let's fold it under "Contribute" then.

[2019-09-23 18:54] amueller commented on #43
I haven't followed the discussion in detail, but just some thoughts.
I'm by no means a UI or UX designer, but I think that user stories are a good design tool. Have you considered the different user stories?

@InessaPawson also brought up that the menu and landing page are places to create a call for action, which might be another important component. I think I would be more concerned with usabili

[2019-09-23 19:06] datapythonista commented on #43
I think we all agree on the donate. And how I see it is perfectly fine for users if some projects don't have some sections. I think the value is that we don't have the Roadmap in about us in one project, and we call it "Future plans" and have it in the community in another. I think that's unnecessary and makes sense to coordinate. But I assume some differences make sense, since the projects are di

[2019-09-23 19:49] rgommers commented on #37
Sorry about the very delayed reply. Colors are from this palette (also in use for the numpy.org redesign):

<img width="638" alt="image" src="https://user-images.githubusercontent.com/98330/65457357-b01b3f80-de4b-11e9-808f-5370e6892678.png">

Font is Ubuntu Bold.

[2019-09-23 21:50] MostafaOkasha commented on #37
Wow, these redesigns are amazing! Great job everyone for contributing to this, it's great to see people contributing. Where should we take this next? I mean, any of the exhibited logos seem much better than the current one right now.

[2019-09-23 22:04] stefanv commented on #40
Is this the appropriate issue for discussing the front page?

The front page is arguably the most important part of the site, since it has to capture users and focus their attention to deeper within the website.  It took a look at the current mock-up.  It is beautiful, but I feel it goes too far in the simplicity direction: i.e., while it succeeds in not being visually overwhelming, it misses an o

[2019-09-23 22:26] joelachance commented on #40
I really like the Haskell website. I think the interactive command shell quite a bit, and it's a little bit addicting. I now know more Haskell than I did 5 minutes ago :)

That being said, I think that will likely take some time if people are interested in that (I think it would be a great addition). However, I do think we could easily implement something static that will give the same message. An

[2019-09-23 22:31] stefanv commented on #37
![numpy-logo](https://user-images.githubusercontent.com/45071/65467773-1e91da80-de17-11e9-8b4a-ccf040ea36a9.png)

Since we're throwing ideas out there, a design that emphasizes reductions, and still fits in a hexagon.

[2019-09-23 22:41] stefanv commented on #40
The interactive session is fun, but probably a stretch for us to build.  I more wanted to focus on the code snippets and the value they could add.

(That said, an interactive component could be [backed by AWS Lambda quite easily](https://medium.com/@korniichuk/lambda-with-pandas-fd81aa2ff25e).)

[2019-09-23 23:22] joelachance commented on #40
So Haskell (and others) are using this library: https://github.com/chrisdone/jquery-console
I think we can do this easier than I was expecting, but probably not priority #1.

If anyone has an impressive code snippet you'd prefer we use, I can add that for now.

[2019-09-24 00:08] stefanv commented on #40
Maybe something like:

[code]

And then display something like a [marginal plot]:

![image](https://user-images.githubusercontent.com/45071/65471244-60288280-de23-11e9-9908-b32d6dc30c02.png)

Instead of histograms, showing p0 and p1.

If that code snippet is too complicated, something like:

[code]

[2019-09-24 03:50] rgommers commented on #40
Good point, a code snippet would be great. I like that hexbin plot code better. Showing that plot without the code for it is a nice idea. Could you add the code here @stefanv so it can be tweaked (e.g. green needs change to our color scheme)?

[2019-09-24 03:55] rgommers commented on #40
Single expressions are doable it seems, but an actual shell is much harder probably. If it's responsive and backed by AWS Lambda it would be cool indeed ....

[2019-09-24 04:05] rgommers commented on #37
In the call on the numpy.org redesign we decided to take the minimal-change-big-improvement (@rougier's 4x4 one filled in with Summer's colors) to use on the website so we can continue.

A bigger change may be in order too, there's certainly a lot of energy here! I think we need to organize this better though - have either some kind of announced competition, or task a professional designer to crea

[2019-09-24 04:14] rgommers commented on #43
There's a start in gh-42, and we asked on the mailing list for people to contribute more stories. So far not much response though.

It requires asking and having a concrete goal and ways of spending the money. Bokeh just raised over $2,000 in one month (their goal was $1,000) by asking people to support the project to cover web hosting etc.

That said, I agree that it's still minor compared to oth

[2019-09-24 04:26] shoyer commented on #37
If we're going to go for a minimal improvement over our current logo, I would suggest *not* adopting the shift in perspective. Perhaps we could simply drop transparency and add black outlines on the refreshed logo in the top comment?

[2019-09-24 04:28] eric-wieser commented on #37
+1 on not adopting the perspective shift. IMO, @seberg's left two suggestions in [this comment](https://github.com/numpy/numpy.org/issues/37#issuecomment-533818817) are far more minimal a deviation from the current logo than the [one @rgommers refers to](https://github.com/numpy/numpy.org/issues/37#issuecomment-529140758)

[2019-09-24 04:47] seberg commented on #37
Indeed, I am good with minimal change, but I do not think that specific version is the right one :) (probably none of the current one is quite right, although I think I do probably prefer the stylized white gaps instead of the full 3D rendering).

[2019-09-24 04:48] rgommers commented on #37
Fair enough. In that case we indeed don't have the right one yet - perhaps some surgery on the original SVG is the way to go then.

[2019-09-24 04:54] eric-wieser commented on #37
I tried some in-browser surgery to see what's going on - running the following in the javascript console yields some interesting results:
[code]

Seems that the grayish blue layers are draw on top of the other layers, not the other way around

[2019-09-24 05:23] shoyer commented on #37
The result of @eric-wieser's surgery, which is already an improvement!
![image](https://user-images.githubusercontent.com/1217238/65483308-8fa1b400-de50-11e9-84ab-7641fe345284.png)

[2019-09-24 05:38] seberg commented on #37
Nice, hacking :). Trying to edit it in inkscape, I see why Summer gave up...

To be honest, I started to mess around with it to and got the svg linked here (deleting most things except the outer edge): https://gist.github.com/seberg/bcdc78ebd9ea57fa2bea989f0b70b2f1
However, if you look closely, the cubes are not actually aligned correctly on the side, they are slightly shifted at the base. Also th

[2019-09-24 06:02] mattip commented on #40
Running an interpreter instance on a server via javascript can open up security problems and resource abuse. Solutions such as the [PyPy sandbox](http://doc.pypy.org/en/latest/sandbox.html) which recently got and update exist, but are not trivial. We could consider running something like [pyiodide](https://alpha.iodide.io/notebooks/300/) which runs in the user's browser, but I don't think that sho

[2019-09-24 06:30] stefanv commented on #40
The hexbin was just an example, taken from the [seaborn gallery](https://seaborn.pydata.org/examples/hexbin_marginals.html).  It doesn't illustrate NumPy very much.

[2019-09-25 19:48] joelachance commented on #40
100%. However, I am interested in solving this problem. I think this would be really great to have either on the site, or standalone (or both).

I think I may reach out to the person who did Haskell's sandbox and see what he has to say. Looking at what code I can in the browser, I have a feeling their implementation might not be very secure.

Regardless, not our first priority :)

[2019-09-25 20:03] rgommers commented on #40
Cool, be curious to hear what you learn @joelachance.

[2019-09-26 19:31] stefanv commented on #40
AWS lambda now has a layer with NumPy and SciPy included:

https://aws.amazon.com/blogs/aws/new-for-aws-lambda-use-any-programming-language-and-share-common-components/

Our system could be as simple as CodeMirror -> send code to lambda -> display resulting object.  AWS will allow us to set very clear resource limits, and we can switch networking off so that no remote data can be fetched.  We can

[2019-10-02 21:33] stefanv commented on #40
@joelachance I spoke to Chris Holdgraf this morning and turns out this can be done trivially using ThebeLab + MyBinder: https://thebelab.readthedocs.io/en/latest/

Only downside is that it takes a few seconds for the kernel to spin up, but subsequent commands execute quickly.

If we have some money, we could also host our own binder instance, which would make startup very quick (we can pre-pull th

[2019-10-03 15:07] joelachance commented on #40
I will look into this! I never heard back from Chris Done who did the Haskell sandbox. I may try him at Twitter next...

[2019-10-03 17:36] stefanv commented on #40
If you get stuck, you can get in touch with @choldgraf, who also uses this for Jupyter Book.

[2019-10-03 17:41] choldgraf commented on #40
Note that if you ran your own Binder instance, you could also request the kernel upon *page load* instead of waiting for someone to click a button before requesting the kernel. It's all a question of resource management and cost :-)

[2019-10-05 15:31] joelachance commented on #40
@choldgraf, good to know! I'm going to look at this this coming week, I may be in touch with questions :)

[2019-10-09 16:32] InessaPawson commented on #43
We could certainly write 20-25 user stories ourselves (adequate for this size of a project). However, it made sense for this target audience to send out an invitation for collaboration first.

@amueller Please, never underestimate human curiosity!:) I happened to have 10+ experience in web development and digital marketing. It is very common for About Us to be the second most visited page on a web

[2019-10-09 16:37] InessaPawson commented on #40
@stefanv The website content is still at the stage of brainstorming. Excellent timing on your idea for the front page!

[2019-10-09 18:51] mattip commented on #42
John is a data scientist, consuming libraries that use python like TensorFlow. He is running into a problem in his code that emits some strange error, and the traceback shows an exception from NumPy. What should his next step be? When should he open an issue on the NumPy issue tracker?

[2019-10-09 19:04] WarrenWeckesser commented on #42
I am a NumPy and SciPy developer, and although I have been using NumPy for many years, I still have occasion to check the online reference documentation for a function in the latest released version.  I would like to be able to get to the API documentation with just one click from the main page (https://numpy.org/).

For a nice example of what I would find useful, take a look at the [pandas web pa

[2019-10-09 19:49] zjpoh commented on #42
I would like to contribute to NumPy more actively. Since NumPy is such a huge beast, wrapping my head around the functionalities of NumPy is really challenging. I think having a high-level overview / descriptions of NumPy and each of the module would be very helpful. Also, it would be great if C API documentation could have more structure, maybe something to python API. I found it hard to browse t

[2019-10-10 01:54] InessaPawson opened #48 "Uniformity in Hugo and Sphinx template design"
Uniformity in Hugo and Sphinx template design of numpy.org is desired. At the very least the same fonts and color-scheme (https://user-images.githubusercontent.com/98330/63642399-51f41480-c673-11e9-8d22-20315b71c83e.jpg) must be used.

[2019-10-15 17:05] #33 closed

[2019-10-17 12:10] rgommers opened #50 "Hugo build for newsite is broken"
Multiple people reported that the links on the main page seem to loop back to the front page when looking at the site with `hugo server`. I see that too, and rendering into `public/` by running `hugo` shows that the content of `index.html` is identical to that in `install/index.html` and other pages.

@joelachance did this work for you, or are you seeing the same?

My Hugo is `0.58.3`, install wit

[2019-10-17 12:15] rgommers commented on #50
Ah it may have something to do with https://discourse.gohugo.io/t/hugo-extended-needed-for-hugo-fresh-theme/13844/25

Still figuring out what Hugo Extended means.

[2019-10-17 12:23] rgommers commented on #50
Going back to before gh-49 doesn't fix anything for me. Although it does seem to me that part of that PR may have been incorrect, due to (quote from discourse link above):

_We have a policy in which Hugo themes assets should be considered as stable and theme authors who use Hugo Extended features should commit their /resources/ directory so that a theme works in all versions of Hugo._

[2019-10-17 12:24] rgommers commented on #50
I actually have the latest extended version:
[code]

[2019-10-17 12:35] rgommers commented on #50
Tried to update to latest `master` of the Fresh theme, didn't help.

[2019-10-17 12:51] rgommers commented on #50
It's this issue: https://github.com/StefMa/hugo-fresh/issues/70#issuecomment-537851743

[2019-10-18 14:43] rgommers opened #54 "Style About Us Page"
The new link doesn't have `salsalabs` in it anymore, and looks a lot more trustworthy: https://numfocus.org/donate-to-numpy

Needs to be updated on the front page.

[2019-10-18 17:29] InessaPawson opened #55 "Multilingual support with Crowdin"
For the up-to-date information on this issue refer to the following:
 https://github.com/Shekharrajak/scipy-sphinx-theme-v2/issues

Testing with the current NumPy doc: https://github.com/numpy/numpy/pull/14648

The latest Sphinx theme: [Demo link](https://pr-29-scipy-sphinx-theme-v2.surge.sh/)

[2019-10-18 17:33] InessaPawson commented on #45
Very nice, @datapythonista!
The new active link is dev.pandas.io/about/team.html

[2019-10-18 18:05] InessaPawson opened #56 "Cross platform and browser testing for Sphinx generated pages"
The website should work entirely in the last few versions of the most popular platforms (macOS, Linux, Windows, Android) and browsers (Chrome, Opera, Firefox, IE/Edge, Safari), and provide an acceptable experience on IE 8 and 9. It must be WCAG AA compliant.

[2019-10-18 18:06] InessaPawson opened #57 "Cross platform and browser testing for Hugo generated pages"
The website should work entirely in the last few versions of the most popular platforms (macOS, Linux, Windows, Android, iOS) and browsers (Chrome, Opera, Firefox, IE/Edge, Safari), and provide an acceptable experience on IE 8 and 9. It must be WCAG AA compliant.

[2019-10-19 10:01] zztanzz commented on #37
Hi, I would like to contribute to this. Below is my design.
The letter 'N' is made of blocks like numpy array at the same time combining on the right side with a python head (top view) as letter 'P' to be NumPy.
Additional details to the left side of letter 'N' to show the python tail.
Let me know what you think. =)

![logo4](https://user-images.githubusercontent.com/56735352/67142990-5155b400-f29

[2019-10-20 09:21] Shekharrajak commented on #39
Surge integration: https://github.com/numpy/numpy.org/pull/46, https://github.com/numpy/numpy.org/pull/58

[2019-10-21 09:23] #50 closed

[2019-10-23 10:11] hameerabbasi commented on #42
Kartoffel Schmidt is a data scientist/researcher who's writing code for NumPy, and he knows that at some point, he may have to translate his code to use distributed computing, GPU computing or sparse computing. What guidelines should he follow to make sure that his code will be portable across Dask, CuPy or PyData/Sparse in the future?

[2019-10-26 14:13] joelachance commented on #56
Considering this for cross-platform testing: https://www.lambdatest.com/

Any other solutions people know of?

[2019-10-26 14:19] joelachance opened #63 "Add i18n dropdown"
Add a dropdown to switch between sites.

[2019-10-27 20:32] konidev20 commented on #37
Good evening,
I would like to contribute the following design towards the new Num Py.

![numpy_logo_v1_1](https://user-images.githubusercontent.com/5201843/67641198-7051e700-f926-11e9-883d-9ec405dd5bce.png)
![numpy_logo_v1_2](https://user-images.githubusercontent.com/5201843/67641199-7051e700-f926-11e9-9920-56cf953c073a.png)

I've taken a minimalistic approach towards the logo. Something like a lo

[2019-10-29 13:43] charris commented on #40
[code]

[2019-11-01 14:35] Shekharrajak commented on #56
Thanks @joelachance for sharing the link. I fixed few UI and device related things within trial period.

[2019-11-04 15:33] Shekharrajak commented on #30
Relevent discussion: https://github.com/Shekharrajak/poc-hugo/issues/3#issuecomment-525837987

[2019-11-07 12:35] erfannariman commented on #40
One of the most impressive numpy usage I've seen are from [this](https://stackoverflow.com/users/3293881/divakar) user on SO. Definitely worth to check his answers.

[2019-11-09 01:42] #63 closed

[2019-11-09 01:46] joelachance opened #66 "Interactive Shell"
Use Binder to create an interactive shell on the homepage: ThebeLab + MyBinder: https://thebelab.readthedocs.io/en/latest/

[2019-11-09 01:46] joelachance commented on #40
@choldgraf I have binder working and a NumPy shell working in the browser. Splitting this out into another ticket (#66). Thank you for the suggestion, it's working well!

[2019-11-11 02:50] joelachance commented on #41
@rgommers Can we close this one? Or would you like to discuss tab content here?

[2019-11-11 02:55] joelachance opened #67 "Update Footer Layout"
Update the footer layout. See the below image (keep 'old' NumPy logo):
<img width="1679" alt="Screen Shot 2019-11-10 at 8 51 52 PM" src="https://user-images.githubusercontent.com/3891660/68557605-fc224380-03fb-11ea-974f-de6c7b8ba27a.png">

Question: how should an email list function? Should these be written to S3? Emailed to someone?

[2019-11-11 04:25] rgommers commented on #41
yep let's close it, thanks @joelachance

[2019-11-11 04:25] #41 closed

[2019-11-11 14:51] InessaPawson commented on #42
**User Story No. 9**
Christopher writes a monthly column on technology and science in WIRED. His next story is covering the subject of Data Science. He is looking for the interview subjects within the open source Python community who are recognized experts, pioneers, and evangelists for the field.

[2019-11-11 14:53] InessaPawson commented on #42
**User Story No. 10**
Daphne is preparing a keynote speech for the upcoming conference. She needs a high-resolution copy of the NumPy logo to add to her slides.

[2019-11-11 21:35] InessaPawson commented on #42
**User Story No. 11**
As a data scientist, Anika needs to stay up-to-date on the latest information about the software packages and libraries she uses at work. Anika would like to receive it in her inbox.

[2019-11-12 00:19] InessaPawson opened #68 "Citing NumPy"
Publish an example for citing NumPy in academic publications.

[2019-11-12 02:52] rgommers commented on #68
Good point, we need that on the website. Content can be copied from https://scipy.org/citing.html#numpy

[2019-11-12 15:54] Shekharrajak commented on #55
Refer: https://github.com/numpy/numpy.org/pull/61, https://github.com/numpy/numpy.org/pull/62

[2019-11-12 17:24] InessaPawson commented on #42
**User Story No. 12**
Noor used NumPy extensively in her scientific research and would like to acknowledge it in the academic paper she is about to publish. Noor is looking for an example of citing NumPy.

[2019-11-12 17:47] InessaPawson commented on #68
https://docs.google.com/document/d/1fAZOAw-IljHUDSJYFOLa6Xe4IJwamT9GjArTWxj5stk/edit?usp=sharing

[2019-11-13 16:32] Shekharrajak opened #70 "Select language dropdown"
* We can have language options written in that language only. i.e. "Hindi " should be written in hindi language, "Dutch" should be written in dutch language and so on.

* We can use the respective country flags before the language option as well

[2019-11-13 23:00] rgommers commented on #67
Nice!

I'm not sure. I think this came from @InessaPawson's design of the footer, and she had in mind not our regular mailing list but a newsletter? Our regular mailing list signup is documented at https://scipy.org/scipylib/mailing-lists.html. For a newsletter, I have no practical experience with how to do that. I think it requires hooking up to some interface that lets people unsubscribe as well

[2019-11-13 23:45] rgommers commented on #55
Just did some testing, this looks nice! I think for testing we can do Mandarin (@zjpoh offered to help) or Hindi if you want to do that @Shekharrajak. I think Dutch was good to try the interface, but we don't really need/want a Dutch translation - Dutch people are perfectly happy with English usually.

[2019-11-14 15:46] joelachance commented on #67
A couple ideas:
1. There are a couple of services we could use, but I believe  most of them would cost some $$.
2. We could also call a Lambda that would save it somewhere (S3, maybe), but I'm not sure if we have access to any type of cloud functions.
3. We could simply re-direct users to the current site and keep that going.

I'm not sure what resources we have for something like this. I would be

[2019-11-15 04:20] InessaPawson commented on #67
Indeed, this is a subscription form for our future newsletter. I’ve been using  Mailchimp for over a decade. I'm always pleased with the service. This is how you add the Mailchimp sign up form to a website: mailchimp.com/help/add-a-signup-form-to-your-website/
I can see that NumFOCUS uses Salsa Labs. It would be helpful to hear what they think of it.

[2019-11-15 04:57] InessaPawson commented on #67
This is a link to the proposed footer layout: https://app.moqups.com/GDnB7Jy2HN/view
Feedback is welcome.

[2019-11-15 05:04] rgommers commented on #67
Feedback is welcome.

I think you need to click a button to give me access, it's protected it seems.

I can see that NumFOCUS uses Salsa Labs. It would be helpful to hear what they think of it.

Sounds good. I read some reviews, and Mailchimp seems like a good choice. I know there were some issues with Salsa Labs, at least with their donation forms.

I think it's an important factor that you're al

[2019-11-15 05:15] InessaPawson commented on #67
@rgommers My apologies! Let's try again!

[2019-11-15 05:19] rgommers opened #72 "Add a page on when and how to report issues"
See user story at github.com/numpy/numpy.org/issues/42#issuecomment-540139059. Having good issue reporting guidelines is quite important, and our current content is insufficient probably.

What we have today:

1. https://github.com/numpy/numpy/blob/master/.github/ISSUE_TEMPLATE.md
2. https://numpy.org/devdocs/bugs.html
3. https://scipy.org/bug-report.html

It should end up in a sub-page or in the

[2019-11-15 05:21] InessaPawson commented on #67
Mailchimp is great! Also it's free if our contact list is kept under 2k.

[2019-11-15 05:26] rgommers commented on #67
The footer layout looks visually appealing, I like it. Regarding the choice of links, there's 3 columns:

- column 1 is partly overlapping with the main page links at the top of the page
- column 2 is how to interact with us
- column 3 is legal & marketing

is that the design principle?

For column 2, I would consider adding Community. For column 1 I would replace Release Notes with Learning (rele

[2019-11-15 05:27] rgommers commented on #67
ah, that may not last - if 0.1% of visitors sign up, we'll be at the limit within a year.

[2019-11-15 05:33] shaloo opened #73 "Content: Add content for Data Science Tab on the title page under Ecosystem"
All content corresponding to Data Science Tab will be added as part of this ticket/issue.

[2019-11-17 04:45] InessaPawson commented on #67
The thinking behind the presented footer design is as follows. A footer is the last chance for a user to find the information she/he is searching for and offer additional information they might find useful.
Using Google AdWords Keyword Planner, I’ve identified the most popular search terms related to NumPy. Here are the findings:
install numpy
numpy tutorial
numpy array
numpy version
numpy python

[2019-11-17 19:55] InessaPawson commented on #67
I’ve added a YouTube icon to the social media links.

[2019-11-18 00:56] InessaPawson commented on #67
A slightly enhanced version of the same footer.
<img width="750" alt="numpy_footer_v2 0" src="https://user-images.githubusercontent.com/43481325/69017301-11571f00-0974-11ea-8235-28bfcba6ba76.png">
https://app.moqups.com/GDnB7Jy2HN/edit/page/afd330016

[2019-11-18 01:05] rgommers commented on #67
That looks great, and I like the _Google AdWords Keyword Planner_ approach.

[2019-11-18 01:45] InessaPawson commented on #67
A footer acknowledging all the organizations, in alphabetical order, supporting NumPy.

<img width="780" alt="footer_sponsors" src="https://user-images.githubusercontent.com/43481325/69018407-53835f00-097a-11ea-95b6-015025409dd5.png">
https://app.moqups.com/GDnB7Jy2HN/edit/page/adc153396

[2019-11-19 22:55] #66 closed

[2019-11-21 12:34] Shekharrajak commented on #55
Yeah! I will try to do that.

[2019-11-24 01:14] joelachance commented on #70
In addition, it would be helpful to have the dropdown button change every 2 seconds (or so) to read 'Languages' in the included languages.

[2019-11-24 01:16] joelachance opened #81 "Create copy for the NumPy terminal"
We need to create copy above the NumPy terminal on the homepage. A welcoming message and perhaps a code sample might be nice. Ideas welcome.

[2019-11-24 01:20] InessaPawson opened #82 "Homepage - Case Studies - Content"
Add "Case studies" tiles.
Place the segment below "In a nutshell".

[2019-11-24 01:20] joelachance opened #83 "NumPy shell performance"
- [x] Keep binder from loading on every page (only homepage)
- [x] Convert the current 'Run' button to an 'Enable' button so a binder instance loads only when it's wanted.
- [x] Once 'Enable' is selected, render a spinner or loading image until the kernel is loaded.

UX:
- [ ] Have our numpy import at the top of the terminal window, but reposition the prompt below it to indicate to the user the ne

[2019-11-24 01:24] InessaPawson opened #84 "Homepage - "In a nutshell""
Change UI to the two column table.

[2019-11-24 01:24] joelachance opened #85 "Add a scroll down arrow to the 'above the fold' section"
Add an arrow at the bottom of the 'above the fold' section of the homepage to indicate to the user there is more content.

[2019-11-24 01:27] joelachance commented on #67
@InessaPawson

- [ ] Integrate MailChimp

[2019-11-24 01:29] joelachance opened #86 "Update tab styling for mobile"
The homepage tabs need to be updated for mobile. Improve the styling.

[2019-11-24 01:30] InessaPawson opened #87 "Contribute.md"
Change the look of the existing table: 3x4, no borders.

[2019-11-24 01:30] joelachance opened #88 "Content Page Layout"
- [x] Create a sidebar with shortcuts to headers inside the page
- [x] Add a 'Get Help?' link below the shortcuts
- [x] Add the footer to the content pages

The 'Get Help?' link should only render on the following pages:

- Install
- Documentation
- Learn
- Community
- Contribute

[2019-11-24 01:33] InessaPawson opened #89 "Idea #2 for Team page"
Add a snapshot of Google Maps indicating where NumPy contributors are from.

[2019-11-24 01:33] joelachance opened #90 "Create interactive Install widget"
Create an install widget similar to PyTorch's to help users understand the proper install command for their system. This should live on the 'Install' page.

See 'Quick Start Locally': https://pytorch.org/

[2019-11-25 07:03] shaloo opened #91 "#Content: Add content in 'Learn' page on newsite"
Utilize  @InessaPawson  inputs on Learn  [listed here](https://docs.google.com/document/d/170ENOBhBuqpD5w03hxJttC2sd3MepVLp1xhm8cLeHL0/edit?usp=sharing)  to create the 'Learn' page content for NumPy newsite.  Currently, if a user browses to 'Learn' page - it shows 404 not found 1 line error.

[2019-11-25 13:07] shaloo commented on #91
May overlap with #78, need to check before processing further.

[2019-11-26 17:17] InessaPawson commented on #90
@joelachance, @rgommers I'd like to finish it.

[2019-11-26 17:23] joelachance commented on #90
@InessaPawson It's yours!

[2019-11-28 21:00] rgommers commented on #73
done in gh-75, closing

[2019-11-28 21:00] #73 closed

[2019-12-02 04:18] shaloo opened #92 "#Content: Scientific Domains Tab"
Add content related to Scientific Domains in NumPy landing 'ecosystem' .

[2019-12-02 04:29] shaloo commented on #92
@rgommers - here is the workflow I plan to follow for this content addition.

A. Make updates in shaloo/numpy.org fork -> branch issu92_sc_dom

B. Before Pull request
       git fetch upstream
       git checkout master
       git merge upstream/master

C.  Rebase local dev branch (issue92_sc_dom)
      git checkout issu92_sc_dom
      git rebase master

D.  Optional (if squashing is needed)

[2019-12-02 07:52] shaloo commented on #83
Here are some more ideas for copy / layout and example code in terminal on the landing page - refer to attached image, blue text.

<img width="1247" alt="numpy-issue83-inputs" src="https://user-images.githubusercontent.com/5890484/69939774-a9254300-1506-11ea-9fb9-4a017f788d24.png">

[2019-12-02 08:44] shaloo opened #93 "#Copy: Suggested Copy Improvisations for landing page"
@rgommers, @joelachance - Please review and let me know if this copy is better than what currently exists on the landing page. This is a mock up in powerpoint - needs to be translated into html/md - Hugo way - if okayed. Hence this ticket. Not sure if someone is already working on it, if not, I can process this.

<img width="1174" alt="copy-improv-landing" src="https://user-images.githubuserconten

[2019-12-02 10:05] shaloo opened #94 "#Content-Review: All typos will be fixed against this ticket-issue number."
1. Fix the spelling of 'capabilities' in Array computing page content.
2. Change "Array computing is based on arrays data structures...." to "Array computing is based on array data structures."

[2019-12-02 22:46] rgommers commented on #93
I think the textual tweak (start with "fast" under "Powerful N-dim ...", and the text under "Interoperable")  are improvements. I don't think I'm a fan of the gray highlights, since the 1-2 sentences aren't really in need of a summary and it may even be misleading (e.g. the essence of open source isn't "free to use").

So perhaps you can open a PR for just the textual changes?

[2019-12-02 22:54] rgommers commented on #92
Yes. If you make sure your `master` branch is up to date with `upstream/master` and that you create `issu92_sc_dom` from master, that will remove the need for much of what follows.

All good.

No it's not the cause of merge issue. There will be merge issues only if you have created new commits in your own `master`. If so, make sure that such commits are also present in another branch (so you don't

[2019-12-02 23:11] rgommers commented on #81
(moving comment from @shaloo to here):

Here are some more ideas for copy / layout and example code in terminal on the landing page - refer to attached image, blue text.

<img width="1247" alt="numpy-issue83-inputs" src="https://user-images.githubusercontent.com/5890484/69939774-a9254300-1506-11ea-9fb9-4a017f788d24.png">

[2019-12-02 23:24] stefanv commented on #81
Probably worth getting PEP8 right on the landing page, so `np.linspace(0, 10)` instead of `np.linspace(0,10)`, etc.

[2019-12-02 23:27] rgommers commented on #81
I've thought about it some more; it's quite hard to show much in a few lines of code.

Perhaps something like this, showing array creation, indexing and using a method over one axis:
[code]

[2019-12-02 23:36] stefanv commented on #81
Maybe make the dtype `int64` to save on all the printing of dots?

[2019-12-02 23:41] rgommers commented on #81
Okay:)
[code]

[2019-12-04 02:15] shaloo commented on #93
Alright, sounds good.

[2019-12-10 03:37] #92 closed

[2019-12-10 07:13] #67 closed

[2019-12-11 22:21] stefanv opened #100 "Style: font of roles is very small"
![2019-12-11_11:21:33](https://user-images.githubusercontent.com/45071/70665510-8e974c00-1c21-11ea-9539-99bb5e4dbd5a.png)

[2019-12-11 22:23] stefanv opened #101 "Style: Loading icon disruptive"
What do folks feel about removing the concentric circle blip that appears on loading each page?  I, for one, find it quite disruptive on every click / page load.

[2019-12-11 22:25] stefanv opened #102 "Installation instructions can be confusing to newcomers"
The current installation instructions are beautifully simple; well done!

That said, they may be confusing to newcomers.  Conda: "To install NumPy do X or Y" without giving advice on when to use which.  When using pip do X or Y if Python comes with your OS.  Most users may not have any idea whether Python comes with their OS, or whether that is the version they're using.  Perhaps `pip install nump

[2019-12-11 22:41] rgommers commented on #102
Yep, still going to polish this. Also, we want to have a widget like on https://pytorch.org/get-started/locally/, @InessaPawson is working on that.

Nope, `--user` with virtual/conda envs is terrible imho, since it _couples_ environments that should be separate from each other. The only reason to use `--user` is in a Linux distro style setup, where Python is installed in a place with restricted pe

[2019-12-11 22:41] rgommers commented on #101
+1 from me

[2019-12-11 22:42] rgommers commented on #100
this page is still to be updated

[2019-12-11 22:47] matthew-brett commented on #102
`pip install --user` does not work in a virtualenv, sadly:

[code]

I personally run with my --user environment nearly all the time, and dip into virtualenvs when I have to check dependencies or try another Python version.  That's what I'd recommend for pip users.

[2019-12-11 23:35] rgommers commented on #102
nice, that's an improvement over what `pip` used to do, which was just install anyway and create a mess.

Unfortunately there's no universal command that can be given. I think we have to have concise install instructions (as we have now), but add some notes for new users that link out to a page with more detail, to explain about distributions, ways to obtain Python, etc.

I think we should really

[2019-12-11 23:47] matthew-brett commented on #102
I think having multiple environments adds a layer of complexity to the install that will only be useful for a relatively small subset of people (i.e. developers, working on more than one project).

I used to use virtualenvs all the time, but with the improvement in CI,  it became less important for me to test multiple Python versions.  Then I got bored of switching between virtualenvs, and found I

[2019-12-12 00:04] rgommers commented on #102
We should at least teach the concept. I've seen way to many users (including me) with a "God-knows-what-state standard environment" that were in a world of pain, and afraid to `rm -rf` it. There's also `poetry` and `venv` for wheel users that may be worth knowing about.

[2019-12-12 06:03] stefanv commented on #100
Alright! Closing for now to reduce noise.

[2019-12-12 06:03] #100 closed

[2019-12-12 06:21] stefanv commented on #102
Thanks, I wasn't aware of the coupling with `--user`. When it worked, I presumed it had ignored the flag, since I was in a virtual env, but yikes.

So, yes, I think the widget will help because you can choose at least Conda, pip, or say Debian, and then have about the same amount of text you see now for all systems.

@InessaPawson I was thinking of doing a similar widget for skimage using Vue.js.

[2019-12-12 10:05] shaloo commented on #101
+1 for removing

[2019-12-12 14:58] joelachance commented on #101
+1 here as well. This is default hugo-fresh behavior, so we can update it.

[2019-12-12 15:25] joelachance commented on #101
What would be preferred to the current loader?

[2019-12-12 19:34] rgommers commented on #101
No animation at all, just load the page as fast as possible I'd say.

[2019-12-13 05:05] shaloo commented on #91
Closing this as it was just a link problem that @rgommers fixed, (I think) yet to be merged in master.

[2019-12-13 05:05] #91 closed

[2019-12-13 05:12] shaloo opened #103 "Content: ML Tab"
Add content for Machine Learning tab under Ecosystem on landing page

[2019-12-13 05:16] shaloo opened #104 "Content: Array Libraries tab"
Create content for Landing page Ecosystem Tab "Array Libraries"

[2019-12-13 06:06] shaloo commented on #93
PR https://github.com/numpy/numpy.org/pull/105 submitted with suggested changes.

[2019-12-13 14:31] shaloo commented on #103
Updated- refer to PR https://github.com/numpy/numpy.org/pull/106

[2019-12-13 14:36] shaloo commented on #103
<img width="925" alt="Screenshot 2019-12-13 at 8 02 39 PM" src="https://user-images.githubusercontent.com/5890484/70807655-fe553480-1de3-11ea-967a-abb8d3ed7327.png">

[2019-12-15 04:24] InessaPawson commented on #102
@stefanv I was thinking Bootstrap.

[2019-12-16 03:04] #93 closed

[2019-12-23 20:46] joelachance opened #118 "Website Accessibility"
We need to check that the new website can be navigated with browser accessibility tools.

- [x] Test happy paths and make sure there aren't any bugs when navigating with accessibility tools.

[2019-12-23 21:06] #88 closed

[2019-12-29 10:35] shaloo opened #121 "Content: Cleanup Learn page and add improvisations"
The following need to be fixed in Learn page:

1. That content on lines 16-22 of learn.md isn't rendering right now, and I don't think it's helpful. If you're going to work on this page, could you delete that bit?

2. Side navigation and TOC are sort of duplicate means to access content that is already visible.

3. Content re-layout, try to improve access, focus for target audience.

[2019-12-30 06:07] #121 closed

[2019-12-30 11:11] #68 closed

[2020-01-04 17:29] rgommers commented on #103
this is done, closing

[2020-01-04 17:29] #103 closed

[2020-01-04 17:29] rgommers commented on #104
this is done, closing

[2020-01-04 17:29] #104 closed

[2020-01-04 17:31] rgommers commented on #94
I'll close this, main typo was fixed. @shaloo let's do any future typo fixes without an issue, just opening a PR is less overhead and they'll be merged quickly.

[2020-01-04 17:31] #94 closed

[2020-01-04 18:20] rgommers commented on #44
Current status of master:

<img width="614" alt="image" src="https://user-images.githubusercontent.com/98330/71769944-44a33c80-2f27-11ea-8c00-5d8a02ddcf9b.png">

[2020-01-04 18:36] rgommers commented on #85
@joelachance is that the inverse of this arrow?

<img width="390" alt="image" src="https://user-images.githubusercontent.com/98330/71770113-71585380-2f29-11ea-8c7e-fafc01d052aa.png">

Perhaps with getting rid of some of the superfluous whitespace, there's not much left to do here?

[2020-01-04 18:41] rgommers commented on #82
There's two tasks here:

1. Add one or more case studies, as separate pages
2. Add a tile widget on the front page that links to the case study/studies.

These tasks are basically independent. We have content for one case study at the moment - the EHT black hole image (@shaloo already did the concept and diagram). Also there's https://numfocus.org/case-studies/first-photograph-black-hole. We could

[2020-01-04 19:56] rgommers commented on #54
Updated on the About Us page in gh-126. Still needs to be styled nicely.

[2020-01-04 20:16] rgommers commented on #87
The current table is hard to style, fonts cannot be made large enough, and it's hard to change (adding entries will make a table look odd). So I propose to change to a more standard format - that will avoid work as well.

I'll send a PR with a proposed update for the page.

[2020-01-05 03:25] joelachance commented on #85
I'll direct this one to @InessaPawson. I believe she wanted an arrow above the fold to indicate there is additional content below. Not related to the arrow that appears bottom right when you scroll down.

[2020-01-06 04:14] InessaPawson commented on #85
@rgommers @joelachance
Indeed, the idea is to add a scroll down arrow to the homepage to indicate to the users that there is more (and valuable!) information if you scroll down.

Some UX experts argue that using scroll arrows is bad practice since you need to explain your design. While others believe that everyone scrolls anyways, and advise not to bother much with content visibility layout.

As a

[2020-01-06 04:16] InessaPawson commented on #85
To make sure that we are all on the same page, the new numpy.org homepage consists of the four content blocks: interactive shell, ‘In a nutshell’, ‘Case studies’, ’Ecosystem’, footer.

[2020-01-06 04:52] InessaPawson commented on #82
Agreed! I’ll open a separate issue for the design part of this task.

[2020-01-06 05:13] InessaPawson opened #129 "Homepage - Case studies - Layout/Design"
Add the ‘Case studies’ segment below 'In a nutshell' using a tile layout grid and link to the case study/studies.

[2020-01-06 05:18] shaloo commented on #82
Inessa, let me know if I can help with a crisp summary of NumPy's role in case study tile widget.  Once you are done with design (placeholder content), I can improvise. Okay?  May be this is what @rgommers suggested.  Here is a first shot that might be of help to you.
<img width="847" alt="Screenshot 2020-01-06 at 10 46 43 AM" src="https://user-images.githubusercontent.com/5890484/71796893-fcdcfc0

[2020-01-06 05:19] shaloo commented on #82
I've only focussed on content - I'll leave it to you to wave your layout magic wand :-)

[2020-01-06 09:39] InessaPawson commented on #129
@joelachance, could you implement this layout https://github.com/numpy/numpy.org/issues/82#issuecomment-571007398?

[2020-01-06 09:44] InessaPawson commented on #82
That would be great, @shaloo !  Thank you!

[2020-01-06 09:52] InessaPawson commented on #82
Actually, it is @joelachance who is a chief magician in that department.:)

[2020-01-06 13:25] joelachance commented on #129
Yep! Still finishing some interactive shell stuff, but i'll work on some layout improvements next.

[2020-01-06 17:13] rgommers commented on #85
I think that the amount of whitespace will be reduced, while keeping the segmentation into section. I suspect with reduced whitespace it's unlikely not to see that there a next section, so this is probably unnecessary. I'd suggest to leave this issue open for now, but it looks low prio compared to most other issues.

[2020-01-06 17:13] rgommers commented on #85
agreed:)

[2020-01-08 16:05] joelachance commented on #129
@InessaPawson, I'm going to close this issue, it seems to be a duplicate of #82.

[2020-01-09 11:52] InessaPawson opened #138 "Add license text or a link to it to new website"
@rgommers Would you like to add the content of this [page](github.com/numpy/numpy.org/blob/master/old-content/license.rst) to the new website?

[2020-01-09 12:27] rgommers commented on #138
Thanks for the suggestion Inessa. No, I don't want a license page - I much prefer to link to the license file on GitHub, that avoids maintaining duplicate content.

I'll leave this issue open till an appropriate link is put in.

[2020-01-12 07:19] shaloo commented on #45
Hi, the first link team.html is not working.  @datapythonista, @rgommers is this information available somewhere else?  I checked datapythonista.me domain as well but couldn't locate it.

[2020-01-12 07:29] shaloo commented on #82
@rgommers, @joelachance, @InessaPawson  - I don't see any case studies in master (localhost:1313, using last commit 8a13aad Update crowdin.yml) or any pending updates to be merged in open PR list.

 Is someone working on adding basic tiles with default content shown above?  Or is it part of some other issue/PR that is not yet merged? Just wanted to figure out if there is anything I can do to help

[2020-01-12 07:37] shaloo commented on #138
Taking a shot at this one as suggested by @rgommers.  Using https://github.com/numpy/numpy/blob/master/LICENSE.txt in and linking license info mentioned in 'Open Source' section under 'In a Nutshell'.

[2020-01-12 13:48] shaloo opened #141 "NumPy Showcase page"
This page will contain information about key NumPy case studies that showcase its capabilities to a wider audience.

*  Add draft content in a 'Showcase Page'
*  Link respective anchors on this showcase page to NumPy.org landing page case studies tiles once @joelachance addresses #129 layout for the same.

[2020-01-13 12:46] datapythonista commented on #45
Sorry @shaloo, those pages were deployed, and I removed my temporary copy.

- https://datapythonista.github.io/pandas-web/community/team.html -> https://pandas.io/about/team.html
- https://github.com/datapythonista/pandas-web/blob/master/pysuerga.py -> https://github.com/pandas-dev/pandas/blob/master/web/pandas_web.py

[2020-01-13 14:28] rgommers commented on #82
@shaloo no there are no case studies yet, we want to add some. please note that the tile widgets for the front page are an independent task from pages with the actual case studies. The former is gh-129, the latter is this issue.

Given that a nice case study is quite a bit of work, I suggest to start with a single one (the black hole one, since you already have a part of the content for it). The w

[2020-01-13 14:50] rgommers commented on #82
Regarding the other NumFOCUS case studies: I would not just copy those, and certainly not without asking. The CellProfiler one is nice, the other one I'm less sure about. Either way, I'd prefer to come up with a single new one. LIGO would make an obvious choice, the one downside it's physics just like the EHT black hole story. There's other options, see e.g. the "Current usage and impact" section

[2020-01-13 21:29] InessaPawson commented on #89
@joelachance I think the label "design" is more fitting for this issue. I'll go ahead and change it.

[2020-01-13 21:44] #138 closed

[2020-01-13 21:50] #83 closed

[2020-01-13 21:53] #87 closed

[2020-01-13 22:01] InessaPawson commented on #141
Thank you for taking a lead on this, Shaloo! Would you mind to continue communicating about the content for the “NumPy case studies” block in Issue #82. Let’s try not to duplicate issues.

[2020-01-14 03:21] joelachance commented on #54
Updating title of this ticket since the donation link is updated.

[2020-01-17 00:41] MarsBarLee commented on #101
Here's the website without the loading circle, as the original issue requested.
![WithoutAnyAnimations](https://user-images.githubusercontent.com/46167686/72574534-67bedc00-3897-11ea-8d90-6be1baca723f.gif)

Here's the website without any animations the loading circle or any fade-in animation, as Ralf suggested.
![WithoutLoadingFrontPage](https://user-images.githubusercontent.com/46167686/72574546-

[2020-01-17 00:51] joelachance commented on #101
Nice, well done! I also like the third one a lot, but I think I'd end up picking the second. The time between initial page request and usability (I think there's probably an acronym for this I'm forgetting) is most important on the homepage. I'll admit the fade doesn't *really* affect it, I think it'll appear to users as an extra unnecessary moment.

I'm splitting hairs here, but 2 or 3 I think wo

[2020-01-17 04:31] InessaPawson commented on #101
@MarsBarLee , thank you for going the extra mile by giving us several options. I believe most of the numpy.org visitors will more appreciate the speed that comes with the second option.

[2020-01-17 14:35] rgommers commented on #101
Nice @MarsBarLee, both options look great to me! Now that you have both already, you could also put both in with one enabled one disabled and a simple if-statement to switch between them (assuming that's easy now). Then we can try out the prettier option 3, and if it does indeed feel too slow we can just flip the switch.

[2020-01-17 18:34] stefanv commented on #101
Fairly strong preference for nr 2 on my part, but could live with nr 3.  Think of all the times you've watched Powerpoint slides; the animations are cute, but grow tiresome quickly, and thereafter you just want to get to the information.

[2020-01-18 05:50] InessaPawson commented on #43
We will be updating the sitemap as more pages are added. @rgommers , should we keep this issue open?

[2020-01-18 06:09] shaloo commented on #45
@datapythonista, thanks - it looks v v nice!

[2020-01-18 06:59] shaloo commented on #141
There are two aspects - content and design as described by @rgommers . Duplicate of #82, hence closing.

[2020-01-18 06:59] #141 closed

[2020-01-18 08:35] shaloo commented on #82
Alright, makes sense.

[2020-01-18 08:58] shaloo commented on #82
This is pretty cool.  Here is how we could choose to add info about SPE and gravitational waves related scientific discovery in 2016 besides the black hole high impact case study:

Proposed outline of the showcase md (case-studies) page:

* NumPy's versatility - application across industries and domains - short para
* Challenges in measuring NumPy impact - 3200 citations, use model by upstream con

[2020-01-18 15:16] shaloo opened #148 "NumPy Information Map: Park it in Archives in md format"
Ref: https://docs.google.com/document/d/1tJBAv-z1QcRd2mtCME03MxBH3LYNSLa9qqmW2kg57XQ/edit?usp=sharing

created for NumPy.  For now, as suggested by @rgommers, we'll park it in archives and iterate when things change.

[2020-01-18 15:18] shaloo commented on #148
Oops, wrong GitHub repo.  reopening in NumPy

[2020-01-18 15:18] #148 closed

[2020-01-18 17:28] rgommers commented on #43
Let's leave it open for now; makes it easy to find the sitemap, and I think we should revisit this after launching the new site, there's some useful discussion about site structure

[2020-01-18 19:22] rgommers commented on #82
I like that idea, she seems like a good person to reach out to.

I like the idea of sports analytics, and +1 on cricket given that it's one of the most popular sports in India and a number of other countries. I would like to see a better showcase than https://github.com/tvganesh/cricpy though, because that is a tiny and not very well written package.

[2020-01-18 19:25] rgommers commented on #82
I'm wondering if this makes sense. The "NumPy's versatility" paragraph sounds good, less sure about the challenges in measuring one - that feels like it belongs more in a proposal than on the website.

More importantly, if the design is tiles on the home page that link directly to individual show cases, then this generic page cannot easily be navigated to. So I suspect we'd be better off with just

[2020-01-20 02:19] InessaPawson commented on #82
Having a case study on the application of NumPy in sports analytics is an excellent idea, @shaloo !
I’ve been thinking along the same lines. Showcasing the application of NumPy across various industries would engage a broader audience (hopefully some would become contributors), as well as allow to explore opportunities for commercial partnerships with a wider range of businesses.

Another idea for

[2020-01-20 02:53] InessaPawson commented on #28
Stack Overflow is a good resource of information on using NumPy without a doubt. However, as other participants of this discussion pointed out, some SO moderators can be very curt and condescending in communication, which doesn’t reflect the culture and communication style of the NumPy team.
While we are figuring out a friendlier communication channel for the NumPy community, let’s include a discl

[2020-01-20 03:35] shaloo commented on #82
@InessaPawson Tesla sounds cool, can you put me in touch (via email cc) with someone who can help me get more insights on Tesla's use of NumPy?  I can use some help to build a nice case study there.

[2020-01-20 03:48] shaloo commented on #82
Alright, what we could do is just have a para on NumPy versatility on the TILE page itself just before the tiles and do away with the Challenges section.

[2020-01-20 05:45] shaloo commented on #82
Here is the [raw content for Tile Page](https://docs.google.com/document/d/1DaVTwmtdj37_8QeyBsgq90yrfq4RvHu6BNIfJQ9TJzM/edit?usp=sharing)
and here is the draft [content outline for Black hole study](https://docs.google.com/document/d/1sin8muaYCRZF9APVrJaFizq16UoQjvXrH3Vz23xgbi4/edit?usp=sharing) that will be added in numpy.org as a first draft shortly.  Once outline is finalised, I can populate it

[2020-01-21 00:35] joelachance opened #152 "Fix Homepage spacing"
There's too much whitespace between content on the homepage. Improve spacing between sections on the homepage.

- [x] Give the shell 4 borders
- [x] Shrink the space above and below the shell
- [x] Fix key features media query (Goes back to a single row for very wide desktops)
- [x] Change key features background to separate sections
- [x] Remove any additional spacing around sections with too muc

[2020-01-22 03:58] joelachance opened #156 "Review content pages"
Let's improve the content page styling a bit.

- [x] The current width is too wide for desktop. I think a `max-width: 900px` seems reasonable.
- [x] Some of the shortcuts are broken. Make sure we're using `h2` and `h3` headers.
- [x] Update shortcuts width to make it slightly wider to avoid text wrapping.

Create any necessary shortcodes to improve content pages.

[2020-01-22 10:34] anntzer opened #157 "front page could (should?) include a link to the github repo"
Unless I am mistaken, there is no link from numpy.org to github.com/numpy/numpy.  I am personally partial to the classic "fork me on github" ribbon, but it doesn't have to have that, as long as it's easily found.

[2020-01-22 15:58] rgommers commented on #157
Good point @anntzer. The new site has that already in the footer. We'll launch that soon (current master + pending PRs are close to ready, <1 month I'd say), so won't be putting work in the old Sphinx-based site anymore.

Since this is already done, I'll close the issue.

[2020-01-22 15:58] #157 closed

[2020-01-22 21:21] rgommers commented on #101
Fixed, closing. Thanks @MarsBarLee for the fix and everyone for feedback!

@MarsBarLee if in one of your commit messages you would include `closes gh-101` or `fixes gh-101`, then this issue would have auto-closed. Useful for next issues perhaps.

[2020-01-22 21:21] #101 closed

[2020-01-23 02:47] #84 closed

[2020-01-23 02:47] #54 closed

[2020-01-23 03:05] joelachance opened #158 "Update Tabs Content"
Abbreviate tabs content.

- [ ] Limit to a single image per tab
- [ ] Specifically for the "array libraries" tab, move the overview of libraries to the "array computing" page

Abbreviate additional text as necessary.

[2020-01-24 17:11] MarsBarLee commented on #57
Could I take a stab at this? I'll incorporate the [test site Joe suggested](https://www.lambdatest.com/). I don't have much experience making something WCAG compliant besides alt text for images but I can look into that as well.

[2020-01-24 17:18] joelachance commented on #57
Of course! Curious how it goes/what you find.

[2020-01-26 11:10] shaloo commented on #158
Ref https://github.com/numpy/numpy.org/pull/153

This issue will be used to address @rgommers comments wrt tab content:

* I think the content can indeed be reduced a little, in particular limit to a single image per tab (visualization and data science have two now). let's do that in a separate PR though. I also still need to edit the text.
* Specifically for the "array libraries" tab, we can move

[2020-01-26 11:14] shaloo commented on #156
@joelachance, I noticed that on safari (running on MacBook pro),  if I enable the NumPy command console, it does not show up fully - it gets clipped on RHS.  Nor is there any scroll interface to view to the right-most edge of the console if someone is typing a long code line.  Am I missing something or is this a bug?  See screenshot below:

<img width="1188" alt="Screenshot 2020-01-26 at 12 26 47

[2020-01-29 14:03] joelachance commented on #156
@shaloo that is by design. I thought it looked nicer, but if people find it misleading or want something else, we can do that.
What you see is what you get-- there's no scrolling, and nothing off the right hand side of your screen.

[2020-01-30 11:02] rgommers commented on #156
I was wondering what would happen for long lines; scrollbar shows up within the terminal itself:

<img width="623" alt="image" src="https://user-images.githubusercontent.com/98330/73444120-3a266800-4358-11ea-8eaf-023492f7bbba.png">

I don't have a strong opinion, but if I'd have to choose I'd say that a box with 4 rounded corners would be a little better.

[2020-01-30 17:37] joelachance commented on #156
I'll add the interactive shell work to #152 since it's a bit outside the scope of this ticket.

[2020-02-01 20:30] #156 closed

[2020-02-01 20:31] rgommers commented on #152
Also, left over from gh-156 is the styling of the right side of the interactive shell: https://github.com/numpy/numpy.org/issues/156#issuecomment-578491847

[2020-02-01 20:41] #86 closed

[2020-02-05 17:42] #70 closed

[2020-02-09 06:37] shaloo opened #163 "Content: GW Case Study"
Adding GW case study as discussed [here](https://docs.google.com/document/d/1ifGnDDyUJL_keI-wu1ifUKtkRCac-hV3RRXhGzTOazE/edit?usp=sharing):

Also Utilizing all feedback wrt layout received in [issue82](https://github.com/numpy/numpy.org/issues/82) as well.  Creating a separate issue to ensure clarity in two different case study reviews / inputs.

[2020-02-09 06:49] shaloo commented on #163
This won't work - need to have gh_82 merge in (for common cs related image dir etc) before I can process/check in GW case study too. Holding on checkins until @rgommers approves that one.

[2020-02-09 12:27] shaloo commented on #163
Closing this issue, both current case studies BH and GW will be checked  in part of #82

[2020-02-09 12:27] #163 closed

[2020-02-09 14:21] shaloo commented on #82
Adding Gravitational Waves Case Study content via this issue ticket.

[2020-02-15 19:00] #82 closed

[2020-02-15 19:02] rgommers commented on #82
We've got two case studies now, the EHT black hole imaging, and LIGO gravitational waves observation (gh-160).

For the third one (sports analytics) I'll open a new issue, to not keep this one growing.

[2020-02-15 19:05] rgommers opened #164 "Case study - sports analytics"
Follow-up to gh-82. The proposed case study by @shaloo is:

_Sports analytics ( I noticed that NumPy was used in data analytics in IPL - a big time cricket tournament($$$) in India and SE Asia. See https://gigadom.in/2018/10/28/introducing-cricpya-python-package-to-analyze-performances-of-cricketrs/ May be similar data can be obtained from other sports that use NumPy for athlete performance analys

[2020-02-15 19:06] rgommers commented on #82
There's also the Tesla idea here, but not sure that we're planning on doing that any time soon?

I think we can go up to 6 case studies on the front page at least, maybe more.

[2020-02-16 02:20] rgommers commented on #129
done in gh-159, closing

[2020-02-16 02:20] #129 closed

[2020-02-18 14:38] shaloo commented on #164
Initiated some email conversations with a couple of folks who have published studies on Cricket Analytics (that uses NumPy, Pandas etc.).  Working on the outline in Google docs. Once I have substantial information, will put it together in the Hugo case studies format. Fyi.

[2020-02-19 13:18] Shekharrajak opened #167 "Surge setup in travis CI"
Refer: https://github.com/numpy/numpy.org/pull/166#issuecomment-587494034

[2020-02-20 02:47] seberg opened #168 "Rendering seems to be off on high resolution screens"
On my computer, the website is rendered not very well. Also at the bottom the case studies are not all three next to each other. This happens both with chromium and with firefox.

See attached image, let me know if you need some other information.
![Screenshot from 2020-02-19 18-45-08](https://user-images.githubusercontent.com/61977/74896099-39c23100-5348-11ea-9c0a-e19bbee6a741.png)

[2020-02-20 11:15] InessaPawson opened #169 "Inconsistency in language selector dropdown visibility"
Some web pages don’t show the language selector dropdown.

[2020-02-20 15:07] joelachance commented on #168
@seberg, could you be more specific? We're aware of the whitespace and are going to re-style very soon.

We're going to comb over the homepage and fix all the spacing and minor issues, which I think you might be alluding to.

[2020-02-20 16:14] seberg commented on #168
Hmm, yeah, maybe the abundance of whitespace is just more extreme, the case studies are not all next to eac hother as well, but not sure if that is not the same, known, problem:
![Screenshot from 2020-02-20 08-12-59](https://user-images.githubusercontent.com/61977/74955141-0c619b80-53b9-11ea-961d-cf5e2f773674.png)

[2020-02-20 16:51] joelachance commented on #168
Typically it's good to not let content spill out too wide. I can tell your resolution is pretty high too, which will add to the whitespace a bit :) That being said, I agree, we can get those all in one row.

[2020-02-20 17:10] seberg commented on #168
I am not actually what bit me/us the wrong way, maybe the font also look just small compared to the space the whole layout takes?

[2020-02-20 17:19] joelachance commented on #168
Good observation, I'll take a look!

[2020-02-22 01:28] MarsBarLee commented on #57
Quick update: most issues I've seen so far are related to screen/device size, rather than operating system or browser. In many mobile devices the footer is missing, the navigation bar icon is repeating twice and clipping itself or too much white space. I'll look into CSS media queries and start on that tomorrow.

[2020-02-26 20:24] MarsBarLee commented on #118
As suggested in a previous PR involving web-accessibility, I'll look into adding aria-labels.

[2020-02-28 23:30] joelachance commented on #169
This actually is not a bug. The navbar partial checks if there are translations for a given page, and if there aren't any, it won't render the language dropdown (since there's no other language available for that page). The attached PR comments out the Language dropdown until we're in a better place with translations, per @rgommers

[2020-03-02 12:07] shaloo commented on #164
Here is the first draft. Haven't heard from some of the paper authors referenced in this case study about details.  So far all this data is based on public info mentioned in Google doc references.

I'm facing some git PR issues (more commits show up older ones, instead of only the ones for this case study - trying to sync up my fork/branch).  Meanwhile here is  sneak peak:

Here is how the tiles p

[2020-03-04 03:06] shaloo opened #172 "Templates: Add presentation templates in NumPy.org"
Sample presentation templates for NumPy talks
Format
* Google Slides
* Powerpoint

[2020-03-08 15:11] rgommers commented on #169
Thanks @joelachance, makes sense.

[2020-03-08 15:13] #169 closed

[2020-03-10 22:27] rgommers commented on #164
Ah that answers one of my questions from the PR, sounds like you contacted them and are waiting for replies.

[2020-03-14 02:28] rossbar opened #175 "Review of EHT Case Study"
I was able to take a look at the EHT case study - I think they look really good! You all have certainly done a nice job researching everything!

I had gone through and explored the EHT and GWO examples for [a presentation](https://github.com/BIDS-numpy/presentation-uofm-2020/) back in January, which included using `eht-imaging` and `pycbc` to reproduce the black hole image and GWO "chirp" signal,

[2020-03-14 07:59] shaloo commented on #175
@rossba, many thanks for your valuable inputs and reviewing it. Please go ahead and create a PR with suggestions.  I'd certainly like to make sure that the case study is more accurate and fine tune it for better clarity.

Looking forward to your inputs on GW - LIGO one as well.

[2020-03-14 08:01] shaloo commented on #45
Taking this up over the weekend...thx!

[2020-03-14 16:46] rgommers commented on #28
Done in gh-178, added notes on no moderation and requests to respect the CoC.

[2020-03-14 16:47] rgommers commented on #172
This was done in https://github.com/numpy/archive/pull/28, so closing here.

[2020-03-14 16:47] #172 closed

[2020-03-14 16:49] rgommers commented on #72
Leaving this for later, it doesn't fit on Community or Get Help pages. Could be a separate page, but can be done after website launch.

[2020-03-14 22:52] rgommers commented on #102
With the changes in gh-179, the commands on the main page are now down to:

<img width="664" alt="image" src="https://user-images.githubusercontent.com/98330/76691769-dda0b300-664e-11ea-8f4d-9cb24e000e51.png">

That should address the initial concern I think.

[2020-03-15 12:29] rgommers opened #180 "Italics are rendered in red"
This is a small issue, it got introduced at some point, should just be gray/black.

<img width="701" alt="image" src="https://user-images.githubusercontent.com/98330/76701382-eb8f1c00-66c0-11ea-8ffc-5f20105f01ca.png">

[2020-03-15 12:29] rgommers commented on #180
Having code snippets in red is good, just not italics.

[2020-03-15 12:52] #28 closed

[2020-03-16 03:28] rossbar opened #182 "Review of GWO Case Study"
A few comments on the LIGO/GWO case study (related to review of EHT case study in #175)

Again, my overall take from a quick readthrough is very positive - it's a very interesting article that, in my opinion, does a great job highlighting a really compelling example!

Some thoughts on a few things that stood out to me:

 - The image at the top is very nice, but I would also cast a vote for includi

[2020-03-16 05:36] #57 closed

[2020-03-16 22:18] rgommers commented on #180
Ah, just saw this in the notes of the last meeting minutes:

_Red italics and typeset code It’s in UIkit, easy to fix. The italics should be black, for code the suggestion is dark blue._

[2020-03-17 22:04] MarsBarLee commented on #168
This is how the site looks like in 2560 x 1440, which was the resolution the issue opener used.
![numpyoriginal](https://user-images.githubusercontent.com/46167686/76905551-8d0c9e00-6878-11ea-8904-51b43da64759.png)

This is the mock-up with some changes I'm thinking of implementing.
![numpyedited](https://user-images.githubusercontent.com/46167686/76905577-9ac22380-6878-11ea-89d6-0f26eec110a0.png)

[2020-03-18 00:11] joelachance commented on #168
I'm updating the shell (above the fold) section, so expect that to change. I'm moving the NumPy title/CTA & the shell into rows vs. columns, so I think it'll look nicer and more centered.

As far as the rest, I think what you have looks nice! I'd like to try and maintain a max-width similar to the width of the nav bar, which I believe matches what you have in your layout.

[2020-03-18 00:41] seberg commented on #168
Yeah, I think maintaining a max-width is probably a very good idea and solves all these issues (no matter what other layout changes are upcoming).

[2020-03-18 19:50] MarsBarLee commented on #168
Hi @seberg, made some changes in gh-183

[2020-03-18 20:26] stefanv commented on #152
I built today, and this still seems like a blocker for release.

[2020-03-18 20:39] rgommers commented on #152
Yep, @joelachance said on Slack he has work in progress for this

[2020-03-18 21:43] #168 closed

[2020-03-19 13:39] rgommers commented on #45
Thinking about who to list. Some thoughts:
- I like the Pandas ordering: Contributors, then Maintainers, then other teams.
- We have a Steering Council which Pandas doesn't have; I think that is less important Maintainers, so let's just list those towards the end under Governance.
- I'd be inclined to do it like Pandas and put active Maintainers in the gallery, and use Emeritus Maintainers for peo

[2020-03-19 13:40] rgommers commented on #45
@shaloo would it be easy to have separate galleries for Web and Documentation teams?

[2020-03-19 13:54] stefanv commented on #45
I was surprised when I read this at first, so to clarify for others who may also read this incorrectly: Pandas does not list all contributors first, they are mentioned as a group ("1500 contributors"). Maintainers are then listed, individually, with photos.

[2020-03-20 00:32] joelachance commented on #85
The 'Key Features' section is now visible above the fold. Closing ticket.

[2020-03-20 00:32] #85 closed

[2020-03-20 08:15] shaloo commented on #45
Yes, we can do that.

[2020-03-20 08:17] shaloo commented on #45
Ok can be done provided I have a list of who’s who. At present I simply fetched top 18 contributors from Github in order to try out @datapythonista suggestion above.

[2020-03-20 11:49] InessaPawson commented on #45
AstroPy has done a good job on outlining roles and responsibilities within the project.
(See here: https://www.astropy.org/team.html) I’m not sure if we are there yet with the headcount.

[2020-03-20 12:45] joelachance opened #186 "MailChimp Integration"
Using @InessaPawson 's login creds, integrate MailChimp into the footer email signup form.

Relevant docs: https://mailchimp.com/help/add-a-signup-form-to-your-website/#Generate_embedded_form_code

[2020-03-20 13:12] joelachance commented on #48
@Shekharrajak , hoping we can pair on this one.

Here's what I've been using for the website, which I'll admit is probably different than what Inessa linked in the description and probably what you're using in the updated Sphinx theme.

Some of the colors and fonts I've been using (mostly coming from http://www.flatuicolorpicker.com/)
#013243 (dark blue)
#ffc553 (gold/yellow)
#ececec, #eee  (off-w

[2020-03-20 13:25] joelachance commented on #118
Some additional changes on branch: feature/118-accessibility

[2020-03-20 13:36] joelachance commented on #118
@MarsBarLee @rgommers @InessaPawson

I just did a quick once-over with Mac's VoiceOver and things look pretty good. CodeMirror (our interactive shell) isn't set up very well for accessibility, but I'm not sure there's much we can do there. Overall, I was able to navigate the site without any major issues.

One callout is that the install instructions aren't called out as code blocks in VoiceOver,

[2020-03-20 15:54] #180 closed

[2020-03-21 17:05] #152 closed

[2020-03-21 21:04] #186 closed

[2020-03-21 21:05] #102 closed

[2020-03-21 21:17] rgommers commented on #45
That's indeed quite nice. We're definitely not there yet. Would like to get there at some point though - maybe approaching that level of role clarity by the end of the year.

[2020-03-21 21:45] rgommers commented on #45
Putting together the names for this page was a little challenging, and because we don't have formal teams and roles yet, here is my best attempt:

[code]

It also highlighted again that we have multiple people with commit rights who haven't contributed in years, I'm inclined to clean that up. I listed here only _active_ maintainers and web/docs team members. I also judged "maintainers" to be the k

[2020-03-21 21:55] shoyer commented on #45
@rgommers Thanks Ralf, this looks great to me.

[2020-03-22 09:45] InessaPawson commented on #48
@joelachance #ffc553 (gold/yellow) is spot on, it's one of the NumPy official branding colors. I like the use of the various shades of gray too.

Regarding the choice of font, an elegant and modern font, Ubuntu doesn't seem to enhance the UI of numpy.org. I like the use of Lato better.

[2020-03-22 09:59] InessaPawson commented on #118
This is above and beyond, @joelachance! Thank you for doing this!

[2020-03-22 10:08] InessaPawson commented on #30
@joelachance @rgommers Now, that we are so close to the launch, let's set up an account with Google Analytics.

[2020-03-22 15:43] rgommers commented on #30
We already have Cloudflare set up, which gives the analytics I put a screenshot for above. I think we're good here for now, I don't see an issue staying with GitHub Pages + Cloudflare.

[2020-03-22 16:53] joelachance commented on #30
I mostly haven't been apart of any work in this ticket, but is there still work to be done here or can we close this ticket? @rgommers

[2020-03-22 16:54] joelachance commented on #48
@InessaPawson agreed, I feel the same.

Regarding the colors, I do think some of the 'less bright' colors modernize things a bit while keeping the color scheme. I'm happy to do whatever here. Curious what was used for the Sphinx refresh @Shekharrajak!

[2020-03-22 17:37] rgommers commented on #30
Let's close it - we'll do the first deploy manually I think, and deal with auto-deploy to GH Pages once we have some more safeguards in place.

[2020-03-22 17:37] #30 closed

[2020-03-22 18:01] Shekharrajak commented on #48
Hi,

While choosing color scheme,  I looked at previous site and took the one which suits the most (in my opinion, since it was not discussed that time). I used : #4dabcf , white, #404040 (in some background), #d9f4ff (for code highlight background color).

Need to do changes accordingly. Tracking it here: https://github.com/scipy/scipy-sphinx-theme-v2/issues/30

[2020-03-22 19:03] rgommers commented on #175
@rossbar are you still planning to put this in a PR? That would be very welcome! We're getting close to being ready for launch, if you could prioritize this that would be super helpful.

[2020-03-22 19:57] rossbar commented on #175
Sure, I will get to work on it ASAP

[2020-03-22 20:38] rgommers commented on #40
Okay this is all done and can be closed. The shell content in this issue is superseded by gh-81. Thanks everyone for the input!

[2020-03-22 20:38] #40 closed

[2020-03-22 21:18] rgommers commented on #26
I think I'll close this, given that we now have an interactive terminal and no further plans to do interactive tutorials on this website. We did create a new `numpy-tutorials` repo and are likely to hook that up to Binder once we have a good amount of content.

Thanks for the idea @dashohoxha

[2020-03-22 21:18] #26 closed

[2020-03-22 21:48] joelachance commented on #48
@InessaPawson, would you like to make an executive decision here? @Shekharrajak & myself can triage and make sure things are uniform.

[2020-03-22 21:53] #118 closed

[2020-03-23 13:01] shaloo commented on #45
Early draft of team.html page based on grouping suggested above:

<img width="679" alt="Screenshot 2020-03-23 at 6 28 58 PM" src="https://user-images.githubusercontent.com/5890484/77319128-4a453d00-6d34-11ea-8ee0-d5381a227708.png">

<img width="685" alt="Screenshot 2020-03-23 at 6 29 12 PM" src="https://user-images.githubusercontent.com/5890484/77319179-5fba6700-6d34-11ea-8d1e-105d337323f0.png">

[2020-03-23 13:06] shaloo commented on #45
Regarding integrating this script, here are some initial thoughts.  Let me know if you have other/better ideas:

* Typically, team list is static so it does not make sense to generate this page at every hugo build.
* The script uses GitHub http request to obtain details (avatar, id, etc) of team members. Github requests are limited and cannot be done more than x number per day. So the script has a

[2020-03-23 13:52] Shekharrajak commented on #48
Yeah, sure! Go ahead.

[2020-03-23 14:15] charris commented on #45
We should give Anne Archibald an emeritus entry, she had commit rights when we were on svn that got lost in the move to github because she had moved on.

[2020-03-23 14:24] rgommers commented on #45
Looks great @shaloo!

Thanks @charris, good point about Anne. @shaloo could you add her? I was actually thinking to have the emeritus maintainers just as a list of names, not a gallery (rationale: they're gone, so de-emphesize a little).

Agreed, your approach sounds good.

I suspect that this will be nicer than another separate page.

[2020-03-23 14:28] charris commented on #45
And Alex Griffin had the cool snail avatar. See https://github.com/argriffing @argriffing. He disappeared so suddenly and completely that I worry.

[2020-03-23 14:32] charris commented on #45
Anne is @aarchiba on github.

[2020-03-23 14:36] charris commented on #45
I kind of like the gallery.

[2020-03-23 18:09] #81 closed

[2020-03-23 19:25] stefanv commented on #45
@rgommers I'm not sure about the list of emeritus maintainers. Several of these folks do not seem to qualify, but it could be that I missed substantial contributions from them. What is the rule for inclusion here?

I also notice that @jarrodmillman is not listed, who managed 5+ releases and coordinated several important community meetings.

[2020-03-23 19:38] rgommers commented on #45
Thanks @stefanv, good catch - added Jarrod. And valid point on criterion.

The ones you mean are probably Alex Griffing, Ondrej Certik, Jonathan Helmus and Francesc Alted. They all have commit rights, and were part of the NumPy team at some point. I agree that their contributions are all fairly marginal to be considered for this list. Happy to remove them all, seems fair indeed - there are many ot

[2020-03-23 19:41] rgommers commented on #45
fixed that too - they no longer have commit rights

[2020-03-23 19:46] certik commented on #45
For the record, my contribution was that I put in many months of work to get NumPy 1.7 out and was the release manager for it. It didn't translate to a lot of commits, but it took a lot of time to figure out how to fix things and how to get everything working on all platforms and how to coordinate with all the contributors.

[2020-03-23 20:07] rgommers commented on #45
@certik thanks for pointing that out. Yes I definitely remember you did 1.7.0/1! It was even longer than I remembered (Jul-Apr), and one of the more painful releases in NumPy's history. I think your contributions were more substantial than the others mentioned above. There's also still a bit of a gap with Jarrod/Jaime, who contributed for 3 or more years - let me confer with @stefanv on this list.

[2020-03-23 20:07] rgommers commented on #45
Oops, somehow also forgot Pearu - added.

[2020-03-23 20:15] certik commented on #45
@rgommers indeed, it was a lot of work, over a long period of time at a point when nobody wanted to do this job for NumPy. Whether that meets the bar for this issue is up to you. But I just wanted to set the record straight regarding my contributions to NumPy.

[2020-03-23 21:35] charris commented on #45
Having too many emeritus contributors is not a problem we should worry about, having too few is more likely to ruffle someone's feathers.

[2020-03-24 11:00] shaloo commented on #45
Taking into account suggestions above, here is the second draft.
<img width="1011" alt="Screenshot 2020-03-24 at 4 24 47 PM" src="https://user-images.githubusercontent.com/5890484/77418374-ce5afb80-6dec-11ea-9e2c-28e24ac93236.png">
![Uploading Screenshot 2020-03-24 at 4.25.02 PM.png…]()

[2020-03-24 11:50] InessaPawson commented on #30
@rgommers I thought we were leaning towards GitHub Actions.

If Cloudflare is preferred, frankly I'd still set up with Google Analytics to get insight on keywords/phrases that are driving traffic to the website. That would give us a better understanding of what content is missing or needs to be expanded, as well as optimize the footer by including the links to the most visited pages. I’m sure we w

[2020-03-24 13:50] rgommers commented on #30
It's just a "can't keep postponing the launch forever" - it's not a hard requirement to do via CI, so can do after first launch (if we want it to be in the next 5-10 days ...).

That sounds good, if Hugo support (https://gohugo.io/templates/internal/#google-analytics) works it should not be too much work. I'd also keep it for later though - we're really stretching to get the must-haves done.

[2020-03-24 19:07] MarsBarLee commented on #90
@InessaPawson Can I give this a go?

[2020-03-24 19:26] rgommers commented on #90
Here's the content Inessa and I exchanged a few months ago that never made it to this issue:

(@rgommers) Here are the things I propose to put in (adapted from https://pytorch.org/get-started/locally/):
- Your OS: Linux, macOS, Windows  EDIT: could consider adding ARM64 and/or other OSes (Alpine, AIX, etc.)
- Package manager: Conda, Pip, from source
- Python version: 3.6, 3.7. 3.8
- Run this comma

[2020-03-24 20:13] MarsBarLee commented on #90
@InessaPawson I'm getting a 404 error for both https://github.com/InessaPawson/numpy.org/blob/master/layouts/partials/installnumpy.html and
https://github.com/InessaPawson/numpy.org/blob/master/static/js/install.js

I checked your fork as well, and didn't see the files there. Is there another link I can use?

[2020-03-24 23:26] InessaPawson commented on #90
@MarsBarLee I deleted everything during the latest spring cleaning. :)
Frankly, the most valuable information in those two files was where goes what.
_html page:_  layouts/partials/
_script:_ static/js/
I was thinking to use Bootstrap.js for it.

[2020-03-25 00:01] InessaPawson opened #198 "Google Analytics for numpy.org"
Set up an account with Google Analytics.
See the docs for integration on Hugo: https://gohugo.io/templates/internal/#google-analytics

[2020-03-25 02:36] InessaPawson commented on #48
@Shekharrajak @joelachance Let’s narrow down the website color scheme to the following:

<img width="800" alt="numpyorg_colorscheme" src="https://user-images.githubusercontent.com/43481325/77495224-af637480-6e93-11ea-8804-e36391e206d6.png">
https://coolors.co/ffc553-013243-ffffff-eeeeee-6c7a89

The first two (#ffc553 and #013243) to be **primary/dominant colors**.

[2020-03-25 12:29] rgommers commented on #45
Thanks for the input everyone, and the new draft @shaloo.

First off all, someone pointed out to me this phrasing didn't sound right: _"fairly marginal to be considered for this list"_. I apologize if that came over wrong - I definitely did not mean to under-appreciate anyone's efforts! What I meant was that what I (and I think also @stefanv) had in mind for "emeritus maintainer" status was people

[2020-03-25 13:51] joelachance commented on #198
This looks like it would be about 2 minutes of work, but we'll need a tracking ID.
@rgommers, who might be able to sign up for GA and get a tracking ID? I'm happy to do it, but assuming we might want this under a NumPy account.

[2020-03-25 15:19] rgommers commented on #198
I have no experience with GA, but seems from things like https://www.optimizesmart.com/understanding-account-property-view-users-google-analytics/ that it just needs a Gmail account, and then can be shared? We have no numpy-wide account, only a shared Google Groups thing but that won't help.

Maybe best if I set it up with the same Gmail account that's also connected to the NumPy Twitter account?

[2020-03-25 15:27] joelachance commented on #198
That sounds good to me! Thank you for doing that.

[2020-03-25 15:37] seberg commented on #198
@rgommers Ok, can you make sure to add that info to the NumPy logistics repo? (just to be sure, I bet you would have)

[2020-03-26 06:22] shaloo commented on #45
ok. Will do that in the next couple of hours.

[2020-03-26 17:03] shaloo commented on #45
Done. Pls review.

* Original Team.md generated html was linked in about page - so about page is now updated to refer to gallery team page generated using this script and stored under static/gallery area - recommended by Hugo devs (to include html).

*Original Team.md page was redundant (checked, not referred to from anywhere else), so deleting it from content/en/team.md  This page has a new avata

[2020-03-28 11:02] rgommers commented on #44
The array computing page and this tab are one of the last ones still needing review - should be done by the end of the weekend.

[2020-03-28 11:25] Shekharrajak commented on #48
So no blue type colors ?  Which is used to be in old sites ? It is in logo also.

[2020-03-28 11:41] InessaPawson commented on #48
@Shekharrajak This is the color scheme for the website design.

[2020-03-28 11:42] rgommers commented on #158
This also is on my list for this weekend.

[2020-03-28 11:46] InessaPawson commented on #48
@joelachance Please help us to make a list of the font colors that have been used for numpy.org.

[2020-03-28 16:35] rgommers commented on #45
Can you expand on this? It seems weird to me, since regenerating the html is very cheap. Only retrieving data from the GitHub API should be cached I'd think.

[2020-03-29 16:02] rgommers commented on #198
Okay, set up. Tracking ID: `UA-162151853-1`.

If anyone wants access, please let me know with which email address and I'll add you.

[2020-03-29 17:45] joelachance commented on #198
I can look at this if you add me: jlachance1@gmail.com.

[2020-03-29 17:46] joelachance commented on #48
I'm looking, and there's a couple we can probably combine. Let me PR those so we have a white, black, and maybe 1-2 grays.

Stay Tuned...

[2020-03-29 17:53] rgommers commented on #198
Thanks @joelachance. Done, you should have full edit rights for that GA account.

[2020-03-29 17:53] shaloo commented on #45
Yes generating html is cheap and fast if you use stored content.  What I meant by above is, in hugo forum I came across a conversation where folks were looking for a way to incorporate statically generated html files as part of their hugo site content and the response was to add the html file in static area and refer to it elsewhere in Hugo content.  As of now, I have taken the same approach.

[2020-03-29 17:57] rgommers commented on #45
Okay, I think that discussion may have been about some externally-generated html then. In this case I don't see why we would treat the Team page different from the other pages - it's all html pages generated by Hugo itself.

[2020-03-29 18:16] shaloo commented on #45
I think I am missing something that you are suggesting here.  Afaik, the static html page is generated by script and then plugged in hugo - so it is external in that sense.  Who runs the script and when?  It is run once and not at every Hugo build.  So this team html page is like a png (sort of) for hugo.  What am I missing?

[2020-03-29 18:35] rgommers commented on #45
Ah I see the confusion. The last part of the script does use jinja2, I missed that. It does very little though. For each gallery all it does is a for-loop over the entries in `team.context`, and then inserts the same `<div class="card rounded"> ... ` card. I think it'd be much cleaner to do that with Hugo itself: https://gohugo.io/templates/introduction/#iteration.

However, we could open a separa

[2020-03-29 23:33] InessaPawson commented on #198
@rgommers I'd like to have access. albuscode@gmail.com Thank you!

[2020-03-29 23:58] InessaPawson commented on #48
@joelachance Please remember to include the red color used for the code.

[2020-03-30 10:42] rgommers commented on #198
Added you @InessaPawson

[2020-03-30 11:11] InessaPawson commented on #48
I’ve given further thought to the color scheme of numpy.org. On the second look, the one I proposed before veers off too far from the NumPy branding colors (https://user-images.githubusercontent.com/98330/63642399-51f41480-c673-11e9-8d22-20315b71c83e.jpg). However, using all of them is overkill. Let’s adopt the color scheme that I used for the presentation slides.

**PRIMARY COLORS**
#ffc553
#4dab

[2020-03-30 11:45] joelachance commented on #48
@InessaPawson Looks good! Is there anything specific on the website you'd like updated? I would use the top three for main logos & accents, and the bottom 4 for text mainly. Thoughts?

[2020-03-30 12:26] #198 closed

[2020-03-30 12:28] rgommers commented on #48
Very nice, and I also like the names of the colors:)

Would be useful to put this in the README of this repo perhaps, or somewhere else more discoverable.

[2020-03-30 19:57] MarsBarLee commented on #48
I like these colors as well! And the cool blue-leaning secondary colors tie nicely with the primary blues.

[2020-04-01 10:22] InessaPawson commented on #48
I'd say, everything is a fair game as long as a designer stays within this color scheme. :)

[2020-04-09 10:27] shaloo opened #213 "enhancement: remove dependency on jinja2 for team page generation"
Followup to https://github.com/numpy/numpy.org/issues/45.

Currently, #45 is implemented using insights from @datapythonista / pandas team page which uses jinja2 for markdown processing and later integrates it with sphinx (which is jinja friendly).  However, hugo does not recognise the jinja2 directives so cannot directly integrate team.md file into hugo.  Figure out a better way to remove depende

[2020-04-09 11:06] shaloo opened #214 "Getting Started Guide: To do work items post launch"
Ref: https://github.com/numpy/numpy.org/pull/189

and

@shaloo I think it will be easier to rework https://numpy.org/devdocs/user/quickstart.html after the website is launched, because then it can link back to Install and Learn. What you can do now though is to review it and make an overview of what needs changing. We've recently started doing this (see numpy/numpy#15760 for an example), planning

[2020-04-13 08:59] shaloo commented on #182
@rossbar , thank you for these excellent suggestions.  I have incorporated all other than the last one about dependency map.  Creating a new git issue ticket and updating the scripts to take care of gwpy, cbpy and others (in future) that might need a similar graph.

[2020-04-13 09:29] shaloo opened #217 "Create dependency charts for GwPy and Pycb for GW case study"
As suggested by @rossbar for #182 , we can reuse/update script/ehtim such that it can be used to generate NumPy dependency chart for any given package - in this case GwPy and Pycd.  This will help visualise the role of NumPy in GW case study and highlight it for readers.

[2020-04-14 11:22] rgommers commented on #217
Sounds like a good plan to me.

[2020-04-16 12:02] #45 closed

[2020-04-21 05:10] shaloo commented on #182
@rossbar - do these look ok? - planning to add these in the case study.
![numpy-clean-color](https://user-images.githubusercontent.com/5890484/79827678-8e237480-83bc-11ea-9c2e-1996e9561fa0.png)

[2020-04-21 17:17] rossbar commented on #182
I only see the dependency graph for `gwpy`, but it does indeed look very nice! Your script for generating these visualizations of the dependencies is great! :+1:

[2020-04-22 04:54] shaloo commented on #182
Here is the one for PyCBC... Needed to mend the script to take care of PyCBC requirements file intricacies.

![pycbc-numpy-clean-color](https://user-images.githubusercontent.com/5890484/79941980-60edc980-8483-11ea-8019-6e48d74e57ba.png)

[2020-04-23 14:19] InessaPawson opened #219 "Add News Section"
Add “News” section to the home page, right below the "Get Started" button, to share announcements about the NumPy project development milestones, community initiatives, events, etc.

[2020-04-23 14:34] InessaPawson opened #220 "Revise the info architecture of the home page"
Place the shell below the “Key Features” section to align better the website info architecture elements with the project objectives.

[2020-04-26 20:09] rgommers commented on #182
@shaloo I like the `gwpy` one. for the `PyCBC` one I think it would be good to exclude `six` and the nodes that are _only_ connected to `six`. This is what you did EHT as well.

[2020-04-30 03:31] InessaPawson commented on #219
_Copying the comment from PR #222_
Just an image for now:

![numpynews_warmblack](https://user-images.githubusercontent.com/43481325/80484549-3deb7a00-899b-11ea-8ce0-5bf39c25da3f.png)

This is how it looks in a prototype: https://github.com/numpy/numpy.org/pull/221#issuecomment-620559287

@rgommers I need your input for the content of this section. Once everything is confirmed, I'll create a .svg

[2020-04-30 04:11] rgommers commented on #219
So just to make sure: what I deduce from the text in this screenshot is that the news in the bar has one major topic (typically a new release, but could be an event) indicated in large font, and then one or more detail snippets in smaller font related to that?

[2020-04-30 06:19] InessaPawson commented on #219
You are correct in your deduction, @rgommers. This image/bar could be linking to a page that provides more information about the displayed piece of news.

[2020-04-30 06:21] InessaPawson commented on #219
@rgommers Are you happy with the current content of the news section?

[2020-04-30 07:39] rgommers commented on #219
Yes, I think it's fine - given the form factor it's just a highlight and way to link to the full page. The alternative would be to go with a much bigger design element, which I'm not sure fits well in the current layout.

[2020-05-01 09:39] InessaPawson commented on #219
@rgommers I was asking whether highlighting the latest stable release was a good idea, or we should consider something else (e.g. CZI grant, a certain NEP, upcoming Season of Docs, etc.).

[2020-05-01 09:53] rgommers commented on #219
Oh okay, yes I think the latest release would be best to start with.

[2020-05-05 22:54] isabela-pf commented on #37
There’s a lot of great work being done here! I’ve also got a few different directions that I’d love to get feedback on. I’ve listed some of my own pros and cons on each as well.

1. This version is closer to what's been done above to enhance the existing logo.
![1](https://user-images.githubusercontent.com/50221806/81123350-b7c5bb00-8ee7-11ea-9bfc-88f676c80315.png)
**Pros:** This is the simplest a

[2020-05-05 22:56] isabela-pf commented on #37
Because I wrote a lot about logos working at small sizes, here’s a tip on how I evaluate them! You quickly can approximate scale by either zooming out of the image or moving yourself away from the logo and squinting at it. A good rule of thumb is to try and look at it at about the size it would need to be to be a favicon and judge from there. I encourage you to try this with the work I’ve presente

[2020-05-06 10:41] rgommers commented on #33
There was a follow up to this where @InessaPawson posted a much more subtle color palette with several shades of blue, the ones she used in her slide template as well. I just can't find it anywhere currently.

[2020-05-06 10:57] InessaPawson commented on #33
@rgommers Here is the color scheme for the new website.

**PRIMARY COLORS**
#ffc553
#4dabcf
#4d77cf

<img width="864" src="https://user-images.githubusercontent.com/43481325/77906035-99f2ae00-72ca-11ea-9d3d-c0106767b44b.png">

**SECONDARY COLORS**
#ffffff
#013243
#eeeeee
#6c7a89

<img width="1110" src="https://user-images.githubusercontent.com/43481325/77906043-9ced9e80-72ca-11ea-9809-1e0eb396aabb

[2020-05-07 14:20] InessaPawson commented on #37
Thank you for sharing your thoughts and ideas for the new NumPy logo, @isabela-pf !
Out of the proposed, I prefer the first version the most.
I’d like to suggest some tweaks though:
1. A neo-grotesque sans-serif typeface would look better with a grided cube.
2. Move the letter N to the left side of the cube. Since most modern languages are written left to right, it’s the left facet that most users

[2020-05-08 06:19] rgommers commented on #37
Thanks for the design ideas and evaluation tips @isabela-pf! The "should work at small size" makes a lot of sense; the current logo definitely doesn't do that very well (the individual cubes just turn into a blue blob).

I can't walk away far enough from a large monitor:) It could be helpful for follow up designs to post them also so they show up really small by default. E.g. put them all side by

[2020-05-08 06:22] rgommers commented on #37
Oh and, out of the four ideas you posted I personally like (3) best. I'm not sure you need to keep the big "N" around though - it seems a little odd to have a big capital letter as the focus of a logo in 2020 (and yeah, I know Google pulls it off with the G:) ).

[2020-05-08 07:04] shoyer commented on #37
Version 3 of these new logo ideas is actually my favorite, too.

[2020-05-09 12:02] shaloo opened #223 "Ecosystem tab Data Science Infographic color palette update"
Update infographics color palette to the latest primary/secondary listed here https://github.com/numpy/numpy.org/issues/33.    Ref: Infographics created for Data Science Tab under Ecosystem.

[2020-05-11 14:45] #217 closed

[2020-05-12 01:32] #219 closed

[2020-05-13 11:58] #182 closed

[2020-05-13 11:58] #175 closed

[2020-05-13 13:13] InessaPawson commented on #37
@isabela-pf For the latest on the homepage design see PR #221.

[2020-05-13 17:26] Carreau opened #227 "Misc Mobile rendering issues and CSS suggestions"
The shell-content wiht blocks of code make the website rendering looks weird on mobile
[code]

Seem to interfere wit mobile rendering issue by forcing the page to be too wide, which lead to while gap on the left:

Before/After removing the 500px min width
<img width="461" alt="Screen Shot 2020-05-13 at 10 00 00" src="https://user-images.githubusercontent.com/335567/81842260-9163d900-9500-11ea-8814

[2020-05-15 11:23] shaloo commented on #223
Closing this as changes are merged, missed tagging it during commit.

[2020-05-15 11:23] #223 closed

[2020-05-15 16:54] joelachance commented on #227
@Carreau Thank you for the feedback! We'll take a look.

[2020-05-16 13:25] rgommers opened #229 "Remove one of the two logos at the top of the front page"
As discussion on gh-221, there are now two logos on the front page. Discussion:

[2020-05-17 11:49] bjnath opened #231 "README should specify *extended* Hugo"
A user who installs Hugo by following the Getting Started link in the README will get the failure
[code]
when they run `hugo server`.

Users need to install the extended version, e.g.,
[code]
which I don't think is mentioned in the page we're linking to.

Extended Hugo is a requirement of the [Hugo Fresh theme](https://themes.gohugo.io/hugo-fresh/) (see `Troubleshooting` at the bottom the page).

[2020-05-17 12:48] rgommers commented on #231
That's right, good catch. You're not the first one to run into that @bjnath. Would you be able to open a PR to fix the README?

[2020-05-17 14:37] bjnath opened #232 "Broken links on new site"
A link checker run on the new site found these 8 broken links:
[code]
In addition the `hreflang="nl"` `link` tag in the header picks up a number of missing pages.

(Strictly speaking, this should be 9 separate issues. I'll be happy to resubmit the issues that way if we prefer.)

[2020-05-17 14:43] rgommers commented on #232
Thanks @bjnath! Good idea to run a link checker, we should do that in CI at some point.

One issue is definitely preferred over 9 separate ones here, since that's less noisy and easy to fix in one go.

[2020-05-17 16:52] bjnath commented on #231
Wasn't able to push the PR:
[code]

[2020-05-17 18:38] isabela-pf commented on #37
Thanks for everyone’s patience with my reply. I think I caught all the feedback and have a more up to date grasp on the website redesign.

For this round I was working off what I thought worked best from the ones people liked last round— particularly the grided squares—while removing letters. Just squares looks too general to read as a logo, so I started working with other elements that reintroduc

[2020-05-17 18:39] isabela-pf commented on #37
I’m open to playing with the color combo options on these logos, so if you let me know if there are any of these you’d like to see refined more.

It’d also be helpful to mention a reason or two why you like a logo option so that I can make better choices for the next round. This comment can be as simple as you want, but it will help me make sure I’m making choices based on what the community value

[2020-05-17 20:18] bjnath opened #233 "Where to go after "Get started""
The big Get Started call-to-action is wonderful. I'd like to cede more power to it.

It's in competition with the top line ("Install...Documentation"....). If the CTA is the only way into the site, people will press it gladly. If there are other ways, both alternatives lose out.  Either readers won't see the top line, and they'll press the CTA and find it's not what they wanted, or they'll see bot

[2020-05-17 21:12] bjnath opened #234 "Reduce categories in the top menu bar"
Some subjects in the menu bar might be hard for an outsider to tell apart. Then the menu bar fails to serve its purpose -- getting people where they want to go swiftly.

1. Install
1. Documentation
1. Learn
1. Array computing
1. Community
1. About Us
1. Contribute

We shouldn't force the reader to guess how we're distinguishing "Learn" from "Documentation." We should present one choice, "Documenta

[2020-05-18 10:45] bjnath commented on #232
In my old life each would have a different owner based on who'd created the page. This is a nice change.

[2020-05-18 11:54] bjnath opened #235 "'Ecosystem' presentations and the slow reveal"
I think that much of the the Ecosystem text works less well with readers than we intend.

 **Visualization** opens with "Data Visualization exposes patterns..." A response might be, "Wait, is NumPy a visualization program?" Another might be, "Why are they explaining visualization? I know what that is."

In this section and some others, we're setting the scene to dramatically introduce NumPy at the

[2020-05-18 11:58] bjnath opened #236 "Larger subheadings in "Ecosystem""
I'd suggest enlarging the Ecosystem subheadings (Visualization, Data Science)... so they're less easy to overlook.

[2020-05-18 12:16] bjnath opened #237 "Serial commas"
There's precedent in the NumPy site for use of the serial comma -- that is, a comma before the final 'and' in a list of three things or more:

`dev/index.rst:240:`
the documentation. Matplotlib, SciPy, and IPython are also required.

`dev/conduct/code_of_conduct.rst:37:`
2. Be empathetic, welcoming, friendly, and patient. We work together to resolve
<br>
The new site does not use it:

`./public/in

[2020-05-18 14:04] joelachance commented on #229
My preference would be to remove the logo in the nav bar and keep the 'exponential' logo with the NumPy title, until the user scrolls down (nav bar logo shows after user scrolls).

There's potential that's the harder fix (although we may need to simply remove the logo config from the nav partial), and if other people prefer the other option of removing the exponential logo, then I'm game!

[2020-05-18 14:12] joelachance commented on #234
I like the idea of combining some nav links, so +1 here.
Well said, @bjnath!

[2020-05-18 16:24] bjnath commented on #234
Thank you, @joelachance

[2020-05-18 17:14] bjnath commented on #233
Please allow me to take another swing at this, because I didn't express it clearly:

Rather than bringing the user to a predetermined page, pressing Get Started should present the user with a menu that has the same options as the nav links.

Rationale: The user shouldn't have to guess what Get Started does, and we shouldn't presume to know what the user wanted when they pressed it.

Forget what I

[2020-05-18 17:47] bjnath opened #238 ""Ecosystem" and "Case Studies" are easily lost"
Ecosystem and Case Studies are strikingly original and attractive content --  and I'm concerned that because they're below the fold users will never see them.

I have suggestions to tighten the top of the page to pull at least one of them above the fold.

1. It's clear to readers that the boxes at the top are key features; the Key Features headline eats up space without adding content.

2. It's no

[2020-05-18 18:45] joelachance commented on #238
@bjnath, I'll add some back story as to why the home page is in its current state. Originally, we were planning on having the interactive shell above the fold. However, Thebelab had more latency than we would have liked, as well as missing some functionality to really offer a clean experience. There's quite a few tickets and comments around this one that I won't go into here, but in short, we deci

[2020-05-18 18:46] rgommers commented on #229
I'm happy with removing the navbar logo unconditionally.

[2020-05-18 18:49] rgommers commented on #233
What I had in mind all along is a dedicated place that "Get Started" button would go to. It's indeed not clear if one wants Install, Learn, Docs, or whatever. Those pages may also not have enough context, a dedicated page would be better. We just haven't written it yet, and decided to link to Learn as the most reasonable of available pages.

[2020-05-18 19:50] bjnath commented on #238
@joelachance, I much appreciate your comments!

Ecosystem should not be at the top -- totally agree. I had the thought but dropped it for the reasons you give -- and because it would just be bafflling. But our role in that immense hierarchy gives us a bragging right that no other site on the internet is likely to match. So I'm hoping to get it over the fold.

Oh, I agree! Here's my thinking. You c

[2020-05-18 20:04] bjnath commented on #233
That makes sense. But by making users first land at a central page you're making them change planes when they could have taken a direct flight.

Remember that each of the Install, Learn, etc. pages are themselves hubs, so there'd be two indirections for the user rather than one.

Thus I'd favor a drop-down menu over a dedicated intermediate page -- which, in addition, we'd have to write and mainta

[2020-05-18 20:32] joelachance commented on #238
I'll reiterate I think this content is just too dense for above the fold. Maybe there's other content that's easier to ingest that can still allow some humble brags?

I enjoyed that, very good :) Of course enjoyment is pretty subjective here, but I personally find myself playing with this stuff when I go to a site because it's more fun than reading a lot of text (haskell.org). Maybe I'm not the de

[2020-05-18 22:06] bjnath commented on #238
Sorry, I misread you.  The word "stark" comes up in only two contexts, and this is the other one. We have a stark difference of opinion.

One issue to consider with a page-one shell is handholding. Newbies and error messages go together. A learning page is equipped to walk users through their potential messages because it's a learning page. Page one is like a working parent; the kid's gotta manage

[2020-05-19 01:30] joelachance commented on #220
Closing, this PR has been merged

[2020-05-19 01:30] #220 closed

[2020-05-19 07:03] rgommers commented on #238
I do still need to edit down the text a little, and change to a single graphic in the viz section - there's a bit too much.

[2020-05-19 07:09] rgommers commented on #231
That's because the standard workflow is for you to "fork" this repo (button at right top of the page). You then push your changes to a new branch in your own fork, and from there you can send a PR.

The process is described at https://numpy.org/devdocs/dev/index.html#development-process-summary (just change the name of the repo from `numpy` to `numpy.org`).

[2020-05-19 07:10] rgommers commented on #231
The rationale for that is that is we let every contributor create new branches in this repo, it would get very messy very quickly. Pretty much every open source project uses this "send PR from forks" method.

[2020-05-19 10:30] bjnath commented on #231
I did fork:
![image](https://user-images.githubusercontent.com/6691888/82315872-fb193280-9999-11ea-9db1-521145e335f2.png)

and the step that failed was right out of https://numpy.org/devdocs/dev/index.html#development-process-summary:

![image](https://user-images.githubusercontent.com/6691888/82315837-eb015300-9999-11ea-8d3d-04d288202c54.png)

[2020-05-19 10:31] bjnath commented on #231
OK, I see -- I have origin set the same as upstream:
[code]
I'll fix it and try again.

[2020-05-19 10:52] bjnath opened #240 "Make shell example cut-and-pastable"
Users will want to cut and paste the example at the left onto the shell, so it should be presented as one block, with the intervening text (e.g., "Create a 2-D array") being changed into comments.

![image](https://user-images.githubusercontent.com/6691888/82317440-40d6fa80-999c-11ea-9953-b03ca6b54cc6.png)

Playing the role of dumb user I cut and pasted just the middle section since it seemed the

[2020-05-19 11:13] bjnath commented on #231
All set, filed PR #241

[2020-05-19 11:21] bjnath commented on #238
@rgommers as noted in issue #235 I have some concerns about wording in the Ecosystem section.

If you wish I can submit a PR for viz that has fewer words and also addresses #235.

[2020-05-19 11:36] bjnath commented on #231
PS, @rgommers, thanks for clarifying how it works. I was following the instructions but couldn't visualize what was happening.

[2020-05-19 12:13] rgommers commented on #231
No worries, thanks for the PR!

One more tip: if you add in your commit message next time `closes gh-231` or `fixes gh-231`, then this issue gets auto-closed when your PR is merged.

[2020-05-19 12:13] #231 closed

[2020-05-19 12:14] rgommers commented on #238
That would be great. I'll reply on gh-235

[2020-05-19 12:17] rgommers commented on #235
These all sound like good edits, thanks @bjnath.

Most content for the website is contained in Markdown files in `content/en/`. The tabs are an unusual UI element, so unfortunately we couldn't keep it in Markdown. The text is inside the `html` files in `layouts/partials/` (e.g. `layouts/partials/visualization.html`).

[2020-05-19 12:19] rgommers commented on #240
That's a fair comment. I liked the look of proper text rather than code comments, but copy-pasting is useful. I can take this along in the final cleanup before launch.

[2020-05-19 12:19] bjnath commented on #231
Great tip, will do! Thanks.

[2020-05-19 14:32] bjnath commented on #232
I will try to find where the links should go and PR these before launch.

[2020-05-19 18:18] rgommers commented on #232
If we'd be that formal, not many people would want to contribute I think. We tend to operate on trust a bit more:)

[2020-05-19 18:57] bjnath commented on #232
Actually, while you're here...I'm fixing these links, and have gotten to:
[code]
on the /learn page. I can't figure out what I should change this to. `https://numpy.org/devdocs`?

[2020-05-19 19:03] bjnath commented on #232
And in fact I have almost the same problem with the last broken link, on the /contribute page:
[code]
Somebody with a mean streak might say "even the NumPy team can't find the NumPy user guide," but I'd never be so mean.

[2020-05-19 20:12] rgommers commented on #232
yes indeed

[2020-05-19 21:51] rgommers commented on #37
Nice, thanks @isabela-pf!

I like the first (blue on light blue) version the best. The design is very clean, I think it's an improvement over anything that was posted before. And the two blues make for a nicer color scheme than blue-yellow I think. The two colors are still clearly distinguishable at smaller scales in your website screenshot, so I'm not worried about that.

[2020-05-19 22:10] bjnath commented on #237
I added serial commas in the Ecosystem edit of PR #242 but haven't checked them sitewide.

[2020-05-19 23:04] bjnath opened #244 "Rewording of gravitational waves caption"
The original is dramatic. but the wording makes NumPy rather than gravitational waves the antecedent of "they".

PR #245 is a replacement.

[2020-05-20 05:20] InessaPawson commented on #237
I've been using serial commas in my content submissions for the website. We had 3 other contributors (at least). I'll check for consistency in their writing.

[2020-05-20 05:39] InessaPawson commented on #229
+1 for the above. I thought there was a way!;) Thank you, @joelachance!

[2020-05-20 10:23] InessaPawson opened #246 "Change the color of the `hero-title` font and footer background"
Change the color of the `hero-title` font and background color of the footer to Warm Black      (#013243) to match the rest of the dark elements.

[2020-05-20 11:54] InessaPawson commented on #233
I don't think ceding the main navigation bar is going to improve user experience. I'll experiment with increasing the size of the font though.

Drop down menus as well as hover effects are notoriously frustrating on mobile. UX designers usually avoid them nowadays.

[2020-05-20 12:11] bjnath commented on #233
Neither do I. I meant that if we lost it, with the goal of getting more content above the fold, it wouldn't hurt user experience, because in the layout now the bar is barely visible.

Yet I see hamburger buttons; clarify for me how a hamburger button is neither of these.

[2020-05-20 13:09] joelachance commented on #233
@bjnath, do you have an example of a CTA that is a dropdown? I'm not sure I've seen one before.

[2020-05-20 13:16] joelachance commented on #37
+1 with what @rgommers said! I also like the first one with both blues.

[2020-05-20 13:21] stefanv commented on #37
I have two minor concerns with logo nr 1, but don't let me derail the selection if everyone else agrees:

1. https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/HermannGrid.gif/330px-HermannGrid.gif
2. Microsoft's logo in the middle

[2020-05-20 13:43] bjnath commented on #233
Point taken. I guess it stops being a CTA if it presents choices. But it can look like one (saying "Get started") but underneath behave like a hamburger.  Or so I naively imagine.

My thought is that people will be relieved rather than annoyed. "I'd love to get started...but what is that, exactly...?"

[2020-05-20 14:34] bjnath opened #247 "Use anchor in developer guide link on /contribute page"
The link to the [developer guide](https://numpy.org/devdocs/dev/index.html) in /contribute points to a page that looks almost identical to the page the user is currently on.

I propose adding an anchor to the link (https://numpy.org/devdocs/dev/index.html#development-process-summary) so the user skips the intro and goes immediately to the guide.

[2020-05-20 14:38] bjnath commented on #247
PR in #248

[2020-05-20 14:47] #244 closed

[2020-05-20 14:54] #232 closed

[2020-05-20 14:56] bjnath opened #249 "Have 'install' nav link point to /installing-python-and-numpy-guide"
`/install` is a skimpy page that points to a more thorough page, `/installing-python-and-numpy-guide`.

It feels frustrating to visit the page, get inadequate instructions, and be pointed elsewhere for the real skinny.

I suggest we eliminate that page and rename `installing-python-and-numpy-guide`  so the `install` nav link points to it.

A short intro section can take the place of the current `i

[2020-05-20 14:58] rgommers commented on #247
That sounds good to me.

@bjnath please note that it's also fine to submit the PR directly without opening a separate issue, and simply putting the rationale in the PR description. Saves on effort and notifications:)

[2020-05-20 14:58] #247 closed

[2020-05-20 15:27] bjnath opened #252 "Make 'development issues' more prominent in help page"
Since /gethelp visitors are equally likely to be looking for user or developer help, I suggest making the developer link more prominent.

Also, for Stack Overflow, users may not understand how to tag a question; an explanation might be linked.

[2020-05-20 15:29] bjnath commented on #252
PR #353

[2020-05-20 16:06] bjnath commented on #247
Thanks -- that'll put some minutes back in my day.

[2020-05-20 18:13] rgommers opened #254 "Add a link checker in CI to avoid broken links"
This is a follow-up to gh-232. Getting a link checker to work with Hugo isn't completely trivial, but should be doable in CI. See https://discourse.gohugo.io/t/link-checker-for-go-hugo/2202/18

[2020-05-20 18:26] rgommers commented on #249
We have further improvements coming with a widget, see gh-212. That will present more info in a compact format.

I think a lot is quite detailed in that other page and about install Python itself, not about installing NumPy. So I don't think that makes sense to throw at users, most will already have Python.

[2020-05-20 19:34] bjnath commented on #249
Fair enough -- thanks.

[2020-05-20 23:59] InessaPawson commented on #233
I see your point. Should we think of a better wording for this button to avoid the confusion?

[2020-05-21 00:16] InessaPawson commented on #233
Some get by without using external style sheet files, it doesn’t make it the best practice.:)

[2020-05-21 01:24] bjnath commented on #233
I'm not sure how these are connected. I can't imagine a commercial site failing to use external style sheets, but I see expanding icons and links everywhere on mobile. (Hover, I agree, is nasty.)  Where's the "Hamburgers considered harmful" paper?

Also, to make a comment that may not much elevate the conversation, I'm unclear how the shell fits in with this help-the-mobile-user fervor.

[2020-05-21 01:26] bjnath commented on #233
Would it be rude to ask why the button was put there in the first place?

[2020-05-21 03:26] bsipocz commented on #37
A small comment from the sidelines: for a long time I didn't recognize numpy's logo, and didn't even see the N in it either. Once someone pointed it out it suddenly became trivial and logical.

However, whenever I distributed numfocus stickers, basically I hardly ever met anyone who recognized the numpy logo, so I think it would be great to generate at least one layout with the chosen logo that ha

[2020-05-21 04:15] InessaPawson commented on #37
Both are of concern to me as well. The abbreviated version of the Microsoft logo came to mind immediately. It will become even more apparent in the black and white version.

[2020-05-21 04:17] InessaPawson commented on #37
It’s nearly impossible to come up with an original idea using basic geometric shapes. Paying homage to the original NumPy logo by preserving the angled cube would be a less demanding and still elegant solution to this design problem.

[2020-05-21 05:31] InessaPawson commented on #234
Thank you for the detailed and thoughtful feedback, @bjnath!

The Numpy community is large and very diverse. As a person in charge of the information architecture of the project website, my greatest challenge was addressing the needs of each stakeholder group while creating a pleasant user experience for all. My decisions were mostly determined by the two sources: Google Analytics (the data what p

[2020-05-21 05:40] InessaPawson commented on #234
Here is the dataset from GA about searches related to NumPy for the past 4 years.
[Google Analytics NumPy Stats 2016-2020.pdf](https://github.com/numpy/numpy.org/files/4660747/Keyword.numpy.Stats.2020-05-21.pdf)

[2020-05-21 07:02] InessaPawson commented on #238
I’ve covered extensively the motives behind several decisions in question  in this issue  https://github.com/numpy/numpy.org/issues/234#issuecomment-631889924

**Re: The Shell** As @joelachance mentioned, originally the shell was meant to be the main attraction of the homepage. (Please note, we don’t have a graphic designer on this project. Therefore we had to resort to other means of design enter

[2020-05-21 07:21] eric-wieser commented on #37
Even at a small scale (substituted above), the image looks quite recognizable as a gridded cube and an N in my opinion

[2020-05-21 07:38] InessaPawson commented on #233
Primarily to minimize the number of buttons in the main nav bar. “Getting Started” guide is important enough to be given a special button.

[2020-05-21 07:49] InessaPawson commented on #233
The shell can be simply ignored, with the menu it's harder.

Design is subjective. In UX usability tests help. Since we are not in a position to carry out formal usability tests we have to rely on our experience and intuition. Personally, I try to avoid drop-down menus whenever possible. In some instances, e.g. e-commerce, drop-down/mega menus are unavoidable.

[2020-05-21 10:07] bjnath commented on #233
Based on what?

[2020-05-21 10:22] bjnath commented on #233
That is true.

Mine is telling me that a big button taking people one place only is harmful to the usability of a site that must serve

(from [NumPy's GSoD proposal](https://github.com/numpy/numpy/wiki/Google-Season-of-Docs-2020-Project-Ideas)).

[2020-05-21 10:31] bjnath commented on #233
Inessa, I see that in fact you've already answered this in #234, let me study that.

[2020-05-21 11:02] bjnath commented on #233
Since
* we're expecting users seeking specific content to head directly to the nav bar
* we're characterizing the button as no more than a supporting player on the page, albeit for a large class of users, and
* we're data-driven about UX

please take a look at the first line of Nielsen Norman Group's *Is Navigation Useful?*:

To me, that says they'll head straight for the button.

So rather than d

[2020-05-21 11:24] bjnath commented on #234
Saying that a decision was labored over by a committee means only that people thought about the problem, not that they came to the right decision.

Saying it was motivated by hard data means the choice wasn't arbitrary, but it doesn't mean the right choice was made.

I can appreciate the effort that went into these decisions, and thank you for taking the time to explain it. I have no wish to denig

[2020-05-21 21:15] joelachance commented on #227
I'm finding that our Hugo theme is contributing a good amount to the media-query pollution, cleaned that up as much as possible.

@Carreau , thanks again!

[2020-05-21 21:16] joelachance opened #256 "Error when running command in Shell"
I'm getting an error when I run `rng = np.random.default_rng()` in the shell.

[2020-05-21 21:25] joelachance commented on #246
@InessaPawson, I've got some questions here (this is not done, of course):

![Screen Shot 2020-05-21 at 4 20 25 PM](https://user-images.githubusercontent.com/3891660/82607761-09747380-9b7f-11ea-8a9f-569ccd19c07f.png)

Do we want to update the nav background color and link color as well?
Of course the logo and subtitle font color should be white, but thoughts on the button color?
Last, this bleeds

[2020-05-22 00:41] InessaPawson commented on #246
@joelachance The following changes need to be made:
1. change the color of the letters in the title “NUMPY” to Warm Black (#013243). The color of the background should remain white.
2. change the background color of the footer to Warm Black (#013243).

Nothing radical.:)

[2020-05-22 09:38] rgommers commented on #256
Hmm, there's nothing wrong with that, however an old version of numpy got picked up (1.16.6) that doesn't have `default_rng`.

[2020-05-22 10:06] rgommers commented on #256
This part of `layouts/partials/javascript.html` is a bit magical:
[code]
It points to https://github.com/binder-examples/requirements which is a template that fixes numpy to `1.16.*`. We'll instead point to something we have under control; ideally a simple `requirements.txt` or inlined string rather than a full repo.

We could of course change the example here to make the error go away, but having

[2020-05-22 10:26] rgommers commented on #256
The ThebeLab [docs](https://thebelab.readthedocs.io/en/latest/config_reference.html?highlight=binderOptions#configuration-reference) for this say:

[code]

I don't see an option to not provide a full repo with a `requirements.txt` (or `environment.yml` at the top level). This doesn't make much sense to me, pointing it to a simple file or, e.g., inline JSON string with requirements should be much f

[2020-05-22 14:54] rgommers commented on #234
You do have a point here.

There's a couple of things here:
1. There are things on Learn that don't fall into "tutorial" or any other category clearly, e.g. books and talks given by NumPy maintainers. That said, there are also tuturials there and that clearly overlaps with tutorials at https://numpy.org/devdocs/. The distinction there is whether something is in the numpy docs, or external third-pa

[2020-05-22 15:16] #240 closed

[2020-05-22 15:18] rgommers commented on #237
I've probably been guilty of using this inconsistently. +1 for using it everywhere, and following the Google style guide.

[2020-05-22 15:38] #235 closed

[2020-05-22 16:09] bjnath commented on #234
@rgommers, thank you for explaining the complexities of Learn/Documentation.

To address 1 and 2, how about a single page like this:

![image](https://user-images.githubusercontent.com/6691888/82686937-9f160e80-9c24-11ea-8ee4-a6bc1188be54.png)

If the image doesn't show up (I'm having trouble), it's the Learn page with a top line added saying
[code]

Working on a PR now.

[2020-05-22 16:20] bjnath commented on #234
PR #258

[2020-05-22 16:54] rgommers commented on #234
Thanks for the PR, I'll have a look. It's still not ideal, but maybe an improvement. We can't get the optimal solution here probably, because of the Hugo/Sphinx split.

[2020-05-22 17:08] bjnath commented on #234
I'm with you on that.

[2020-05-23 03:52] joelachance commented on #246
I knew this was supposed to be simpler :) Check out the PR, @InessaPawson!

[2020-05-23 04:18] joelachance commented on #256
@rgommers @InessaPawson

I figured you hadn't typed the wrong command :)

I don't think you're missing anything. I just looked through the repo, and there's a lot of code around building a repo URL based on those binderOptions you hand it. I made a repo with a requirements.txt with `numpy` in it, nothing else (https://github.com/joelachance/thebelab-requirements), and that works. It was interestin

[2020-05-23 06:03] isabela-pf commented on #37
Since we have two logos standing out to people, I cleaned up both concepts for the original grided cube update and the last round’s front-facing double grid. I think these changes strengthen both approaches and respond to critiques more directly.

1. Starting with smaller changes first, this is the front-facing logo again. I adjusted the spacing in the center squares to address concerns about pote

[2020-05-23 06:15] isabela-pf commented on #37
I also want to introduce one-color versions of the logo directions at this point. You’re probably most likely to see this in a colored footer of a website or somewhere similar.

![q_numpy_37logorefresh_v2_exportgrouped](https://user-images.githubusercontent.com/50221806/82723217-10d07580-9c82-11ea-95de-b55a26ea89c6.png)

![q_numpy_37logorefresh_v2_exportgrouped2](https://user-images.githubusercont

[2020-05-23 08:54] InessaPawson commented on #246
It's a green light from me! Thank you, @joelachance!

[2020-05-23 09:38] stefanv commented on #37
I really like this last concept work, thank you @isabela-pf. I like the second one, but the cube looks a bit strange, and I thin it is because there is no perspective (even very slight narrowing to the back may help avoid the block looking like it is bulging out). One another aspect: we are not limited to a cube. We can remove one row of blocks, add more on one side than another, etc. Just mention

[2020-05-23 09:47] InessaPawson commented on #234
The reason other projects have `Tutorials` and` Documentation` in the navbar separately is that some visitors come to an OSS project's website ONLY for the documentation. With the PR above accepted, we will lengthen the journey of a large group of our users to the only thing they are looking for.

[2020-05-23 09:49] eric-wieser commented on #37
I wonder whether we're also fine with changing the number of divisions for the different sizes? For a large logo, a 3x3x3 or 4x4x4 is fine, but I agree for a favicon a 2x2x2 or maybe a 1x1x1 looks better.

[2020-05-23 11:23] shaloo commented on #238
Folks, some of the recent edits on main page are really nice! Thanks for bringing those into effect.  That said, I would really appreciate if instead of throwing away original content we add a 'Learn More' button and allow those 'uninitiated to NumPy' to have a chance to grasp the full intent of what is being mentioned.   To NumPy experts, some content may look basic but remember, the website is n

[2020-05-23 11:41] shaloo commented on #234
Regarding Array Computing, afaik NumPy's messaging is "Numerical Computing" with Array Computing as the 'focus'. If not, ignore my comment below.

Wrt organic SEO, it may be useful to keep array computing up front, instead of hiding it behind other links and pages, lets say the 'relevant'  content and enable it to segway into respective documentation topic details.  Having it in top Nav Bar may ma

[2020-05-23 12:15] bjnath commented on #234
@shaloo, I agree that users should be made familiar with the notion of "array computing." But that will happen navbar or not -- they'll find the word everywhere on our site.

If, when readers first find the word, its meaning is not clear from context, they'll naturally go look where they look for other NumPy information.

Like you I'm concerned about SEO, but I'm not sure that "array computing" is

[2020-05-23 12:34] bjnath commented on #234
@InessaPawson -- Indeed, it'll cost a click. When it comes to frustration, it's the difference between
1. two keypresses on clearly labeled links and
1. one keypress after stopping and deciding what to press

There's a researched answer on which is better.

Users' first choice would be "none of the above," but that's an unfulfillable wish.

[2020-05-23 12:42] rgommers commented on #37
I like both new designs better than what came before; the 2-D version still seems the nicer of the two new designs here. The 2-D version is also pretty much unrelated to the Microsoft logo, while the right side of the cube does resemble it.

Nice - thanks for continuing to educate us in logo design principles!

[2020-05-23 13:04] bjnath commented on #238
Thank you, @shaloo!  Of course there'd **be** no landing page without @InessaPawson.

That's been nagging at me too.

I agree -- we don't want the site to be unapproachable.

My feeling is that beginners come to the site because they're interested in visualization, data science, scientific domains, and so on. One of those ecosystem niches is what they're excited about, and NumPy is means to an end

[2020-05-23 13:15] #227 closed

[2020-05-23 14:10] rgommers opened #261 "Permissions for use of logos and imagery"
There's images on some pages that we used with a caption crediting the source - those have been checked at merge and seem fine. Would be good to track other permissions to use images and logo though. Here's a list of logos, used in the "array libraries" tab on the front page (or planned to be used):

- [x] Dask - approved received from Matt Rocklin and Peter Wang
- [x] Xarray - approval by Stephan

[2020-05-23 14:13] rgommers commented on #261
TensorFlow is the one project that has guidelines: https://www.tensorflow.org/extras/tensorflow_brand_guidelines.pdf. Relevant text:

_ATTRIBUTION  Please only use the TensorFlow name and marks when accurately referencing this software distribution, and do not use our marks in a way that suggests you are endorsed by or otherwise affiliated with Google. When referring to our marks, please include t

[2020-05-23 14:42] rgommers commented on #261
Apache has a "nominative use" clause at https://www.apache.org/foundation/marks/ that allows us to use their logos without specifically asking for permission.

[2020-05-23 14:46] bjnath opened #263 "Search box needed"
I don't see a search box on the site, and I didn't find search mentioned in the issues. Is that correct? Is one in the works?

Users expect a search box on every site, but especially on a site that exists to be informative.

I imagine there are technical challenges because of the split content. We somehow need to solve them.

Imagine the response if we go live without a search box. "They put up th

[2020-05-23 15:01] rgommers commented on #263
Good point, we don't have one but do need one. So much to think about when building a nice website ....

There's some options to implement one at https://gohugo.io/tools/search/

[2020-05-23 15:04] rgommers commented on #261
To make people's life easier, here is a current draft of this content. Final version may be different, but the main idea won't be: logo, name, short description (mostly taken from each projects' own site right now):

![image](https://user-images.githubusercontent.com/98330/82733880-568b4d80-9d17-11ea-9183-03f9cbe936c3.png)

[2020-05-23 15:23] bjnath commented on #263
But Hugo search isn't adequate.

Users will put NumPy questions in the search box and expect the same answers they do now.  Users don't know there's a different site under the cover.

Search results must come from Hugo **and Sphinx**, and if either of them is expendable it's Hugo.

[2020-05-23 15:29] joelachance commented on #263
Sure it is! It searches the site.

Probably true, but we don't know this. I don't think we can expect adding search to be the same as using StackOverflow.

Is this something we want to add before launch? Because if it is, I'd push to start small, and add as we go. I agree search for both the site & docs would be great, I'm not sure it's doable by the time we want to launch, which I was understandi

[2020-05-23 15:31] bjnath commented on #263
There are two sites, with HTML in different places.

[2020-05-23 15:34] joelachance commented on #263
@bjnath Yep, of course. But it will be a good amount of work to search both sites. Starting small is in our best interest.

[2020-05-23 15:40] bjnath commented on #263
"Starting small" would mean passing through Sphinx search and ignoring Hugo for now.

We can't give users a search box that's broken for the kinds of queries people expect the site to answer.

[2020-05-23 15:58] joelachance commented on #263
@bjnath I think that would be great, I'd welcome a PR if you want to tackle it!

[2020-05-23 16:06] rgommers commented on #229
We merged the PR for this, closing.

[2020-05-23 16:06] #229 closed

[2020-05-23 16:12] rgommers opened #266 "Tracking issue for new functionality and design ideas"
Since we've got a ton of work and conversation going on, I think it's useful to have an overview of ideas we have that are not yet implemented. There's no way we can do all of this before launch; for many of these we can choose to either release them one by one, or do a second significant release:

- [ ] translations (gh-55)
- [ ] new logo (gh-37)
- [ ] install widget (gh-212)
- [ ] further instal

[2020-05-23 16:13] bjnath commented on #263
@joelachance Cool -- let me take a look.

[2020-05-23 16:18] rgommers commented on #238
Good point @shaloo. We also may want to be better at linking out to "learn more" places. E.g. https://pyviz.org/ is the best overview of visualization libraries.

[2020-05-23 16:25] bjnath commented on #266
Great list! Also:

- [ ] What to do with "Get Started" (gh-244)

[2020-05-23 16:39] rgommers opened #267 "Order of tabs in ecosystem widget"
Of all the tabs, considering both visual appeal and content, I like "data science", "scientific domains" and "array libraries" better than "visualization" and "machine learning". This is easy to switch around, especially what we choose to be first matters, because it's opened by default.

My proposed order:
1. scientific domains
2. data science
3. array libraries
4. machine learning
5. visualizati

[2020-05-23 16:41] rgommers commented on #256
I'd keep `matplotlib` in the requirements file, that's nice to have. Other than that, +1 for switching over to your repo.

[2020-05-23 17:04] SylvainCorlay commented on #261
Hello, many thanks for doing this. You certainly have our authorization for the Xtensor project. This is great to be listed on the NumPy website.

[2020-05-23 18:17] bjnath commented on #263
Low-stress solution: a hyperlink that looks like a search box:

![image](https://user-images.githubusercontent.com/6691888/82737462-14eea880-9cff-11ea-8543-29ab16560a1d.png)

The user has to click on the box to fill it out.  Instead of going blank, it takes the user to `https://numpy.org/devdocs/search.html`, our real search page:

![image](https://user-images.githubusercontent.com/6691888/8273751

[2020-05-23 18:37] rgommers commented on #263
That'd be a good stopgap solution (with some styling). Where would we put it - right side of the navbar?

[2020-05-23 18:39] rgommers commented on #263
https://pytorch.org/ has a styled looking glass in the right top corner that's quite nice. With live incremental search. Not for now, just noting cause it's pretty cool.

[2020-05-23 18:44] rgommers commented on #44
Calling this good for now, after gh-268. More after launch once we bring back the updated content of "array computing".

[2020-05-23 18:44] #44 closed

[2020-05-23 18:45] bjnath commented on #263
That's what I'd envisioned. I'm open to any place you'd expect a search bar to be.

Yes, please! That was strictly proof of concept.

[2020-05-23 18:45] rgommers commented on #236
Makes sense, the font size could be increased by ~20% without the text becoming too wide for the content below it I think. Worth a try.

[2020-05-23 18:54] stefanv commented on #263
That is pretty neat!  And, this should be quite doable, since Sphinx has a JS library, and StackOverflow has [an API](https://api.stackexchange.com/docs/search).

Agreed that this can wait, but would be fun to build.

[2020-05-23 18:55] rgommers opened #269 "Measure website traffic pre/post launch of new site"
We now have Google Analytics integration, that data will only show up post-launch.

For Cloudflare data from Aug 2019, see https://github.com/numpy/numpy.org/issues/30#issuecomment-519292657.

Cloudflare gives us the current (23 May 2020) status pre-launch:

![image](https://user-images.githubusercontent.com/98330/82738360-44b9a280-9d37-11ea-97ad-5c78aa99c7d6.png)

![image](https://user-images.git

[2020-05-23 19:02] rgommers commented on #256
Aargh, my last example edit broke the width of the box, will fix that as well:

![image](https://user-images.githubusercontent.com/98330/82738560-aa5a5e80-9d38-11ea-9c88-924a314e7552.png)

PR coming.

[2020-05-23 19:09] rgommers commented on #256
Oh, wasn't me - it was the mobile fixes in commit 39bc76375c0de9, @joelachance you set `width: 60%` here. I'm afraid we're going to have to undo that. Not sure what that means for mobile though. We can do 90% instead of the 100% it was without it looking cut off.

[2020-05-23 19:13] rgommers commented on #256
Hmm no, need `100%`, that looks like:

![image](https://user-images.githubusercontent.com/98330/82738733-45076d00-9d3a-11ea-8067-297465f90e3c.png)

[2020-05-23 19:23] bjnath commented on #263
I assume everyone has already clicked and found how painlessly they're doing it?

https://docsearch.algolia.com/

[2020-05-23 19:26] rgommers commented on #263
I hadn't - looks pretty cool!

[2020-05-23 19:54] #252 closed

[2020-05-23 20:55] joelachance commented on #263
@bjnath, nice find!

[2020-05-23 20:56] #256 closed

[2020-05-23 21:34] #246 closed

[2020-05-23 21:41] rgommers commented on #261
Okay, received the TensorFlow approval, glad to be able to add that - that'll complete the page.

[2020-05-24 06:25] rgommers commented on #158
This is looking much better now, thanks for the input everyone!

[2020-05-24 06:25] #158 closed

[2020-05-24 06:56] rgommers commented on #234
Essentially this is the term that captures what NumPy does/offers. It's indeed not a well-known term. It may be good to highlight it. Not sure about SEO, but if we'd want to offer this page as "this is what array computing is about", it could make sense to have it in the navbar.

Anyway, don't feel too strongly either way about navbar yes/no, I do want to spend some effort to bring the page back a

[2020-05-24 07:17] shaloo commented on #267
How about  array libraries before 'data science'?  That way positioning-wise  'data science' is right below 'ecosystem' and gets eyeballs first.  Also, array libraries have a big role in NumPy consumption (indirectly), that could get us hits from newer users.

[2020-05-24 07:28] rgommers commented on #267
Completely agree @shaloo, thanks. Actually I came to the same conclusion when making these changes.

[2020-05-24 07:36] #237 closed

[2020-05-24 07:37] #267 closed

[2020-05-24 07:56] rgommers commented on #249
Actually I'm rethinking this. Not all users may need the content on the second page, but I wish all users understood such things. I'll try moving it to the main page and see if it works better.

[2020-05-24 08:54] bjnath commented on #233
@InessaPawson  asks:

Let's make the button say "Learn NumPy".

[2020-05-24 09:51] bjnath commented on #234
I can see the desire to get this subject out front.

But no one will click it in the nav bar, because they have no reason to. If the subject is important  and we want everyone to see it, it belongs on the home page.

Just one sentence, with a link to the full story.

Above the feature boxes, it will serve double duty, because we don't explain elsewhere on the page what NumPy *is*, except for the (

[2020-05-24 10:03] rgommers opened #282 "Deployment updates"
We're about to launch the new website, and we don't yet have auto-deploy in place. So let's document here how deployment was done on the old Sphinx site, and then what the new procedure is.

Old Sphinx site:
1. Merge changes into (then) `master`
2. Check locally
3. `cd www && make upload`

The `upload` step did:
[code]
So numpy.org is served from the https://github.com/numpy/numpy.github.com repo,

[2020-05-24 10:06] #249 closed

[2020-05-24 10:07] shaloo opened #283 "Signup email form field does not enforce valid email address."
Ref to the following field in the bottom right of landing page:

<img width="328" alt="Screenshot 2020-05-24 at 3 34 25 PM" src="https://user-images.githubusercontent.com/5890484/82751380-5604bc80-9dd4-11ea-89fd-4d17e1f318c1.png">

User is allowed to simply press enter without any data input and the message says "Thank you" on pressing enter.  If I enter xyzzy or any non-email data, that seems to

[2020-05-24 10:14] rgommers commented on #234
A sentence above feature boxes would work for me.

[2020-05-24 10:23] rgommers commented on #233
Had a look at other sites as well. PyTorch links to install instructions, TensorFlow to user guides, Julia and Jupyter have multiple more explicit buttons instead:

![image](https://user-images.githubusercontent.com/98330/82751678-36ac6600-9db9-11ea-9861-0ef81fd67a17.png)

![image](https://user-images.githubusercontent.com/98330/82751688-46c44580-9db9-11ea-9d8e-0f6a15e67f42.png)

Little consistenc

[2020-05-24 11:27] rgommers commented on #233
@InessaPawson didn't like `Learn NumPy` much, and I'm also ambivalent. I think the final solution will include either a custom page, or multiple buttons. In the meantime, I think we'll leave it as is. Running both out of energy and runway for launching this weekend here, and the site looks _really_ nice.

[2020-05-24 12:24] bjnath commented on #233
I'd like to hear her reasoning -- but realize today is not the day.

One subject we're surely unanimous on: it does look dazzling.

[2020-05-24 12:24] rgommers opened #290 "Site description needs updating, now default from meta.html"
Missed this one:
[code]
at the top of every page. Which is visible in Slack (and maybe Twitter) once you use the link there.

[2020-05-24 12:44] rgommers commented on #290
fixed in gh-291, closing

[2020-05-24 12:44] #290 closed

[2020-05-24 12:55] rgommers commented on #282
See PR gh-289 for the deploy script. Docs will follow after that's reviewed. For now it does the job.

[2020-05-24 12:55] adeak opened #292 "Make docs navigation header point to numpy.org rather than scipy.org"
At https://numpy.org/doc/stable/ which is directly accessible from numpy.org via the top documentation link, the top navigation link says "Scipy.org", and both links do in fact lead back to scipy.org and docs.scipy.org, respectively.

I suspect this is already on your radar and will be affected by the Sphinx theme manipulations (edit: and keeping the docs.scipy.org link might be on purpose), but I

[2020-05-24 13:01] adeak opened #293 "Consider having an easier path for older versions of the documentation"
This is probably a feature request.

Currently the straightforward "Documentation" link at numpy.org takes the user to https://numpy.org/doc/stable/ which is the docs of the current stable version. This is what the overwhelming majority of users is looking for, so this is great! But if I'm looking for the dev docs or the docs of a specific older version of numpy, I think I can only find that by cl

[2020-05-24 14:12] bjnath commented on #233
Didn't realize Get Started goes to the Install page and not Learn, sorry. Finding oneself on an Install page after a Get Started CTA isn't unreasonable.

 I would **not** advocate changing Get Started to a Learn button that goes to Learn. If that's what you thought I wanted, you don't have to talk me out of it.

[2020-05-24 17:06] rkern opened #295 "Ecosystem listing nits"
The packages for "Bayesian Inference" and "Bio Informatics" are switched.

FWIW, "Bio Informatics" should just be "Bioinformatics". I don't think anyone spells it as two words. I can understand if you want to break it up into two lines, but consider a hyphen.

It's not clear to me why "NumPy" is under "Geographic Processing". The linked article seems out of place with all of the other links to act

[2020-05-24 17:19] rossbar commented on #293
I had the same thought as @adeak - I agree that the current default link location (doc/stable) is sensible and probably what most people want, though the `numpy.org/doc` landing page is more general in that it has links to all the old versions, the current stable version, and the devdocs.

It would be nice to have an easier, "more clickable" way to navigate to `numpy.org/doc` though I'm not sure w

[2020-05-24 17:26] rossbar commented on #292
Nice catch - I think this is an issue with the most current 1.18 docs having been built and uploaded before the link badging change. Looking into it...

[2020-05-24 17:36] WarrenWeckesser opened #296 "Is the link to Anne Bonner's tutorial correct?"
In https://numpy.org/learn/, in the "BEGINNERS" section under "Tutorials", the link "Towards Data Science, an introduction to NumPy by Anne Bonner" links to https://towardsdatascience.com/the-ultimate-beginners-guide-to-numpy-f5a2f99aef54
I assume this is a mistake.  I thought that tutorial was part of [*our* documentation](https://github.com/numpy/numpy/blob/master/doc/source/user/absolute_beginn

[2020-05-24 18:56] adeak commented on #292
Perhaps fixing this and potentially renaming "Docs" to "All docs" could also help with https://github.com/numpy/numpy.org/issues/293#issuecomment-633262863. We'd be back at "single click takes you to numpy.org/doc".

[2020-05-24 19:34] joelachance commented on #283
@shaloo, excellent point. If I remember correctly, I lazily skipped this as Mailchimp _does_ have validation, and that address never gets recorded.

To your very valid point though, that never gets passed back to the user. We can look more into this one.

[2020-05-24 20:29] rossbar commented on #292
This should now be fixed via numpy/doc@20a1b0f for the stable docs (1.18.4). The tags should now point to numpy.org and numpy.org/doc, respectively.

This is a nice suggestion - making the "Doc" tag a bit more descriptive may help. I think this would be an update to the sphinx theme rather than numpy.org website (as you noted in the comments above).

[2020-05-24 20:54] adeak commented on #292
@rossbar very nice, thank you for the fix! I'm closing this issue because the main point is fixed. I'll copy over my button renaming suggestion to the other issue to have it in a more relevant place.

[2020-05-24 20:54] #292 closed

[2020-05-24 20:55] adeak commented on #293
To copy my suggestion from another issue, we could rename the "Docs" button in the navigation bar to "All docs" or something similar. This would make it more obvious that one can find alternative versions there.

[2020-05-25 06:22] Crissman commented on #261
CuPy approved! Thanks for asking.

[2020-05-25 06:26] gitj opened #300 "PyQuil is misspelled"
The new site looks great, and it's awesome to see PyQuil featured in the ecosystem section!
It looks like an extra character crept in somewhere along the line (PyQuill vs PyQuil).
https://github.com/numpy/numpy.org/blob/master/layouts/partials/scientific-domains.html#L34

[2020-05-25 08:00] davidbrochart opened #301 "Wrong spelling for xtensor"
In https://numpy.org, ecosystem -> array libraries, xtensor is listed as "tensor".

[2020-05-25 08:17] davidbrochart commented on #301
Fixed in #302

[2020-05-25 10:04] peterjc opened #303 "Switch Bioinformatics + Bayesian Inference headers"
The images and the projects in those columns strongly suggest the two captions (Bioinformatics + Bayesian Inference) got swapped under "Ecosystem" on https://numpy.org/

i.e. Edit ``layouts/partials/scientific-domains.html``

Also most of us would write "Bioinformatics" as one word, but I understand if "Bio Informatics" is needed for layout purposes, but if so maybe add a hypen?

[2020-05-25 10:19] #296 closed

[2020-05-25 10:20] #301 closed

[2020-05-25 10:49] #295 closed

[2020-05-25 10:56] rgommers commented on #303
Fixed now, thanks for reporting.

[2020-05-25 10:56] #303 closed