[2020-05-25 10:57] rgommers commented on #300
Fixed in gh-304, thanks for reporting.

[2020-05-25 10:57] #300 closed

[2020-05-25 14:59] rgommers commented on #238
On the mailing list there was also a suggestion to move Ecosystem to the top: https://mail.python.org/pipermail/numpy-discussion/2020-May/080693.html. Just recording it here for now - let's postpone thinking about this till the next set of design improvements (see gh-266 for tracking issue for that).

[2020-05-26 10:52] JeanKossaifi commented on #261
Thanks for doing this -- this is absolutely fine. Great to have TensorLy listed on the NumPy website!

[2020-05-26 20:11] Carreau opened #306 "redirect https://numpy.org/conduct.html"
First google result for "Numpy code of conduct" points to https://numpy.org/conduct.html, which now is https://numpy.org/code-of-conduct/

can a conduct.html be added with a redirect,  rel=canonical and likely no-index ?

[2020-05-27 07:02] rgommers commented on #269
We launched halfway through May 24th (third data point from the right here):

![image](https://user-images.githubusercontent.com/98330/82987882-9a70a200-9ff8-11ea-9658-b45588a68bf7.png)

Unclear why visitor numbers were up in the couple of days pre-launch, however so far it looks like we're going to get a structural increase. Let's check back in some days/weeks.

[2020-05-27 10:13] rgommers opened #308 "Behavior of tiles as (non-)links"
Reported by @asmeurer:
- One minor comment I have on the site is that the animations on the boxes are a little annoying, and also confusing since the boxes aren't actually links.
- Also the boxes in the bottom apparently are links, but they aren't clickable unless you click on the text.

(Ralf) the first point is about the "key feature" tiles and the blue underline on hover, the second point about

[2020-05-27 11:48] joelachance commented on #308
I'll +1 to the fact that key features don't do anything. It would be helpful to link these things to additional content throughout the site (what might these links be?)

As for the second, I just checked, and the entire box is clickable, except for a very small part above the blue line. I've PR'ed a fix here: https://github.com/numpy/numpy.org/pull/310

[2020-05-27 12:00] rgommers commented on #308
Good point, we could add new content for it. E.g. having the performance box link to some nice benchmarks. Each topic can have a nice single-page summary. Still a bit of work ....

[2020-05-27 12:01] joelachance commented on #306
PR https://github.com/numpy/numpy.org/pull/311 resolves this one.

Hugo Aliases: https://gohugo.io/content-management/urls/#aliases

[2020-05-27 12:08] rgommers commented on #306
That's a nice and painless way to add redirects:)

[2020-05-27 12:09] #306 closed

[2020-05-27 12:18] joelachance commented on #283
I think I'm leaning towards punting on this one. It had been a while since I had looked at Mailchimp, but when the user submits an invalid address, you'll get a new window with the following:

![Screen Shot 2020-05-27 at 7 11 24 AM](https://user-images.githubusercontent.com/3891660/83017812-ecf69200-9fe9-11ea-87f9-7c3cb85f594a.png)

The submission form will always say thank you, but I think I'm ok

[2020-05-28 06:17] gonzalocasas opened #313 "How to request inclusion in the 'Ecosystem' tab"
Following up on a [twitter conversation with numpy team](https://twitter.com/ralfgommers/status/1265765616906108934), I would like to know what's the process to request inclusion of an open source project in the 'Ecosystem' tab.

In particular, I am part of the core dev team of [COMPAS framework](https://compas-dev.github.io/), a python framework for research in architecture/engineering/digital fa

[2020-05-28 08:54] rgommers commented on #261
Last approval received, closing. Thanks everyone!

[2020-05-28 08:54] #261 closed

[2020-05-28 09:19] rgommers commented on #164
This was merged, closing. Thanks @shaloo.

Would still be nice to find a more substantial package/user, but we don't need to keep this issue open for it.

[2020-05-28 09:19] #164 closed

[2020-05-28 13:43] rgommers commented on #313
Thanks for opening this issue and suggesting COMPAS @gonzalocasas.  I'll look in more detail within the next few days.

[2020-06-01 06:04] shaloo opened #315 "Case Study: DeepLabCut - NumPy use for deep learning based pose estimation"
Enhancement:  Use of NumPy for  deep learning based pose estimation  in scientific studies.

[2020-06-01 06:28] isabela-pf commented on #37
I’ve been trying to narrow down options so far, but I’m bringing up this new (-ish) one because it pulls elements from the two logos that people have liked so far. This might be a good compromise.
![q_numpy_37logorefresh_v4_exportgrouped](https://user-images.githubusercontent.com/50221806/83381498-add39280-a395-11ea-9e5a-4b9b4b1338c3.png)
I tried this concept both with and without the ‘N’ and am p

[2020-06-01 06:30] isabela-pf commented on #37
I also want to respond to idea that we can have different number grid for different ideas. It’s a good thought that makes sense in a lot of contexts, but undermines the goals of a logo. Logos need to be consistent and stable to ensure that they read as constantly representative of their product. Changing its form usually makes it seem more like an illustration than a logo. That’s not a bad thing t

[2020-06-03 03:36] mdeff opened #319 "ecosystem: feature geoscience (pangeo)"
Geosciences prominently use data and computations and certainly merits to be featured. The community seems organized under <https://pangeo.io>. I'm however unqualified to pick projects to highlight. There's a list of packages in the [xarray doc](https://xarray.pydata.org/en/latest/related-projects.html#geosciences). Maybe @jhamman or @rabernat can advise.

Or does the fact that these packages most

[2020-06-03 04:20] mdeff opened #320 "ecosystem: graphs and networks?"
Linear algebra, hence numpy, is a fundamental tool to analyze graphs (with [spectral graph theory](https://en.wikipedia.org/wiki/Spectral_graph_theory)) and data on graphs (with [abstract harmonic analysis](https://en.wikipedia.org/wiki/Harmonic_analysis#Abstract_harmonic_analysis)). I'm co-maintaining the [PyGSP](https://pygsp.readthedocs.io/en/latest/) ([github](https://github.com/epfl-lts2/pygs

[2020-06-03 11:16] rgommers commented on #319
I'm kind of doubtful about having both "Geographic processing" and "Geosciences", they're quite similar. We have Xarray in the array libraries and GeoPandas, Shapely and Folium in the scientific domains image. I think that's enough coverage, and AFAIK all the packages in that Xarray docs list, with the exception of Open Data Cube, are less prominent than the already features packages.

[2020-06-03 11:19] rgommers commented on #320
Networks/graphs seems like a good topic to add. I think we have space for two more topics, to have a 2x8 grid. This could be one of them.

NetworkX is an obvious candidate. PyGSP does look like a sensible addition as well. I'm not very familiar with this field as a user, so other recommendations are very welcome.

[2020-06-03 12:43] mdeff commented on #319
There's a difference between [geoscience](https://en.wikipedia.org/wiki/Earth_science) (i.e., the study of the physics and chemistry of the Earth system, data not necessarily geospatial) and [GIS](https://en.wikipedia.org/wiki/Geographic_information_system) (i.e., the handling of geospatial data, whether for geoscience, social science, whatever), the current focus of the "Geographic processing" do

[2020-06-03 12:55] mdeff opened #321 "ecosystem: merge signal and image processing?"
I think image processing should be seen as a subset of signal processing ([wikipedia agrees](https://en.wikipedia.org/wiki/Digital_image_processing)). That separation is probably due to signal processing being historically 1D, while we now have nD Euclidean SP and non-Euclidean SP on manifolds/graphs/homogeneous spaces/groups/etc. thanks to [abstract harmonic analysis](https://en.wikipedia.org/wik

[2020-06-03 13:16] rabernat commented on #319
:+1:

Some prominent non xarray-based geoscience packages which use NumPy heavily are
- [Simpeg](https://github.com/simpeg/simpeg)
- [ObsPy](https://github.com/obspy/obspy)
- [Fatiando a Terra
](https://github.com/fatiando/)

[2020-06-03 15:07] mdeff commented on #320
Great! If non-array tools can be considered for inclusion, I'll also suggest [graph-tool](https://graph-tool.skewed.de). It has the same NetSci POV as NetworkX, but with a C++ backend built on [boost](https://www.boost.org) (NetworkX is pure python).

My biased take about PyGSP:
* pro: graphs/networks (and meshes, simplicial complexes, hypergraphs) are simple yet ubiquitus structures in CS theory,

[2020-06-03 15:18] mdeff commented on #320
A classification alternative (in the direction of #321, but mostly for thoughts) would be a big "data/signal analysis/processing" (better name to be found) topic to regroup signal and image processing (data on Euclidean grids), computer graphics (data on 2D surfaces), numerical methods like FEMs (data on 3D volumes), GIS (data on the sphere). Those are all concerned with the analysis (SP/Fourier/f

[2020-06-03 16:11] mdeff commented on #42
**User Story No. 13**
Tania is a packager (linux distro, conda-forge, homebrew, containers). What are best practices to build, test, and package numpy? Should they bundle OpenBLAS or delegate to the system BLAS? Which versions of system dependencies does numpy require? Tania would like some general guidance and links to maintained high-quality packages ([conda-forge](https://github.com/conda-forge

[2020-06-03 22:19] jhamman commented on #319
Just chiming in with a few quick thoughts. I first want to say the new website looks great so nice work to all involved. Also, I know from experience that navigating decisions around which 3rd party projects to highlight can be tricky and is likely to eventually leave someone disappointed. With the possible exception of the packages @rabernat listed, I don't think there is a huge need to pull pack

[2020-06-04 03:36] mattip opened #322 "Announce numpy releases here as well"
We typically announce numpy releases on the scipy.org website, we should do so here as well. xref scipy/scipy.org#349. The News page https://raw.githubusercontent.com/numpy/numpy.org/master/content/en/news.md seems appropriate. We should also announce it on twitter https://twitter.com/numpy_team @charris maybe we should add that to the release process?

[2020-06-04 03:46] mattip commented on #322
The [new banner](https://github.com/numpy/numpy.org/blob/b9b283429f3d10254195f1c766982df83adfa957/config.yaml#L34) seems hard-coded to currently display the 1.18 release. When 1.19 is released it should get a mention there for a while: also something for the release process notes?

[2020-06-04 03:50] InessaPawson commented on #322
Thank you, @mattip! I was thinking along the same lines and about to email Chuck about it.

[2020-06-04 11:16] rgommers commented on #322
Yes, the banner will be updated to `v1.19.0` once the release is made. Release candidates and bugfix releases are not important enough to be on the front page, but they can be on https://numpy.org/news/

[2020-06-04 11:17] rgommers commented on #322
and +1 for tweeting

[2020-06-06 04:40] isabela-pf commented on #37
I’m following up on my last comment to gauge responses. Since I’m not seeing comments on this yet, I’m taking that to mean that people still have the same critiques of the logos that have been presented before, and no strong feelings about the combo cube. Would this be a good time to put these options to a vote?

[2020-06-06 04:50] stefanv commented on #37
@isabela-pf Sorry, I thought I let you know, but I really like this latest concept design! No more brand confusion.

I guess a person can't have your cake and eat it: We are now so close to something that will fit into a hexagon (desirable for stickers, e.g.), but I guess to make it fit would mean removing the perspective again?

[2020-06-06 11:07] InessaPawson commented on #322
Let’s clarify which team/who will be in charge of the updates in the news section.

[2020-06-06 11:45] InessaPawson commented on #37
@isabela-pf Thank you so much for your patience with us, Isabela!

The asymmetry in the outline of the combo cube stands out to me, and not in a positive way. I’d sacrifice the existing perspective for a regular (symmetrical) hexagon.

[2020-06-06 11:50] rgommers commented on #322
I would suggest this is part of the release process, so @charris can either do it or ping here for the web team to do it. I'm happy to make the updates, but a ping is nice since otherwise I may forgot. @charris is that fine with you?

[2020-06-06 12:19] charris commented on #322
Can do. Are you interested in the rc releases or only the stable ones?

[2020-06-06 20:23] rgommers commented on #42
Packagers definitely need their own story, thanks.

Everyone should delegate to the package manager provided BLAS. Only NumPy itself should break that rule, because of PyPI/pip limitations.

[2020-06-07 04:11] InessaPawson commented on #37
Alternatively, we could rotate the cube further to the right, adopting the degree of the rotation from the original logo: https://github.com/numpy/numpy.org/issues/37#issue-486072084

That angle doesn’t conflict with my sense of visual harmony, and would be another nod of respect to the old logo.

I like the new typeface, by the way!

[2020-06-14 17:03] isabela-pf commented on #37
We’ve come full circle (in some ways) and are back to the hexagon! As @stefanv mentioned, this does mean losing some of the accuracy of the perspective, but I kept the cube as close as I could.

I like that this approach allows for a more simplified central cube while keeping some of the original grid feel on the outer cube. It also has ties to the current logo with the angle and the ‘N,’ which I

[2020-06-15 15:31] seberg commented on #37
I have to admit, I did not quite get warm to previous the 2-D version/idea yet, which doesn't mean its bad, I think the idea of giving a depth perspective just doesn't work that great for me.
I think I slightly prefer the last version, although the perspective is indeed a bit off.  The previous cube looks nice too though, my first thought on it is that it felt a bit cartoonish to me, and I was not

[2020-06-17 10:19] lagru commented on #37
I am really happy to follow all the beautiful and interesting proposals here!

Concerning the [last proposal](https://github.com/numpy/numpy.org/issues/37#issuecomment-643793968): I'm a little confused by the angle of the gaps in the surrounding outer cube. The lower two gaps seem to follow the cube's perspective while the upper four seem to point to the cube's center instead? Is this intentional?

[2020-06-17 11:54] rgommers commented on #37
Hi all, I would like to start coming to a conclusion here. We have had a number of iterations, and I think it's about time to make a choice. Here's a proposal:

**Current status**

- We now have three designs from @isabela-pf , a 2-D one, a 3-D one, and a hybrid one.
- The 2-D and 3-D one have been iterated on enough and look like they're in good shape.
- The hybrid one is fairly new and there are

[2020-06-17 14:17] eric-wieser commented on #37
@lagru: Agreed, the gap angles seem odd. Aligning the gaps to match the principle directions of the nearest face would be one option - another would be to point them all to the center of the hexagon, as if they were on hypercube-like trapezoidal extensions on each edge

[2020-06-17 14:28] WarrenWeckesser commented on #37
I also noticed that the angles in the outer gaps look strange, but maybe I'm just not seeing the intended effect.

[2020-06-19 19:27] tarcisiofischer opened #325 "Case Study: Diffusion equation solution using numpy/scipy"
Hi all.

Just wondering if there is still interest in having my blog post somehow linked in the numpy.org page: https://tarcisiofischer.github.io/1990-01-01/hidden ; As I noticed, there are other posts with direct links on the `learn.md` page.
If yes, please let me know which is better:

a) Just add a link on `learn.md` file directly to my blog post
b) I should add in this repository a new `md` fi

[2020-06-20 03:29] isabela-pf commented on #37
I can see how the gaps could look random in the last iteration. To clarify, they were placed to create arrows out of the hexagon’s corners and emphasize the flexibility of an array’s size, hinting at a larger grid than is pictured. If that’s not coming across then it might not be the best choice, so here’s modified placement for the gaps. Thanks for the rearrangement suggestions @lagru  and @eric-

[2020-06-20 03:34] isabela-pf commented on #37
I can see how the gaps could look random in the last iteration. To clarify, they were placed to create arrows out of the hexagon’s corners and emphasize the flexibility of an array’s size, hinting at a larger grid than is pictured. If that’s not coming across then it might not be the best choice, so here’s modified placement for the gaps. Thanks for the rearrangement suggestions @lagru and @eric-w

[2020-06-22 20:11] isabela-pf opened #326 "New Logo Design - Alternative A"
This issue is wrapping up the discussion on NumPy Logo Refresh #37 by providing a place for the community to vote on a logo direction. React with a thumbs up on this issue to vote for this version of the logo (you can vote for multiple).

Voting closes Friday, June 26. More information on voting expectations can be found [here](https://github.com/numpy/numpy.org/issues/37#issuecomment-645328444).

[2020-06-22 20:13] isabela-pf opened #327 "New Logo Design - Alternative B"
This issue is wrapping up the discussion on NumPy Logo Refresh #37 by providing a place for the community to vote on a logo direction. React with a thumbs up on this issue to vote for this version of the logo (you can vote for multiple).

Voting closes Friday, June 26. More information on voting expectations can be found [here](https://github.com/numpy/numpy.org/issues/37#issuecomment-645328444).

[2020-06-22 20:15] isabela-pf opened #328 "New Logo Design - Alternative C"
This issue is wrapping up the discussion on NumPy Logo Refresh #37 by providing a place for the community to vote on a logo direction. React with a thumbs up on this issue to vote for this version of the logo (you can vote for multiple).

Voting closes Friday, June 26. More information on voting expectations can be found [here](https://github.com/numpy/numpy.org/issues/37#issuecomment-645328444).

[2020-06-22 20:18] isabela-pf commented on #37
Since I haven't heard anything else, I'm following up on @rgommers comment, and posting the three directions we've been discussing so far as separate issues so you all can vote via reaction. That means voting will close Friday, June 26.

I’ve linked the issues here in case that’s more convenient. Alternative A #326, Alternative B #327, Alternative C #328.

Happy voting!

[2020-06-25 03:25] ivanov commented on #37
I came here via @InessaPawson's post to the numpy list. It's probably too late for this one, but I encourage anyone who wishes to do participatory decision making like this in the future to provide a "none of the above" option. Even if it ends up being not actionable (one of the three alternatives will be chosen) - you at least allow people to express where they're at. The way the "positive only"

[2020-06-25 08:09] rgommers commented on #37
Thanks for the post @InessaPawson, I forgot to explicitly mention or do that.

Good point, thanks @ivanov - that's something I didn't consider to be honest. We will indeed choose one of the alternatives. Comparing to an actual election, you would be able to hand in a blank ballot form. I'm not sure it's deserving of an "option D", because it's not an actual fourth option. Maybe your posting here (

[2020-06-25 08:18] rgommers commented on #37
Given that most people will only see the notification now, I mentioned on the mailing list we'll give everyone till Saturday to cast their thumbs-up's.

[2020-06-25 08:26] eric-wieser commented on #37
To be clear, are we voting on a final logo, or will discussion continue narrowed to a specific design after the vote?

[2020-06-25 08:32] rgommers commented on #37
Final logo design.

[2020-06-25 11:49] bjnath commented on #37
Wrong time to bring it up, but suppose we used a slab-serif font to pick up the squares?

![image](https://user-images.githubusercontent.com/6691888/85710962-cc872980-b6b4-11ea-87a4-2d041ac6b5e9.png)

[2020-06-26 01:25] InessaPawson commented on #37
@ivanov Thank you for your comment, Paul! We had a brief discussion at the latest NumPy community call about the low rate of participation in making a final decision on the new NumPy logo design. Given the attention this topic previously received from the community, the two possible explanations were the discussion participants and contributors missed the announcements from Ralf and Isabela about

[2020-06-26 03:10] charris commented on #326
I do like the suggestion of slab serif.

[2020-06-29 18:42] isabela-pf commented on #37
The votes are in and it looks like the alternative A ( #326 )has the most support by far. This will be the refreshed NumPy logo:

![a_fullcolor](https://user-images.githubusercontent.com/50221806/86043348-70e2d600-b9fd-11ea-88b6-291b0d925268.png)

Thanks for everyone’s time and input!  I’ll follow up with each of the separate versions for alternative A soon.

[2020-06-29 19:06] eric-wieser commented on #37
Will using a third shade of blue to distinguish top and side faces be considered as one of the variants?

[2020-06-30 07:47] marload opened #329 "Translate English documents into Korean"
Hello, Numpy Team

I am a machine learning engineer in Korea. The Numpy project is also very popular in Korea. However, it seems that the document has not been translated yet. Can I translate the document?

Thank you.

[2020-06-30 08:07] InessaPawson commented on #329
Hi, @marload! Indeed, the latest analysis of the traffic to numpy.org showed that the project is very popular in your country. What documents are you interested to translate? We are about to launch the inaugural NumPy community survey and would love to make it available to the Korean-speaking users and developers. The English version of the survey can be found here: https://docs.google.com/documen

[2020-06-30 15:30] marload commented on #329
@InessaPawson
Thanks for replying. I don't think I can access albuscode.org for now.
I want to translate all Numpy documents starting with Tutorial. Is there anyone who will manage Korean documents among Numpy members?

[2020-06-30 21:22] rgommers commented on #326
This is the winner! Voting complete so closing. Thanks @isabela-pf, and everyone who voted and contributed ideas.

[2020-06-30 21:22] #326 closed

[2020-06-30 21:22] rgommers commented on #327
Voting complete so closing, thanks everyone! Alternative A in gh-326 is the winner.

[2020-06-30 21:22] #327 closed

[2020-06-30 21:22] rgommers commented on #328
Voting complete so closing, thanks everyone! Alternative A in gh-326 is the winner.

[2020-06-30 21:22] #328 closed

[2020-06-30 21:25] rgommers commented on #37
I would suggest sticking with what was voted on, unless @isabela-pf believes one of the too-late-to-consider suggestions are potentially significant improvements (personally both look worse to me).

[2020-06-30 22:20] isabela-pf commented on #37
@eric-wieser No, I meant I am going to post separate full color and one color options as well as options with and without the wordmark. Sorry that was unclear!

[2020-07-01 01:53] InessaPawson commented on #329
Not yet, as far as I know. One of our Docs team members will contact you shortly.

[2020-07-01 01:56] marload commented on #329
Thank you. I look forward to hearing from you.

[2020-07-03 21:28] melissawm commented on #329
Hello, @marload! Thanks for your interest. Unfortunately, it would be hard for our documentation team to keep track (and even review) translations of the NumPy documentation. If you are interested in translating some docs and maintaining them yourself, you can. In that case, you might consider submitting a link to the translated docs to the numpy.org website :)

I do think that it is possible to d

[2020-07-03 21:31] isabela-pf commented on #37
Here are the final logos as pngs and my recommended logo usage guidelines!

The primary logo is the horizontal option and secondary logo is the version with the logomark over text. I’ve also provided the logomark on its own (meaning it doesn’t have NumPy written). When in doubt, it’s preferable to use primary or secondary options over the wordmark alone.

**Primary**
<img width="723" alt="primary"

[2020-07-03 21:31] isabela-pf commented on #37
The full color options are a combo of Maximum Blue (#4DABCF) and Han Blue (#4D77CF), while light options are white and dark options Warm Black (#013243).

Whenever possible, use the full color logos. One color logos (light or dark) are to be used when full color will not have enough contrast, usually when logos must be on colored backgrounds.

Please do not make the primary logo smaller than 50px

[2020-07-04 16:36] melissawm commented on #325
Just bumping this up, I think it's an interesting case study but perhaps it would be more appropriate in [numpy-tutorials](https://github.com/numpy/numpy-tutorials)

[2020-07-05 06:45] InessaPawson commented on #37
Thank you so much, Isabela!
Please submit the guidelines and upload all the images to this folder: https://github.com/numpy/numpy/tree/master/branding.

[2020-07-06 08:22] rgommers commented on #329
Hi @marload, we are actively interested in translations and plan to start with the website. That's a lot more tractable than all docs. I plan to come back to this on the weekend (when there's the SciPy'20 sprint). If you would like to help out, we can make Korean one of the first languages to support on numpy.org (the other planned one being Mandarin).

[2020-07-06 13:36] marload commented on #329
@rgommers

Thank you for your reply. As you said, we started with website translation. How should I proceed?

[2020-07-07 15:04] rgommers commented on #37
Those look awesome, thanks @isabela-pf!

All PRs are now merged, and the new logo is visible on https://numpy.org/ and on the README of the main repo. So I think it's time to close this issue.

Thanks everyone for all the input!

[2020-07-07 15:04] #37 closed

[2020-07-07 15:06] joelachance commented on #37
Looks excellent! 🎉

[2020-07-07 15:52] rgommers commented on #329
Can you please give me till Saturday, I'll finalize Crowdin, re-enable the languages dropdown in the master branch of this repo and set it up so we can get started. gh-55 is related

[2020-07-07 22:04] rgommers commented on #325
I agree, it's quite a nice tutorial. Having it as a notebook in the `numpy-tutorials` repo would be great. I'd prefer not to link individual blog posts from `learn.md`, that will start to be hard to maintain.

[2020-07-08 04:30] Carreau commented on #37
Just saw the new logo on the readme! Looks awesome ! Great job !

[2020-07-08 14:54] tvaught commented on #37
As the designer of the original logo, I must say that I’m very pleased with this refreshed logo…it’s about time!

Thanks to all who worked on this.  Looking back at the friendly debate and the competence of the contributors, I’m very impressed with our community.

Best Regards,

Travis (Vaught)

[2020-07-11 19:35] #315 closed

[2020-07-11 21:33] rgommers commented on #329
Hi @marload, I just sent you an invite for Crowdin on the Gmail address listed on your GitHub profile. If you did not receive it, please let me know. Everything is set up in Crowdin, so you're good to start. If you run into any unexpected issues, please bring them up here.

I will set up a wiki page (borrowing from Spyder, who have been using Crowdin for a while) about translations.

[2020-07-11 22:06] rgommers commented on #329
Wiki page set up: https://github.com/numpy/numpy/wiki/Translations-of-the-NumPy-website

[2020-07-11 22:10] rgommers commented on #55
Related gh-329 for Korean translation.

[2020-07-11 22:11] rgommers commented on #55
I think we're good to go on this, the content is stable and everything seems to work. I'll re-enable the language selector as well.

@zjpoh would you still be interested to work on the Chinese translation?

I've added a wiki page at https://github.com/numpy/numpy/wiki/Translations-of-the-NumPy-website on how to get started.

[2020-07-11 22:15] rgommers commented on #55
Re-enabling the dropdown is a matter of undoing the small patch in gh-171

[2020-07-12 12:37] marload commented on #329
@rgommers
I started translating and starting with About Us!

[2020-07-12 14:44] rgommers commented on #329
Thanks @marload! I'm fighting with my system to install some Korean fonts to see the results - not that I can read it, but still want to see:)

[2020-07-13 10:11] rgommers commented on #329
Three files down:) Is it all working well for you @marload? If so, I'm thinking about asking for volunteers on the mailing list so we can get through all of Korean, Chinese, Japanese, Spanish and Portuguese pretty quickly (hopefully).

[2020-07-15 19:52] rossbar commented on #320
I'd also like to add my +1 for adding a graph/network analysis tab.

Note that NetworkX supports linear algebra-based approaches to graph problems, even if numpy/scipy are only soft dependencies for NetworkX.

[2020-07-15 20:03] jarrodmillman commented on #320
We are also working to improve our np support in nx.  But we will also keep using dictionaries as well, since it is better for many non-linear algebraic graph algorithms.

I also think that it would make sense to move "Interactive Computing" to its own tab.  Interactive computing doesn't seem like it belongs under the "Scientific Domain" tab.  It also seems deserving of its own section perhaps inc

[2020-07-20 16:17] mdeff commented on #320
NetworkX supports linear algebra-based approaches, but it's not the main focus. As @jarrodmillman wrote, dictionaries are better for the larger focus of NetworkX. Anyway that's not an issue as @rgommers agreed to include it if we get a "Graphs and Networks" group.

Agree that "Interactive Computing" would fit better under its own tab rather than as a group under "Scientific Domains". Maybe open a

[2020-07-25 17:38] rgommers opened #339 "Add a complete list of acknowledgements for financial and other support"
Includes:

- CI providers (very significant support in terms of compute resources)
- Google for Season of Docs
- IBM for SIMD bounty
- perhaps some of the entities on https://scipy.org/scipylib/donations.html#acknowledgements

Related: I have to complete the sponsorship policy, which should spell out the criteria for being listed under Sponsors. The list above will be less visible, probably reacha

[2020-07-26 06:44] InessaPawson opened #342 "Unify the visual design"
Unify the look of the website by editing or redrawing all the graphic elements.

[2020-07-26 07:25] InessaPawson commented on #283
That doesn’t seem to be the case. However, Mailchimp indeed validates all the submitted e-mail addresses.

I guess the value in having a valid e-mail address enforced on the front end would be to notify subscribers who accidentally make an error in their e-mail address and prompt them to review it.

[2020-07-27 00:40] joelachance commented on #283
Do you not get a new window that looks like the above screenshot?

Right now with the way this was implemented we don't get any response from MailChimp whether or not the email was valid, so we won't know how to notify the user if their email was valid.

There should be an additional screen from MailChimp when there is a new submission. I just checked and was getting an error screen submitting a t

[2020-07-27 01:02] #236 closed

[2020-07-27 03:17] InessaPawson commented on #283
I’ve looked into it further. I don’t get the error screen on Safari only. (I checked the pop-up blocker.) The screen would be enough indeed.

[2020-07-27 11:00] rgommers commented on #342
Can you give a few examples Inessa? I understand it conceptually, but I wouldn't know which elements are high priority. What are some of the worst "offenders"?

[2020-07-27 14:55] joelachance commented on #283
That is a bit strange-- that is all on MailChimp's side, so I would expect it to work in all browsers :(
I felt ok punting this issue given in *most* cases we get an additional input/message from MailChimp.
@InessaPawson, let me know if you have any additional thoughts, otherwise I'm going to suggest closing this ticket.

[2020-07-27 15:58] rgommers commented on #283
I think I'm fine with closing. It seems like a bit of a corner case, we have more useful ways we could spend time on improving the website I think.

[2020-07-29 01:35] joelachance commented on #283
Closing!

[2020-07-29 01:35] #283 closed

[2020-07-29 09:08] rgommers opened #346 "Set up site preview on PRs, e.g. with Netlify"
We had Surge but it never really worked. What we want is an integration that deploys each PR on Netlify, so we can browse the site and inspect changes before deploying it to numpy.org

When doing this (or before), the Surge link can be removed from `.github/pull_request_template.md`

[2020-07-29 17:13] rgommers commented on #346
Netlify preview added in gh-347

[2020-07-29 17:21] rgommers commented on #346
Cleaning up the Surge left-overs in gh-348. The main work is done here, so closing.

[2020-07-29 17:21] #346 closed

[2020-07-30 03:34] InessaPawson commented on #342
@rgommers There are not so many graphic elements on this website. But, if I must, here is my priority list:
1. redraw the icons in the Scientific Domains tab. They are the first on the list because of their location, on the home page.
2. illustrations on the Visualization tab. We need to discuss what could be a good solution here. What is the exact function of these illustrations?
3. refine the in

[2020-07-30 04:04] InessaPawson commented on #283
@joelachance We could send an email asking to validate the email address given during the registration process, but I’m not sure if that’s the best use of our time. The pop-up form from MailChimp provides a decent solution.

[2020-07-30 04:45] rubentl134 commented on #55
I would like to participate on the Spanish translation. Is there any way I can start? I feel kind of lost here. Sorry

[2020-07-30 09:01] rgommers commented on #55
That's great, thanks @rubentl134! Spanish is already enabled on Crowdin, so to get started see the instructions at https://github.com/numpy/numpy/wiki/Translations-of-the-NumPy-website. Basically, sign up for Crowdin via the link there, select Spanish, and start:)

If you have any issues, please let us know.

[2020-07-30 11:28] joelachance commented on #283
@InessaPawson agreed. Unless there's a way to do it with MailChimp, we'd have to use SendGrid (or some email service) in order to do that, which probably isn't worth our time.

[2020-08-03 22:24] rgommers commented on #269
Data from last week (3 Aug 2020):

<img width="771" alt="image" src="https://user-images.githubusercontent.com/98330/89232847-a8d6cd80-d5e8-11ea-9ac7-fc95cd4b72e1.png">

<img width="771" alt="image" src="https://user-images.githubusercontent.com/98330/89232881-bd1aca80-d5e8-11ea-9f59-81bbbf588b34.png">

Only a very modest increase, which is a little puzzling.

[2020-08-03 22:27] rgommers commented on #269
Not sure why Google Analytics doesn't see nearly as much visitors, 14x less:

<img width="668" alt="image" src="https://user-images.githubusercontent.com/98330/89233100-34505e80-d5e9-11ea-8409-dd61c4c5f7f3.png">

[2020-08-04 22:19] melissawm opened #349 "Add @rossbar and @bjnath to the Documentation Team"
Hi all,

Both @rossbar and @bjnath have been contributing significantly to documentation issues recently, and have been a part of the documentation team meetings, discussions and decision making. I propose to add them to the Documentation Team "grid" in the [team gallery](https://numpy.org/gallery/team.html).

[2020-08-04 22:21] rgommers commented on #349
Yes definitely, +1 from me

[2020-08-05 18:54] bjnath commented on #349
Thanks, @melissawm and @rgommers!

[2020-08-07 07:58] #349 closed

[2020-08-11 15:36] eric-wieser commented on #37
Looks like some of our trial non-final logos are being used in the wild...

![image](https://user-images.githubusercontent.com/425260/89917492-c4e1fc80-dbf0-11ea-89a3-27cf89e4fd76.png)

(from the numba dev meeting)

[2020-08-11 15:51] seberg commented on #37
Yes, I saw that logo (and I think one other here) previously as well... I guess it will hopefully flush out slowly, its a bit strange how those came into circulation...

[2020-08-30 15:14] shaloo opened #354 "Case-Study: Update in DeepLabCut case study via Alexander Mathis"
Prof Mathis has moved from Harvard to École polytechnique fédérale de Lausanne ‐ EPFLand requested us to update this information in the case study quote section.

[2020-08-30 17:30] #354 closed

[2020-08-30 18:02] comradekingu commented on #55
Can you use Weblate instead, so I can contribute without getting spied on, leak info, and also contribute to their closed translation memory? You need a license to be able to use the translations btw. :)

[2020-08-30 18:41] rgommers commented on #55
We have spent significant time setting up Crowdin, after good experiences Spyder had with it. And the Crowdin team has been quite helpful, so I see no reason to switch.

I don't know what you mean by that.

[2020-08-30 22:39] rgommers commented on #55
@comradekingu we noticed you're going around and posting the same request on many projects in this scientific Python ecosystem:

https://github.com/sympy/sympy.github.com/issues/130#issuecomment-683452822
https://github.com/jupyterlab/jupyterlab/issues/8829#issuecomment-683452632
https://github.com/carpentries/glosario/issues/59

Furthermore, you're one of the top contributors to Weblate, and clea

[2020-08-31 00:06] comradekingu commented on #55
Weblate isn't my project any more so than my contributions to every other platform dictates. Either I have experience and know what I am talking about, or I am still damned if I don't? Why wouldn't I contribute to NumPy if I have contributed to so many other projects?
It so happens if you want to avoid a project where people working for the project actually promote it without being honest about wh

[2020-08-31 09:03] rgommers commented on #55
Please stop posting here. You _are_ being rude. At this point I have zero interest in interacting with you more.

[2020-08-31 14:10] bjnath commented on #293
@adeak Agreed, the way it is now isn't the way it should be. We do have a goal of providing smooth access to earlier releases directly from the doc pages. Unfortunately this improvement is bundled with broader structural changes so it's been slow to appear.  But I believe we want what you want -- a dropdown menu on the main docs page to pick a version.

[2020-08-31 19:38] melissawm commented on #293
Now that we have adopted the [PyData theme](https://github.com/numpy/numpy/pull/17074), there's a chance the version switcher will be available sometime in the future (see for example https://docs.spyder-ide.org/current/index.html - the Spyder team has mentioned they would be able to help bring that feature upstream)

[2020-09-05 20:50] adeak commented on #293
A version switcher would be the ultimate solution to this problem. Let's hope it will work out :)

[2020-09-11 09:36] rgommers commented on #269
Adding SimilarWeb's statistics before the pre-launch data is no longer visible:

<img width="1109" alt="image" src="https://user-images.githubusercontent.com/98330/92904158-ec5ffb00-f422-11ea-9bc2-055e618e8307.png">

<img width="1109" alt="image" src="https://user-images.githubusercontent.com/98330/92904221-f84bbd00-f422-11ea-81ec-ed1ec4b6b13b.png">

<img width="1109" alt="image" src="https://user

[2020-09-11 10:16] InessaPawson commented on #269
One of the reasons is that GA is blocked in China, one of NumPy’s top user and developer locales.

[2020-09-14 22:12] rgommers commented on #322
Only in the stable releases I'd say. RCs are more a mailing list thing.

[2020-09-22 15:21] jarrodmillman commented on #320
FYI, NetworkX recently made NumPy, SciPy, Matplotlib, and pandas default requirements (they were optional before):
https://github.com/networkx/networkx/commit/5f2445c1b5ff4db2dd0f943e006df1a107e8f00b

Here is more information from the PR:

"""
Given their central position in the scientific Python ecosystem and the fact that they provide self-contained, easy to install wheels, NumPy, SciPy, Matplot

[2020-09-30 11:26] bjnath opened #362 "MAINT: Problem on top of numpy.org pages"
The navbar formatting is off, and there's stray content at the top of the page:

![image](https://user-images.githubusercontent.com/6691888/94678695-e1dfa580-02ec-11eb-8d3e-6ca61eacc444.png)

Similar issue on the other pages:

![image](https://user-images.githubusercontent.com/6691888/94679010-68948280-02ed-11eb-8ddf-02e84415c496.png)

Seeing this on all browsers (Firefox, Vivaldi, Chrome, Edge).

[2020-09-30 12:26] joelachance commented on #362
Seeing the same in Firefox. Looking at it locally things look normal, I'm curious when we built the site last, @rgommers?

[2020-09-30 12:29] rgommers commented on #362
Yesterday. Maybe a new Hugo version after a system update. I'm on my other machine now, will check as soon as I can and revert the update.

[2020-09-30 12:40] rgommers commented on #362
Okay, should be fixed. Hugo 0.74.3 worked fine, an update to Hugo 0.75.1 broke the navbar somehow. I'll open a new issue for that.

[2020-09-30 12:40] #362 closed

[2020-09-30 12:42] rgommers opened #363 "Newer Hugo version introduced rendering issue"
See gh-362: Hugo 0.74.3 worked fine, 0.75.1 broke the navbar. There's two things to do here:

- Figure out what is broken with the newer Hugo version and fix it.
- Better control the Hugo versions used for Netlify preview and for deployment, so we will not have unexpected breakage when the Hugo version gets bumped through some Linux package manager system update.

EDIT: for completeness, here is t

[2020-10-08 11:09] joelachance commented on #363
It appears this was indeed Hugo. I upgraded this morning to `Hugo Static Site Generator v0.76.2/extended darwin/amd64` and things are working fine. I'm assuming we download the latest Hugo when we deploy, but can't find it in the repo (it doesn't look like it's in the Makefile). I'm not sure how we deploy, but locking it to a version is probably a good idea.

Hope this is helpful, let me know if I

[2020-10-08 11:49] rgommers commented on #282
See https://github.com/numpy/numpy.org/pull/353#issuecomment-692345315 for the current status on deployment. Still needs work.

[2020-10-08 11:49] rgommers commented on #363
Thanks @joelachance, that's helpful!

Deployment is still not automated unfortunately, that's why you can't find it. Issue gh-282 is still open. It's not all that hard, just 1-2 hours of fiddly work.

[2020-10-14 11:11] axsk opened #366 "Potential bug in `np.logical_not`"
I believe to have stumbled upon a bug in `np.logical_not`.
As I understand it from the docs when applied to to a boolean array `x` with the where argument set to `x` it should flip the value of all Trues and therefore result in an array of Falses.

This does not happen though..

[code]

[2020-10-14 11:19] axsk commented on #366
Sorry, this obviously doesn't belong here

[2020-10-14 11:19] #366 closed

[2020-10-18 17:23] Mandroide opened #367 "Broken link to PyQuil within Ecosystem section in the main website"
Hi, in numpy.org within the Ecosystem section, the link to PyQuil is broken.

[2020-10-19 20:32] rgommers commented on #367
thanks for the report. You opened a new issue in the correct repo, so closing this.

[2020-10-19 20:32] rgommers commented on #367
Arrh, that wasn't it - "The issue was transferred here" notification was too slow. Reopened.

[2020-10-19 20:34] rgommers commented on #367
The thing was moved, new link should be https://github.com/rigetti/pyquil

[2020-10-19 21:33] mattip commented on #367
or https://pyquil-docs.rigetti.com/en/stable/

[2020-10-24 10:32] ilayn commented on #37
Thanks to @melissawm 's ping in SciPy.org PR, I forgot to put this here; logomark in TikZ to be used by TeX users. I didn't recreate the paths but rather got all the definitions from the SVG file

[code]

[2020-10-29 20:56] sm-Fifteen commented on #33
Are these color codes relative meant to be used with an sRGB color space? There's no color profile data in the SVG logo and the SVG specification says to assume sRGB by default, so it likely is the case, but the values I'm getting looking up the names of each color are slightly different from the listed ones (though the names could be arbitrary) so I have some doubts. This isn't *critical* in most

[2020-10-30 14:41] joelachance commented on #33
Hi @sm-Fifteen! Thanks for posting.

I don't think there was any discussion around using these in the sRGB color space. It seems like you likely know more about this topic than myself (I'm assuming others here as well), if you have improvements we can make, please contribute!

[2020-10-30 15:48] sm-Fifteen commented on #33
It's really just that codes like `#FFC553` don't actually describe colors, it's just an 8 bit hexadecimal representation of a 3D vector meant to be interpreted as RGB, so it's just an alternative way of writing `(255/255, 197/255, 83/255)` or (approximately) `(1.00, 0.77, 0.33)`. Since these are just vector components, you can't really make sense of them unless you know (basically) what red, what

[2020-11-12 01:51] rhoit commented on #37
new logo reminds me of windows 10

[2020-11-15 09:30] link2xt opened #368 "Nothing is displayed on the front page with javascript disabled"
When I open https://numpy.org/, I only see the line of "Install Documentation Learn Community About Us Contribute" links. They are usable and I can open documentation page, but on the front page even the footer is not displayed.

Mozilla Firefox 82.0.3

[2020-11-17 20:13] giacomodeodato commented on #55
I would like to contribute, are you planning to translate in Italian as well?

[2020-11-19 14:10] MarsBarLee opened #369 "Replace icons in Scientific Domains tab"
Addresses part of #342

As of now, the icons are of varying colors, legibility, size and stroke (how thick or thin the lines are). To help unify the visual design of the site, I'm thinking of replacing the current icons with those that follow [Material Design](https://material.io/) principles.

This is a comparison of the current and some suggested icons.

---
![Icons](https://user-images.githubus

[2020-11-19 14:12] MarsBarLee commented on #369
Some currently used icons feel very descriptive and fitting, such as for Geographic Processing. However, keeping the recycle/"processing arrows" would make the icon busier than the rest, creating inconsistency. I also feel like there's enough context, such as the title Geographic Processing, that simply an Earth icon would suffice.
![Geographic Processing](https://user-images.githubusercontent.com

[2020-11-20 12:49] rgommers commented on #369
Thanks @MarsBarLee, this looks good! I'll also Cc @shaloo, since she created the current version of this tab.

That seems very reasonable to me.

[2020-11-22 10:11] InessaPawson commented on #369
@MarsBarLee I suggest redrawing the current icon for Math Analysis to match the rest of the set.

For Symbolic Computing, you could redraw a fragment of this image: https://www.researchgate.net/figure/Symbolic-computation-example-The-complete-procedure-is-demonstrated-in-the-example-in_fig1_2549518. Just shape all the parts of the array as squares to make it look different from the tree diagram in

[2020-11-23 15:41] rgommers commented on #368
Thanks for the report @link2xt. I'm not sure what is going on there, I had expected more to work without Javacript enabled. This needs investigation.

[2020-11-24 15:13] rgommers commented on #55
Hi @giacomodeodato, thanks for asking. We aimed to start with the languages for which we expect there's most demand (Chinese, Spanish, Portuguese, Japanese, Korean), and expand based on that experience. I'm not sure, but I would personally expect that most Italians who use NumPy would be okay using English, so it'd be lower prio. It's always hard to say no to an offer of help, but would you mind i

[2020-11-24 15:44] giacomodeodato commented on #55
Of course, I totally understand

[2020-11-24 18:50] rgommers commented on #55
@goanpeca suggested that we should organize a sprint to push translations forward. That does seem like a good idea. The rest of this year is already very full, but maybe we can pick a date in January - I'll put it on the community meeting calendar to discuss.

[2020-11-25 23:14] rgommers commented on #368
@joelachance tracked this down to the Hugo theme we're using:

This looks like an issue with the Hugo Fresh theme: https://github.com/StefMa/hugo-fresh/issues/92
The fix they have posted in this issue doesn't seem like a good fix though-- it wouldn't display content, just fail more gracefully. I'm not sure what options we have outside of picking a new theme or forking it.

[2020-11-26 22:47] rgommers opened #370 "Add content on performance (e.g. benchmarks, mention accelerators)"
Related to https://github.com/numpy/numpy.org/issues/308#issuecomment-634612765 (connect content to "key features" on front page).

Adding content on benchmarks and accelerators (i.e. Cython, Numba, Pythran, Transonic) was also just suggested in https://mail.python.org/pipermail/numpy-discussion/2020-November/081248.html

[2020-11-27 19:37] melissawm commented on #370
Do you have pointers on how those benchmarks should look like? Is there a preferred set of problems to test code in? See, for example https://julialang.org/benchmarks/

[2020-11-27 19:58] rgommers commented on #370
The idea of that Julia page is about right I think, short and with only a plot, no code. The main things I'd change from that:

- fewer languages (really it's C, Fortran, Julia, R that matter)
- keep pure Python and NumPy separate
- add accelerators (Cython, Numba, Pythran, Transonic)
- change it into a couple of sections, with one plot each. There must at least be a difference between vectorize-a

[2020-11-27 21:35] paugier commented on #370
Thanks @rgommers for opening this issue!

Few remarks:

- I guess it's better to keep things reasonably simple in this page so that people can have a quick overview of what can be done. I wouldn't consider too many problems.

- I think it is better to consider full problems of existing benchmark games (for example http://initialconditions.org/ or https://benchmarksgame-team.pages.debian.net/benchm

[2020-11-28 11:56] rgommers commented on #370
That's a good point, yes.

I don't think I'd want to get into that, on the same page at least. Because then we'd also have to touch on other forms of parallelism (e.g. Dask, multiprocessing, asyncio).

Thanks, I wasn't aware of this article. It's really well-written.

I think the page really should focus on performance, rather than turning into a tutorial. So this can be one line to one paragraph,

[2020-11-30 09:58] rgommers commented on #368
We had another chat about this. Any fix here would be a lot of work, like migrating to a new theme. And the importance of this is low - this is the first issue about it after millions of site visits.

That theme migration isn't going to happen any time soon, so this issue is wontfix for the foreseeable future. I'll leave it open so its easier for a next reporter to find.

[2020-12-01 08:59] #367 closed

[2020-12-02 23:48] MahatKC commented on #55
I'd be happy to help with Portuguese translation.

[2020-12-03 13:04] rgommers commented on #55
Thanks @MahatKC! The Portuguese translation is actually pretty far along, thanks to @melissawm. With another push we should be able to get it complete and published relatively soon. Please jump in! Instructions are at https://github.com/numpy/numpy/wiki/Translations-of-the-NumPy-website, let us know if you need any help.

[2020-12-03 14:31] melissawm commented on #55
@MahatKC let me know if you need any help - I'm in the process of populating the glossary so we can get consistent translations. Thanks!

[2020-12-10 00:43] MarsBarLee commented on #369
@InessaPawson For redrawing the fragment of https://www.researchgate.net/figure/Symbolic-computation-example-The-complete-procedure-is-demonstrated-in-the-example-in_fig1_2549518 for the Symbolic Computing icon, are you referring to this section of the image?
![Symbolic Computing base 2](https://user-images.githubusercontent.com/46167686/101706035-47bb7c80-3a56-11eb-8b58-62dd9d05a041.png)
Or this

[2020-12-10 00:45] MarsBarLee commented on #369
I've made the icons for Signal Processing and Mathematical Analysis, and updated my first post with them.
![wavelet2](https://user-images.githubusercontent.com/46167686/101706342-dcbe7580-3a56-11eb-8acf-4b28cdd89afb.png)

![Mathematical Analysis](https://user-images.githubusercontent.com/46167686/101706349-e1832980-3a56-11eb-85a2-8ef494593d1b.png)

[2020-12-10 23:16] InessaPawson commented on #369
@MarsBarLee The one above.

[2020-12-10 23:41] InessaPawson commented on #369
@MarsBarLee Let's increase the brush stroke of the icon for Math Analysis to match the one for Bayesian Inference.

[2020-12-17 21:15] rgommers commented on #167
Surge is no longer relevant, closing.

[2020-12-17 21:15] #167 closed

[2020-12-17 21:17] rgommers commented on #322
This is resolved, so closing. Next update: January for 1.20

[2020-12-17 21:17] #322 closed

[2020-12-27 12:20] rgommers commented on #369
Note that there's some discussion about changing categories. I just merged gh-318 to remove 3D visualization as a category, now there's gh-319, gh-320, gh-321 left. I'll try to make some decisions there now, that shouldn't affect this too badly, but we may need one or two extra icons possibly.

[2020-12-27 12:45] rgommers commented on #313
Okay, not within a few days, 2020 interfered - sorry about that @gonzalocasas.

There's multiple issues about people wanting to add things to the Ecosystem tab. So here's a policy on that, which aims to help us address obvious issues, without introducing too much of a burden (we really don't want too frequent updates on categories in particular, because dealing with icons is going to be time-consu

[2020-12-27 13:18] rgommers commented on #313
Proposed new packages and categories so far:
- COMPAS Framework. That would require a fitting category to start with, which would be something like "architecture, 2D/3D geometry, robotics, structural analysis"
- gh-321 proposes to merge the signal and image processing categories
- a proposal in a https://github.com/numpy/numpy.org/issues/320#issuecomment-658979404 to move "Interactive Computing" t

[2020-12-27 13:19] rgommers commented on #320
Sorry for the huge delay. I added a policy/procedure on updating the Ecosystem tab in gh-313. tl;dr we're good to add Graphs and Networks as a category.

[2020-12-27 13:22] rgommers commented on #321
I'd prefer to keep these separate. xref gh-313 for full update on categories.

This is fair from a mathematical point of view, but from a Python users and general scientist background point of view, those are things no one really wants to know about. As you say, the fields are historically separate - and they still are mostly separate for the average user. Plus I want to limit the maintenance work

[2020-12-27 13:22] #321 closed

[2020-12-27 13:32] rgommers commented on #369
See https://github.com/numpy/numpy.org/issues/313#issuecomment-751466980 for proposed new categories. Impact here I think is limited:
- The Simulation Modeling icon will work very well for Graphs and Networks too, so no change needed.
- Same for the Multi-Variate Analysis to Chemistry rename, icon works as is.
- The Symbolic Computing icon that's still in progress isn't needed anymore.

We'd need

[2020-12-27 13:35] rgommers commented on #319
Sorry for the huge delay. I added a policy/procedure on updating the Ecosystem tab in gh-313. tl;dr we're good to add Geoscience as a category.

We can add up to four projects. Looking at the suggestions here, my order of preference would be:
- Pangeo
- Fatiando a Terra
- Simpeg
- ObsPy

[2020-12-27 13:43] rgommers commented on #319
So basically, next to Pandas:) To me under "Statistical computing" makes more sense than in the Data Science tab. The latter tab is really focused on data science as someone with a "data scientist" title in industry dealing mostly with tabular data practices, not the broader "science with data" interpretation.

[2020-12-27 17:21] rgommers commented on #269
Data from today:

<img width="571" alt="image" src="https://user-images.githubusercontent.com/98330/103176181-e544e780-486f-11eb-81ba-dff73adcb6d9.png">

<img width="776" alt="image" src="https://user-images.githubusercontent.com/98330/103176221-466cbb00-4870-11eb-83d9-ba35b88bb033.png">

That should be enough, I'll close the issue.

[2020-12-27 17:21] #269 closed

[2020-12-27 17:23] rgommers commented on #325
Over at https://github.com/numpy/numpy-tutorialsthings are going well with adding new tutorials, and that's the place to go. So I'll close this issue. Thanks @tarcisiofischer and @melissawm

[2020-12-27 17:23] #325 closed

[2020-12-29 00:17] mdeff commented on #321
Yeah, it's probably better for categories to follow mainstream usage. Let's hope they merge one day. :)

[2020-12-29 00:55] mdeff commented on #369
The Simulation Modeling icon isn't great for Graphs and Networks: it's a tree. The one in gh-374 is better IMO. The `graphql` icon on <https://materialdesignicons.com> is ok but too regular.

For Geoscience vs GIS, I'll quote what I wrote in gh-319:

I would use an Earth icon for geoscience, and a map icon for GIS.

[2020-12-30 07:46] jarrodmillman commented on #369
Here are two possible icons for Graphs and Networks from  gh-374.
<img src="https://user-images.githubusercontent.com/123428/103336643-aa88ae00-4a2d-11eb-80e5-385aadfdb211.png" width="100">
<img src="https://user-images.githubusercontent.com/123428/103336652-b4121600-4a2d-11eb-8582-cd3152889d87.png" width="100">

Here is the script to generate the icons:
- https://gist.github.com/jarrodmillman/3e9

[2020-12-30 09:01] rgommers commented on #369
Thanks @jarrodmillman. The black and white one seems to fit nicely with the other redesigned icons. It seems like the right choice for now in gh-374; @MarsBarLee can still decide later to keep it or replace it.

[2020-12-30 19:58] jarrodmillman commented on #369
@MarsBarLee I updated the Graph and Network icon based on feedback from @rgommers and @mdeff.

I saved the icon as a SVG instead of a PNG.  I also made it 160px by 120px. I couldn't find any specification of the preferred size, so I randomly selected one of the existing PNGs and used its width.  I couldn't figure out how to display the SVG file in this comment, but you can view it here:
- https://

[2020-12-31 10:58] #320 closed

[2021-01-04 11:55] AtsushiSakai opened #375 "The "Install" page is not responsive?"
Hi. First of all, thank you for the new numpy webpage!!. I love it.

When I checked the new numpy webpage from my iPhone, almost pages (front page, Learn, Community, About us, Contribute) looks responsive, but only "Install" page is not responsive.
Also I cannot scroll the page horizontally and cannot see the right and left side of the page.

And the same thing happens in my second Android phone.

[2021-01-04 16:45] rgommers commented on #375
Thanks for the report @AtsushiSakai. It's the only page with code blocks on it, so that's probably the reason.

[2021-01-09 16:36] #375 closed

[2021-01-13 08:51] brgcode commented on #313
hi @rgommers

very cool that you are considering to add COMPAS to the Ecosystem tab of Numpy!

considering that COMPAS is "_a framework for research and collaboration in Architecture, Engineering, Fabrication and Construction_" would it be at all possible to add a category that is broader than "Robotics" (assuming that this is what you had in mind for COMPAS)?

something like "Architecture and Eng

[2021-01-13 11:26] ivirshup opened #383 "Docs are down"
Not sure where the best place to report this is, but the docs are down. Currently a 404 https://numpy.org/doc/:

<details>
<summary> 404 </summary>

<img width="607" alt="image" src="https://user-images.githubusercontent.com/8238804/104445980-ea36c480-55ed-11eb-988a-fef36b72bc3c.png">

</details>

Seems like something is going on on `numpy/numpy.github.com` that might be related https://github.com

[2021-01-13 11:29] rgommers commented on #383
Thanks. We know, working on it. Please use https://numpy.github.io/doc/ for now.

[2021-01-13 13:07] rgommers commented on #383
fixed now

[2021-01-13 13:07] #383 closed

[2021-01-13 16:04] joelachance opened #384 "Update Github Actions to push build to numpy.github.com"
Update Github Actions to run a build and push the build to the numpy.github.com repository.

[2021-01-13 19:38] rgommers commented on #313
I can't think of any other architecture projects, while I could find multiple robotics ones. So maybe something like _"Robotics and Construction"_?

[2021-01-14 03:44] ivirshup commented on #383
Great, thanks for letting me know!

[2021-01-14 08:39] brgcode commented on #313
okay, fair enough...
perhaps this can be changed in the future when there are other similar projects within that scope?

[2021-01-14 09:20] gonzalocasas commented on #313
There's quite a few architecture projects using numpy, here's a quick list: [sverchok](https://github.com/nortikin/sverchok), [IfcOpenShell](https://github.com/IfcOpenShell/IfcOpenShell), [CityEnergyAnalyst](https://github.com/architecture-building-systems/CityEnergyAnalyst), [UrbanPy](https://github.com/EL-BID/urbanpy), [FEniCS](https://bitbucket.org/fenics-project/), [geomdl/NURBS-Python](https:

[2021-01-19 22:31] MarsBarLee commented on #369
Hi @jarrodmillman,

Yes, it's great you saved your icon as SVG instead of PNG. I've been using PNG for displaying on Github and mockups, since SVGs don't show up embedded in Github comments since SVGs are technically text/code instead of an image file like PNG or JPG.

Here's a[ link to the icons as PNGs, in my fork](https://github.com/MarsBarLee/numpy.org/tree/svg-icons/static/images/content_imag

[2021-01-20 01:58] jarrodmillman commented on #369
@MarsBarLee Thanks for the detailed response.  Let me know if you would like me to change the icon or feel free to modify it as you see fit.

[2021-01-21 17:24] MarsBarLee commented on #369
Looking at the proposed changes so far, there are 13 categories, down from 14. Let me know if I'm missing any categories.

 This is a rough mockup how that that could look like.

![Mockups](https://user-images.githubusercontent.com/46167686/105387271-5ebbc580-5be3-11eb-9cab-e2568233120b.png)

Would layout be it's own issue? I'm not sure if others have a preference for the order of categories, such

[2021-01-21 20:34] rgommers commented on #369
Looks great @MarsBarLee!

I think we wanted to stay at 14: removing 3 and adding 3 in https://github.com/numpy/numpy.org/issues/313#issuecomment-751466980. An even number seems nicer visually. The one you're missing here is "Geographic Processing" - the idea is to have _both_ "Geoscience" and "Geographic Processing", they're distinct things.

Order is easy to swap around, I suggest to just add thi

[2021-01-21 20:34] rgommers commented on #369
That sounds like the right plan to me:)

[2021-01-21 20:39] rgommers commented on #313
Thanks @gonzalocasas. Sverchok and CityEnergyAnalyst in particular look good. UrbanPy seems very small, and I think FEniCS and NURBS-Python aren't really architecture tools (more like general-purpose PDE solver and spline toolbox).

Now I'm not sure anymore if Robotics or Architecture is better. Any other opinions?

[2021-01-21 20:47] brgcode commented on #313
"architecture" can perhaps be an umbrella category for "digital/robotic fabrication", "construction", "engineering", ... until there are enough projects for one of those sub-categories to be split off?

"robotics" is an entire field by itself. in my opinion, COMPAS doesn't really fit there, since its robotic components are quite specifically related to robotic fabrication (in architecture)

[2021-01-22 15:10] rgommers commented on #313
Architecture sounds much more narrow than engineering, but the rest makes sense to me. @numpy/numpy-web-team any objections to going with Architecture?

I'm not in a hurry with that, given the maintenance effort (e.g. remaking icon in a uniform style) - the goal is not to be comprehensive, but give a nice overview of the breadth of application domains and highlight prominent projects in the areas

[2021-01-22 15:17] shaloo commented on #313
How about 'Design' or 'Automation'  - both are broader than arch imho.

[2021-01-22 17:20] brgcode commented on #313
sorry to keep nagging about this, but, in my opinion, "Design" is too non-specific and, at least for COMPAS, "Automation" is completely unrelated.

how about "Architecture & Engineering" then? for COMPAS this is entirely appropriate, and i can imagine that the people from, for example, sverchok, CityEnergyAnalyst, UrbanPy, ... would not mind it either...

[2021-01-24 07:08] InessaPawson commented on #33
@sm-Fifteen Thank you for your input! Yes, all the RGB colors are in sRGB. Since it has been the default color space for the past 20 years, graphic designers rarely specify it. However, defaults can and do change over time. I’ll update my comment and also ask Isabela @isabela-pf, the graphic designer who worked on the NumPy logo redesign, to add this info to all the files pertaining to the new log

[2021-01-24 07:32] InessaPawson opened #386 "Specify the color space in all new NumPy brand identity files"
@isabela-pf, based on [this discussion](https://github.com/numpy/numpy.org/issues/33#issuecomment-719633348), let's specify the color space, which is sRGB, in all the files with the new NumPy logo.

[2021-01-27 22:54] isabela-pf commented on #386
Sounds good! Just to clarify, are you asking me to change the way the SVGs are defined?

[2021-01-28 19:22] MarsBarLee opened #387 "Resizing icons to fit larger screen sizes"
The current Scientific Domains icons can look too small on larger screen sizes. This is because the icons are a fixed size, around 120px by 120px, As they currently in the PNG format, scaling them up would cause artifacts and blurriness.

I'm currently working on another issue to replace the icons with SVGs (which would scale at larger sizes without problem), so I'll come back to this issue once t

[2021-01-28 19:39] MarsBarLee opened #388 "Make Scientific Domain columns mobile compatible"
In mobile horizontal view, the columns spill beyond the screen and text overflow. The other Ecosystem sections such as Array Libraries fit within mobile view, so it would probably be applying similar media queries or re-arranging the grid for mobile.

For example,
Web: 2 rows, 7 columns
Moile: 3 rows, 4 columns

iPhone 6/7/8 Plus preview:
![mobile-overflow](https://user-images.githubusercontent.co

[2021-01-30 13:03] InessaPawson commented on #386
@isabela-pf Exactly.

[2021-02-02 08:18] #384 closed

[2021-02-03 04:42] sm-Fifteen commented on #386
The SVG spec explicitly says that hex color codes (`#CD853F`), the `rgb()` and `rgba()` functions af well as named colors [are all considered sRGB-only color syntaxes](https://www.w3.org/TR/2013/WD-SVG2-20130409/color.html#sRGBcolor) unless a color profile is specified. I was pointing it out more in regards to consistency across SVG, CSS, non-vector images and design documents. The sRGB color prof

[2021-02-04 19:25] rgommers opened #395 "Page width issue"
After updating to deployment with the GitHub Action, it looks like there's an issue with page widths - there's a scroll bar at the bottom of every page:

<img width="707" alt="image" src="https://user-images.githubusercontent.com/98330/106944184-93249b00-6726-11eb-9f84-a7559065f30e.png">

I checked if this could be due to the Hugo version used,seems unlikely, it's 0.74.3 in the Action now and I ca

[2021-02-05 16:19] joelachance commented on #395
I don't have any idea, this seems pretty weird! I'll look into it, likely this weekend or next week @rgommers

[2021-02-09 07:38] InessaPawson commented on #386
@sm-Fifteen This is a very helpful clarification. Thank you! I’ll file additional issues.

@MarsBarLee Please remember to specify the color profile (sRGB) in the images you are currently working on.

[2021-02-09 07:51] InessaPawson opened #397 "Specify the color space in all numpy.org CSS files"
Specify the color space (sRGB) in all numpy.org CSS files.

[2021-02-09 07:57] InessaPawson opened #398 "Specify the color space (sRGB) in design docs"
Specify the color space (RGB) and change colors to RGB in all design documentation pertaining to numpy.org and the NumPy branding assets.

[2021-02-09 08:02] InessaPawson opened #399 "Specify the color space (sRGB) in all non-vector images"
Specify the color space (sRGB) in all numpy.org non-vector images.

[2021-02-09 10:09] #395 closed

[2021-02-15 17:21] eric-wieser opened #400 "Link to official numpy documentation is hard to spot"
I completely missed that the word "here" was a link on [this page](https://numpy.org/learn/), possibly due to a blue-light filter.
The fact that it appears in bold right at the top of the page furthers the confusion, suggesting that that page itself _is_ the official documentation!

Note that the image below is much clearer on my screen than the actual page is, as chrome uses a different color pro

[2021-02-16 04:55] millettmb opened #401 "Installation guide installs incorrect packages on ARM based CPUs"
Hi all,
I found out today that performing `pip3 install numpy` on an ARM based CPU procures an incorrect version of the LAPACK library (?). This doesn't present as an error, but instead results in incorrect values produced from some of the functions within the `numpy` library, such as `linalg.eigvals`. More information is available in the issue here: https://github.com/numpy/numpy/issues/18422.

I

[2021-02-16 08:01] mattip commented on #401
Maybe there is a problem with your procedure? We ship OpenBLAS with our wheels, and if the version of OpenBLAS is wrong it is a numpy/numpy problem, not a documentation one. The page you link to says "As of June 20th, 2020, NumPy now provides binaries for arm64." so maybe that page should remove the whole "build from source" portion.

[2021-02-16 09:27] InessaPawson commented on #400
@eric-wieser One possible solution could be replacing the word **here** with the address of the NumPy docs: **https://numpy.org/doc/stable**.

Wrt difference in color profiles, we are aware of the issue (#399, #398, #397).

[2021-02-16 09:40] eric-wieser commented on #400
The color profile issue is really just me complaining about github, but I'm glad its also on your radar for the website!

Changing the link text to a url would help. Maybe a "visit the official documentation" button would work too. I don't feel strongly, just thought I should record my confusion somewhere.

Looking at this again in the morning, the problem is definitely largely brought on my an ex

[2021-02-16 17:19] melissawm commented on #400
In any case, for accessibility, it would be nicer to rephrase that to something like:
[code]

[2021-02-17 10:40] InessaPawson commented on #400
How about the following phrasing:

For the **official NumPy documentation** visit [numpy.org/doc/stable](https://numpy.org/doc/stable).

[2021-02-18 11:06] #400 closed

[2021-02-24 14:52] rgommers commented on #386
In gh-404 @isabela-pf says _"I'll go update the logo files and notes on the main NumPy repository as well which should close the issue."_ so I'll reopen this.

[2021-02-24 17:15] sm-Fifteen commented on #386
From #404:

@isabela-pf: You would be right, all these formats are equivalent according to the SVG specification.  Issue #386 was meant to be more about having the brand colors defined in such a way that the intended color can be accurately described regardless of format.

RGB with and without color spaces is a bit like having date-times with and without time zones, where something like "Febuary 2

[2021-02-26 06:25] Shubham-Vishwakarma commented on #399
@InessaPawson
Is this issue still open?

If yes
Will you please provide information on this

[2021-03-02 11:26] InessaPawson commented on #399
@Shubham-Vishwakarma Yes, it is open. Go for it if you are interested!
This task requires examining all the non-vector images in the numpy.org repo and making sure that the color space is set to RGB.

[2021-03-02 14:51] Shubham-Vishwakarma commented on #399
@InessaPawson

I am new to HTML/CSS stuff

Will you please confirm I need perform similar action as done in https://github.com/aerikpawson/numpy.org/commit/85e321c7e6ca5ae4c80e74014465aed616af2dcb

[2021-03-02 15:41] Shubham-Vishwakarma commented on #399
https://github.com/numpy/numpy.org/pull/404

This seems to be a better reference

[2021-03-02 16:10] Shubham-Vishwakarma commented on #399
@InessaPawson
When you say non-vector images, do you mean .png/.jpg???

[2021-03-02 20:59] InessaPawson commented on #399
@Shubham-Vishwakarma  Correct. This task requires some knowledge of graphic design software. Adobe Photoshop, GIMP or their alternatives would be best for this.

[2021-03-02 21:09] InessaPawson commented on #399
@Shubham-Vishwakarma Yes, it’s more relevant. But you need to keep in mind that you will be working with pixels, not mathematical formulas like in the case of vector images.

[2021-03-11 05:28] zhaocheng-hub opened #406 "How do I reference the 'numpy' library"
Hello, I have used some methods of 'numpy' library in my academic paper. How should I quote them in my paper?

[2021-03-12 08:51] InessaPawson commented on #406
I'll add a link in the footer.

[2021-03-12 09:06] InessaPawson commented on #42
Based on #406, placing a link to https://numpy.org/citing-numpy/  in the footer.

[2021-03-12 11:08] zhaocheng-hub commented on #406
Thank you

[2021-03-12 22:20] InessaPawson commented on #406
It’s the top search on every search engine I could think of even if you don’t specify the website.;)

[2021-03-15 10:13] #406 closed

[2021-03-17 19:39] #398 closed

[2021-03-30 00:30] #386 closed

[2021-03-30 14:13] sm-Fifteen commented on #397
The CSS specification says browsers should always use sRGB color space, but inconsistent support for this has been puzzling users for many years now (look up "chrome enable-color-correct-rendering" and "chrome force-color-profile" for a few examples). [I believe this is supposed to illustrate the issue on misbehaving browsers](http://www.libpng.org/pub/png/colorcube/colorcube-pngs-sRGB-CSS.html) (

[2021-04-05 19:45] rgommers opened #411 "Chemistry packages in Ecosystem tab"
I'm replacing PyChem (unmaintained) with Cantera, which is a large, NumFOCUS-sponsored project and should definitely be there. Not sure what are the other popular chemistry Python packages though.

From a browse through https://github.com/lmmentel/awesome-python-chemistry, `stk`, `mendeleev` and `ionize` all look decent. I'd like to take the best (actively maintained, widely used, depending on num

[2021-04-05 20:24] #319 closed

[2021-04-05 20:24] #313 closed

[2021-04-05 20:24] #369 closed

[2021-04-05 20:27] rgommers commented on #342
this is done now

[2021-04-05 20:28] rgommers commented on #313
Renamed to _Architecture & Engineering_ and added links:

<img width="711" alt="image" src="https://user-images.githubusercontent.com/98330/113623127-3417cf80-965e-11eb-97dc-0defe7713efe.png">

[2021-04-05 20:28] rgommers commented on #313
Thanks for the input everyone.

[2021-04-05 20:28] rgommers commented on #319
All suggestions adopted:

<img width="711" alt="image" src="https://user-images.githubusercontent.com/98330/113623162-442faf00-965e-11eb-83f9-a3f0ca02aa9c.png">

Thanks for the input everyone.

[2021-04-05 20:32] rgommers commented on #401
Graviton is not a regular ARM64 architecture, it's a custom chip from Amazon that AFAIK is only available on AWS. This issue belongs on the main repo I think, not here. So I'll close this and will comment on as well.

[2021-04-05 20:32] #401 closed

[2021-04-05 21:11] shoyer commented on #411
Two projects that come to mind for me:
- [RDKit](https://github.com/rdkit/rdkit) -- very popular for chem-informatics
- [MDAnalysis](https://github.com/MDAnalysis/mdanalysis) -- NumFOCUS sponsored

[2021-04-06 09:47] #411 closed

[2021-04-06 09:48] rgommers commented on #411
Thanks @shoyer, adopted.

We have space for one more if there's another chemistry package of similar size/importance.

[2021-04-06 12:54] bryanwweber commented on #411
Hi @rgommers I'd be happy for Cantera to be included here. Let me know if there's anything I can do to help.

[2021-04-06 13:08] rgommers commented on #411
Hey Brian, it's done already:

<img width="870" alt="image" src="https://user-images.githubusercontent.com/98330/113715531-e3e64f00-96e9-11eb-85a5-e4692d3de8be.png">

If there's another important Python chemistry project we missed, please let us know. Otherwise we're all set here.

[2021-04-06 13:17] bryanwweber commented on #411
Thanks @rgommers!!

[2021-04-06 16:36] melissawm commented on #55
@MahatKC are you available to review the Portuguese translation?

[2021-04-06 16:47] vinisalazar commented on #55
Hi, I'd also like to help with the review. I considered starting by reviewing the `case-studies` directory. Would that work @melissawm ?

[2021-04-06 16:48] melissawm commented on #55
Sure, pick whatever document you prefer!

[2021-04-06 20:20] vinisalazar commented on #55
I've reviewed and made suggestions for all four documents in the `case-studies` directory. I hope it helps! 😊

[2021-04-08 18:59] rgommers commented on #55
Thanks @vinisalazar!

[2021-04-08 19:00] rgommers commented on #55
This is actually a little confusing:

<img width="558" alt="image" src="https://user-images.githubusercontent.com/98330/114081770-420f5f80-98ad-11eb-9db4-73c2b4fb1583.png">

Two alternative translations, and my comment on it doesn't show up in the interface (still new to Crowdin I guess). So commenting here - @AtsushiSakai do you have the approval button as well? It doesn't make sense for me to ap

[2021-04-09 23:22] AtsushiSakai commented on #55
@rgommers OK. I will check it (I didn’t receive any notification for that).
BTW. Do you know how to search where is alternative translations in Crowdin?

[2021-04-10 08:13] kngwyu commented on #55
Hi, thank you for catching my Japanese translations.  I guess approving needs some authority as @AtsushiSakai says. Note that my drafts are still work-in-progress. I'll re-check my translations this weekend, but one or two more Japanese speakers to check the translation would be helpful.

[2021-04-10 08:26] rgommers commented on #55
I guess so - so I made you a manager @AtsushiSakai :)

Thanks @kngwyu, good to know. I'm working on a PR today to integrate everything into the site and enable the language dropdown, but I'll wait for the green light from one of you before deploying.

[2021-04-14 19:25] rgommers commented on #55
I integrated the Japanese and Brazilian Portuguese translations in gh-413. It included quite a few fixes, and turned up some more untranslated content - individual sentences and things like header and footer navigation link names. For current master, here is how to render the translations (not deployed to numpy.org yet because there's more to do on the front page):
1. Ensure you have Hugo Extended

[2021-04-15 01:43] kngwyu commented on #55
I guess PR is better if only one or two people translate the document. Crowdin could be an easyier entry point to fix mistakes for readers, though.

[2021-04-15 12:00] AtsushiSakai commented on #55
Crowdin is best for me too for translation. If I can get notifications correctly, I think it is perfect.

[2021-04-15 16:13] melissawm commented on #55
Any way is ok with me, so I'll go with whatever solution you all find easier.

[2021-04-17 09:26] rgommers commented on #55
Thanks all. That makes sense. Crowdin does give notifications and is easier for small updates. How about you update `content/ja|pt/config.yaml` via a PR now @AtsushiSakai and @melissawm, and then future updates go via Crowdin?

[2021-04-17 13:55] AtsushiSakai commented on #55
@rgommers OK. I will try it in #415.

[2021-04-19 20:35] melissawm opened #416 "Alignment of titles in the (translated) Case Studies section"
When the titles for some of the Case Studies are translated (see #55), they may take more than one line of text, which results in the images being misaligned:

![Screenshot_20210419_172809](https://user-images.githubusercontent.com/3949932/115299772-9defa900-a135-11eb-9759-312549cf18e3.png)

[2021-04-19 21:26] melissawm opened #417 "Padding for translated text in top-page cards"
Similar to #416: translated (portuguese) text in the cards takes up more space than expected. Row 1, column 2 shows the text too close to the bottom border:

![Screenshot_20210419_182250](https://user-images.githubusercontent.com/3949932/115305339-8831b200-a13c-11eb-8813-e3a5a801aaf5.png)

Not sure if this will happen for other languages, though.

[2021-04-19 21:42] melissawm commented on #55
Here you go: #418

[2021-04-19 22:22] map0logo commented on #55
Hi, I would be glad to help with the Spanish translation.

[2021-04-20 14:12] arichar6 opened #420 "Correct LaTeX in Citation"
Issue #365 updated the [citation on the website](https://numpy.org/citing-numpy/). However, it seems that there are a few typos in the bibtex for the author names. In order to get the correct accented characters, there needs to be a backslash before the apostrophe. The following should typeset correctly:
[code]

[2021-04-20 18:52] #420 closed

[2021-04-20 19:13] rgommers commented on #55
Hi @map0logo, that's great, thanks! You can add yourself at https://github.com/numpy/numpy/wiki/Translations-of-the-NumPy-website and follow the instructions there to start adding translations on Crowdin.

[2021-04-20 19:14] rgommers commented on #416
Eek. This may be a little fiddly to fix.

[2021-04-20 19:18] rgommers commented on #417
I'm not sure if there's a better solution than "use as much whitespace as the most verbose language needs". @joelachance any other ideas?

[2021-04-20 23:36] joelachance commented on #417
`text-overflow: ellipsis;` looks like a pretty cool solution that might be a good option here, I can look at this if needed. Let me know, @rgommers!

More examples/info here: https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/

[2021-04-21 05:41] rgommers commented on #417
Great idea @joelachance! I think for box titles it may look a little odd and we should increase the space a bit to make things fit (if every 3-4 word title has the last word replaced by `...` that probably loses too much), but for text that's 3-4 lines long it should work well. There's more multi-line examples at https://css-tricks.com/line-clampin/. The "fade out way" looks nice too.

[2021-04-21 14:36] joelachance commented on #417
@rgommers, I agree about the titles, we should definitely increase padding/margin there. I also like the fade out for the main content in these cells, good find!
I can work on this one.

[2021-04-21 20:29] rgommers commented on #417
Thanks!

[2021-04-24 10:28] rgommers commented on #282
This works fine now, it was fixed in gh-390 (introduce a GH Action that works), gh-391, gh-392 and gh-394 (fix ups). Closing.

[2021-04-24 10:28] #282 closed

[2021-04-24 10:36] rgommers commented on #363
This was fixed in Hugo a long time ago; gh-422 is upgrading the Hugo version we use from 0.74.3 to 0.82.0. Either way, this issue is already resolved, so closing.

[2021-04-24 10:36] #363 closed

[2021-04-24 12:27] AtsushiSakai opened #423 "Japanese Install page has some link issues"
I realized the Japanese `Install` page of current master has some link issues:
<img width="960" alt="SS 2021-04-24 at 20 59 55" src="https://user-images.githubusercontent.com/3813847/115958773-c287be80-a543-11eb-89ac-c6dbc8ed5399.png">
I think it should be fixed.

[2021-04-24 20:13] rgommers commented on #39
Deployment tasks are done, things work well with preview and with using GH Actions for deploying via the `numpy.github.com` repo.

[2021-04-24 20:13] #39 closed

[2021-04-26 16:28] #423 closed

[2021-04-28 19:38] chrish42 opened #431 "Stale version of docs at Read The Docs"
Hi. This seemed like the best place to file this issue. There's a stale version of the numpy docs at https://numpy.readthedocs.io/en/latest/.

I feel either deleting it or setting up a redirect to numpy.org/doc would be more than good enough. Either would avoid people using a version of the docs that's not updated anymore, at least.

[2021-04-28 21:09] rgommers commented on #431
Thanks for the report @chrish42.

@shoyer the RTD setup was pointing at your fork rather than the main repo. I changed that now.

I don't want to delete the whole project, because then someone else can take over the `numpy` name on RTD I think. But we also don't want to maintain it. Anyone know of any solutions? @astrojuanlu maybe?

[2021-04-28 22:03] shoyer commented on #431
I asked over in the RTD support issues: https://github.com/readthedocs/readthedocs.org/issues/8143

[2021-04-28 22:03] astrojuanlu commented on #431
Hah, I was writing a response at the same time you opened the issue upstream :) let's continue the discussion there

[2021-05-03 03:02] joelachance commented on #417
How does this look? I didn't add much to the title, but I think it looks a little better. I did check it on English and it seems fine, I didn't check it on other translations yet besides en and pt.

Fade added, see column 2, row 1.

<img width="1222" alt="Screen Shot 2021-05-02 at 10 01 27 PM" src="https://user-images.githubusercontent.com/3891660/116837923-f8efba00-ab91-11eb-83e1-771cb2c7a788.png

[2021-05-03 07:38] rgommers commented on #417
Looks good to me! @melissawm what do you think?

PR preview will show en/pt/ja so it'll be easy to compare.

[2021-05-03 12:35] joelachance commented on #417
PR above!
@rgommers  @melissawm

[2021-05-03 15:31] Tiffilore commented on #55
I can offer translations to German.

[2021-05-03 15:51] melissawm commented on #417
Left my review in the PR - looks great to me, thanks!

[2021-05-04 12:50] InessaPawson opened #433 "Update the copyright statement with the current year"
The year in the copyright statement needs an update.

[2021-05-04 14:10] InessaPawson opened #434 "Expand the content of the NumPy press kit"
The purpose of the NumPy electronic press kit (https://numpy.org/press-kit/) is to help academics, students, communications professionals, and media  develop presentations and stories related to NumPy as a software and community. 

What to include in the press kit: TBD

[2021-05-04 14:16] InessaPawson opened #435 "Refine the infographics in the Data Science tab"
Refine the infographics in the Data Science tab to unify all the graphic elements of the home page.

[2021-05-05 12:40] JannickTie commented on #55
@Tiffilore  I guess it's the same thing as with Italian. @rgommers answered it here

But if the time has come to create a german translation, i would love to help you translating.

[2021-05-05 18:33] rgommers commented on #55
Thanks for the offers of help @Tiffilore and @JannickTie!

Indeed, that's still the answer, please give us a little bit of time. If you look at the Netlify preview on the most recent PRs to this repo, you can see we have Japanese and Portuguese >95% complete - an initial release is not far off.

[2021-05-05 18:35] #417 closed

[2021-05-05 20:08] isabela-pf opened #436 "Add community calendar to the Community section"
### What I'd like
A calendar that lists all upcoming NumPy community events on the Community section. I think this could easily be added as a new entry under the Participate Online section. I would find it most helpful if this was truly on a calendar where I could see the upcoming dates, but at the very least I would be happy to have a list of events that happen on a regular basis so I know what I

[2021-05-06 08:10] rgommers commented on #436
This may be a good idea, thanks for the suggestion @isabela-pf.

My main question is: how do we deal with a safety issue like "Zoom bombing"? Right now you can find the meeting invites, and they get shared on the mailing list and our ask-for-an-invite-first Slack instance. So anyone in the world can already join, but it takes some work. If we make it easy to find on a website that gets a couple of

[2021-05-06 12:44] melissawm commented on #436
I share that concern. In the events I'm creating I'm enabling the waiting room and muting of participants by default when they join, but I've never faced problems so it's hard to tell how it would be if we did have problems.

[2021-05-08 13:52] rgommers commented on #254
I gave this a quick try, this is doable without too much effort. And there are a lot of things to fix. Steps:

- Install `htmltest` locally, see https://github.com/wjdp/htmltest
-  Add a `.htmltest.yml` in the root of the repo
- Run `./bin/htmltest` and see what it says. Either add config options to silence false positives, or fix things up.
- Once it's passing, add it in CI.

`.htmltest.yml` shou

[2021-05-09 12:33] InessaPawson opened #437 "Create social media guidelines"
The NumPy team uses social media, mainly Twitter, to communicate with the broader user base.
The social media guidelines should outline how to behave on social media in a way that is positive for the project's maintainers, contributors, and user community. Think of them as a manual for social media best practices.

[2021-05-09 12:33] InessaPawson opened #438 "OLD LOGO - tracking issue"
I'm finding that the[ old NumPy logo](https://github.com/numpy/numpy.org/issues/37#issue-486072084) is still in use in our own visual materials or on partner websites. If you come across it, please leave a comment in this issue (include a link and screenshot, if possible). I will follow up to get it updated. Thank you for contributing to the NumPy brand integrity!

[2021-05-09 14:55] brigitteunger commented on #254
Hello all, just to mention I will look into this issue as part of the WiMLDS sprint.

[2021-05-09 17:33] #433 closed

[2021-05-18 07:22] JanPokorny commented on #438
One funny issue is that Google Images search for "numpy logo" shows 5 different variants among the first 8 results. People not bothering to do more research probably pick the one they like the most for their materials, which spreads not only the old logo, but even draft logos. (I however have no idea if this is solvable.)

![image](https://user-images.githubusercontent.com/4580066/118608661-3a9b7a

[2021-05-19 09:26] InessaPawson commented on #438
Thank you! Yes, we are aware of it. It’s one of those drawbacks of working in the open.:)

[2021-05-25 18:04] rgommers commented on #370
Adding links to the recent Nature correspondence by @paugier et al.:
- Article: https://rdcu.be/ciO0J
- Benchmarks: https://github.com/paugier/nbabel
- Twitter thread: https://twitter.com/pierre_augier/status/1385325261189787650

[2021-05-29 15:39] Uttam-Singhh opened #440 "Flip the navbar buttons "About us" and "Contribute""
According to convention `"About us"` button always comes at the last of a Navbar.
so flip `"About us"  button `with `"Contribute"`.

![1](https://user-images.githubusercontent.com/63050765/120076254-3dec0b00-c0c2-11eb-81c2-2c21781447d6.JPG)

I'd love to work on this and solve this.
Please give me a green signal and assign me this task.

[2021-05-29 15:49] Uttam-Singhh opened #441 "Increase the size of the social media logos and change the color of them in the Footer"
The size of Social Media logos in the Footer is too small that sometimes it is not even visible.
Also, the color used in the logos is matching with the Footer color so it is hard to notice the logos so use contrast colors in the logo other than Footer color so that it is clearly visible.

![2](https://user-images.githubusercontent.com/63050765/120076516-81934480-c0c3-11eb-9860-1ecb806635a5.JPG)

I

[2021-05-29 18:12] rgommers commented on #441
@InessaPawson any thoughts on this suggestion?

[2021-05-29 18:18] Uttam-Singhh commented on #440
Can I work on this @rgommers??

[2021-05-29 18:21] rgommers commented on #440
That makes sense I think. There's a lot of discussion on site layout at https://github.com/numpy/numpy.org/issues/43#issuecomment-533544857, but I cannot remember or see a specific comment on order of `About us` and `Contribute`. Cc @InessaPawson, who I think designed this order.

You can submit a PR if you want, but I'd like to wait for @InessaPawson's input before merging it.

Also note that we

[2021-05-29 18:27] Uttam-Singhh commented on #440
Oh ok, sure I will do it for all the languages!
I will actually wait for @InessaPawson also to give her input on this idea before I start working!

[2021-05-29 23:01] rkern commented on #440
I don't know that there's a particular convention that puts the "About Us" all the way on the right, at least in the context of our other design choices. Because our header is right-aligned, the last item on the right is where you want to put the "call to action" items, and "Contribute" is the main one for us (why? [Corners are easier to hit](https://en.wikipedia.org/wiki/Fitts%27s_law#Implication

[2021-05-31 11:46] InessaPawson commented on #441
Thank you for your input, @Uttam-Singhh!
What color are you suggesting for the social media icons? And what size do you think they should be?

[2021-05-31 12:39] InessaPawson commented on #440
I appreciate your enthusiasm, @Uttam-Singhh! To echo @rkern, in modern UI/UX design, there is no convention on what buttons should be placed in the top navigation bar and in what order. These choices are determined by objectives and priorities of a project. And as you can tell by reading this thread https://github.com/numpy/numpy.org/issues/43#issuecomment-533544857, we have given a lot of thought

[2021-05-31 14:55] Uttam-Singhh commented on #440
Oh ok, Thank you @InessaPawson for clearing this out!
Closing this issue!

[2021-05-31 14:55] #440 closed

[2021-05-31 15:11] Uttam-Singhh commented on #441
Hello, @InessaPawson 😄
There are two ideas for color and design in my mind:

1.) Using the original color of different logos for example gray logo of GitHub, Blue(not current) for Twitter, and red mix for Instagram(if exists).

2.) Next, we can use gray or white color for every logo for example -

![2](https://user-images.githubusercontent.com/63050765/120212286-681f0380-c24f-11eb-8daf-0abf5840971

[2021-06-01 15:41] rgommers opened #442 "Update Install page to always recommend conda-forge"
`defaults` right now still have numpy 1.19.2 as the latest NumPy version, which means it's outdated by about 8 months and 7 releases (1.19.3-1.19.5, 1.20.0-1.20.3). The situation is no better with other important packages, and it's getting a bit ridiculous. `conda-forge` on the other hand is maintained very well, and has only gotten better / more stable since the last update to our Install page. S

[2021-06-01 19:45] Uttam-Singhh commented on #441
Can I start working @InessaPawson?

[2021-06-02 04:03] InessaPawson commented on #441
@Uttam-Singhh Yes, I'll assign you to this issue.
For the best contrast, I’d go with the white color rgb(255,255,255) for all the social media icons. As far as the size, I suggest matching the height of the icons to the height of the newsletter subscription form above which will be roughly the 2x of the current size of the icons. I would not go larger than that.

[2021-06-02 11:17] Uttam-Singhh commented on #441
Sure I will keep that in mind! Thank you so much

[2021-06-02 19:31] Uttam-Singhh opened #443 "UnicodeEncodeError: 'charmap' codec can't encode characters (gen_config.py)"
There is a serious problem with the `gen_config.py` file.
When I was trying to run `make hugo` command to start building sites.

I was getting the following error again and again:

![num1](https://user-images.githubusercontent.com/63050765/120538951-b7f2fb80-c404-11eb-90f6-fafd346c1130.JPG)

then I went through the web and searched about this and I found this problem is only for **windows** users.

[2021-06-03 08:41] #443 closed

[2021-06-03 17:07] Uttam-Singhh opened #445 "Update the README.md file. (Add extra prerequisites to download MinGW)"
In the Readme file, It is mentioned that you only need to install `HUGO`.
but when the developer will move forward he/she will have to run `make hugo` and `make` command is not supported by Windows(No idea of other operating systems).

So, there should be an extra dependency to download [MinGW - Minimalist GNU for Windows](https://sourceforge.net/projects/mingw/).
or they follow [this](https://www

[2021-06-03 19:45] mattip commented on #445
... or document that on windows you should do (not tested, should work)
[code]

[2021-06-04 18:44] rgommers commented on #445
Thanks for the report @Uttam-Singhh. I agree with @mattip's suggestion - all the `make hugo` does extra is running `python gen_config.py`. So let's recommend that instead, MinGW is too complicated. A PR for clarifying the README would be great.

[2021-06-05 19:13] Uttam-Singhh commented on #445
Done! @rgommers
Please Let me know if there is an issue!

[2021-06-06 20:59] #445 closed

[2021-06-10 20:19] IlsaAfzaal commented on #441
Hello!!! @InessaPawson.
We can Use this color "#6e6d6d" in social media logos/icons and the outer glow can make these icons more attractive.

![f49e2024-a329-4944-a4c9-c0032578f1ca](https://user-images.githubusercontent.com/81191657/121590822-a48bf580-c9ed-11eb-8c2d-a709c00cbbe2.jpg)

[2021-06-11 12:38] InessaPawson commented on #441
Thank you for submitting your idea, @IlsaAfzaal!
I’m not convinced that the glow effect fits well with the minimalistic design of the website. @isabela-pf and @MarsBarLee, what are your thoughts on this?

[2021-06-11 17:46] Uttam-Singhh commented on #441
Can anybody help me with this?
I have done the changes but the website(localhost) is not reflecting any of them even my code editor is not reflecting that I have made the changes.

For example, in the below image on the left you can see that I did a minimal change in the `index.html` file( I just removed `'d' `from `reserved` just to check whether it is reflecting or not) but my code editor is not

[2021-06-11 18:15] isabela-pf commented on #441
@InessaPawson I definitely think it creates a better user experience to handle similar buttons with the same UI treatment. Since we don't use the glow on other icon buttons right now, I'd recommend not using it in just one place. Consistent styling usually creates cleaner and more maintainable code too. This glow in particular might interfere with contrast as well, though I seeing this had made me

[2021-06-12 04:11] IlsaAfzaal commented on #441
@Uttam-Singhh  I can help you in this regard... Let me see once....Is it working on my end or not!!

[2021-06-12 06:24] Uttam-Singhh commented on #441
So is it working? @IlsaAfzaal

[2021-06-12 06:48] IlsaAfzaal commented on #441
@Uttam-Singhh
It's not working properly
Don't know what's the main issue....but I'm finding

[2021-06-12 07:27] IlsaAfzaal commented on #441
You're welcome... but according to my thinking the size and color of the social  media logo is perfectly fit here

[2021-06-12 16:19] IlsaAfzaal commented on #441
Hello @InessaPawson  Can I start working on it?
without giving an outer glow to these logos.....
Kindly respond me for this..

[2021-06-13 11:56] InessaPawson commented on #441
Thank you so much, @isabela-pf!
Your comment about the min clickable area is very helpful. If we double the size of the current social media icons, as I suggested earlier in https://github.com/numpy/numpy.org/issues/441#issuecomment-852701242, they should meet that requirement.

[2021-06-13 12:08] InessaPawson commented on #441
@IlsaAfzaal This issue has already been assigned to @Uttam-Singhh (See here: https://github.com/numpy/numpy.org/issues/441#issuecomment-852701242.) However, you could be one of the reviewers of his pull request.

[2021-06-14 19:59] Uttam-Singhh commented on #441
@InessaPawson @rgommers  Can anyone please help me with this so that I can start working!

[2021-06-15 09:26] rgommers commented on #441
@Uttam-Singhh `index.html` is generated code, so you should not modify it - the changes you make there will be immediately overwritten again.

Try changing (for example) `content/en/about.md`, then run `hugo server` and go to http://localhost:1313/about/. You should see your changes then.

[2021-06-15 20:08] Uttam-Singhh commented on #441
Oh, I see! I am new to Hugo that's why I got confused!😅
Thank you @rgommers 😇

[2021-07-26 14:58] melissawm commented on #55
I think there is something funny going on with Crowdin. I went to translate the additional text added recently and realized that several of the previously translated strings have suggestions that are "off by one": they are mostly section titles that are at the wrong level. To fix this I am approving my own translations but it would be better to check if this is happening for other languages as wel

[2021-07-26 15:54] rgommers commented on #55
I did not make any changes in Crowdin directly. I merged a few PRs. There are two similar-looking news items, an old translated one and a new one from gh-452. Somehow their similarity threw off Crowdin when pulling in changes from `master`.

[2021-07-27 12:02] AtsushiSakai commented on #55
I realized similar things happened in Japanese translations.

I scanned and fixed these manually.

[2021-07-27 12:09] rgommers commented on #55
It may be fixed if we add the new English strings to the Chinese and Portuguese translations of `news.md`. That way the mapping from one language to the other is much more consistent. Shall we try that as an experiment, or are manual fixes already underway?

[2021-07-27 12:40] melissawm commented on #55
I planned on doing a thorough review anyway, I'll also try to get a second reviewer so a manual fix seems ok.

[2021-07-27 15:47] itscoolvatsa commented on #397
hey @InessaPawson  is this issue still open. I wanted to make my first contribution if it is?

[2021-07-27 16:01] InessaPawson commented on #397
Hi, @itscoolvatsa! It looks like @aerikpawson is already working on it. Let's ping him to see if he is planning to finish the task.

[2021-07-27 16:05] itscoolvatsa commented on #397
Yeah, sure btw I'm unfamiliar with the process, and I don't know how to do so.

[2021-07-27 16:23] InessaPawson commented on #397
@itscoolvatsa Asking first is the best. So well done there!

[2021-07-27 17:10] itscoolvatsa commented on #397
One last thing when do I recheck fo this issue if available or not?

[2021-07-27 22:58] aerikpawson commented on #397
@InessaPawson @itscoolvatsa I apologize for taking so long. I'll finish it within the next 2-3 days.

[2021-07-28 02:05] InessaPawson commented on #397
Thank you for letting us know, @aerikpawson!

@itscoolvatsa We will have a low-code mini-sprint focusing on accessibility at the next Newcomer’s Hour scheduled for July 29th at 8PM UTC. This is a great opportunity to make your first contribution to NumPy. Here is more info about it: https://mail.python.org/pipermail/numpy-discussion/2021-July/081984.html. I hope you can make it.

[2021-07-28 02:35] itscoolvatsa commented on #397
Yeah sure I will

[2021-07-28 03:27] InessaPawson commented on #397
It will be @melissawm hosting it. I'm not sure we will be recording (usually we don't). Let’s wait for Melissa to respond.

[2021-07-28 17:02] melissawm commented on #397
Hi @itscoolvatsa we won't be recording this but two weeks from now we might do another one at 4pm UTC, would you be able to make it then? (this is usually announce in the mailing list)

[2021-07-28 17:10] itscoolvatsa commented on #397
Yeah that one I can do, and where do I get notified for these events. And one last thing is it for contributing to the numpy library or numpy webpage.

[2021-07-28 17:11] melissawm commented on #397
They are announced in the mailing list, and they are for contributing to the NumPy package (in this case, the documentation).

[2021-07-28 17:12] itscoolvatsa commented on #397
Thanks for the info.

[2021-07-31 15:34] InessaPawson commented on #397
@aerikpawson LGTM (Looks good to me.) One suggestion: next time, before pushing, squash all the commits you'd like to include in a pull request into one. You’ll have to use the terminal for that.

[2021-08-09 18:55] guilhermeleobas commented on #55
Hey folks, I'd like to help with the Portuguese translation

[2021-08-12 20:04] insertinterestingnamehere commented on #37
Just noticed the new logo. This is fantastic! Thanks for putting it together!

[2021-08-22 07:00] blueskyson opened #462 "How could I add Chinese translation"
I want to add some Chinese translations (`zh` and `zh_TW`). Shall I just create pages under `content/zh` like #456, or is there any guide-line that I can follow?

[2021-08-23 02:53] Qiyu8 commented on #462
@blueskyson  Looking forward to collaborate with you! There's info at https://github.com/numpy/numpy/wiki/Translations-of-the-NumPy-website on Crowdin. Register an account and start translating. IMO #456 is just an summarization of Crowdin. Feel free to ask any questions if anything isn't clear enough.

[2021-08-23 13:52] #462 closed

[2021-09-16 02:04] InessaPawson commented on #435
It would be great if the infographic embraces the flat design principles and echoes the style of other graphic elements of the website.

[2021-09-20 17:30] rossbar opened #466 "Problems with the interactive terminal on the main page"
The interactive terminal on the main page has never really worked that well for me. Specifically:
 - It can take a long time for the terminal instance to instantiate once the "enable" button has been clicked. I typically experience load times ~10 sec, but I've also experienced times in the 30s-1min range.
 - Once the terminal is live, it opens (for me) with a blank line and there is no indication

[2021-09-21 21:12] rgommers commented on #466
Some of this is known I think, but some items may be fixable - any thoughts on this @joelachance?

[2021-09-22 14:30] joelachance commented on #466
Thanks for the report @rossbar! Unfortunately I think most of the things you're seeing are more or less expected.

1. This is Binder loading. There's no way around this one.
2. I think this is how Thebelab works. We'd have to implement something custom to do this.
3. I don't think Thebelab works this way, but maybe it's been updated.
4. Yep, no history. Again, I think this is Thebelab. I believe w

[2021-09-27 07:24] FayasNoushad opened #469 "Not centered"
![Screenshot](https://user-images.githubusercontent.com/76828314/134862765-accd6af7-4b48-4079-8070-0cc27ef14e90.png)

Home page not centered on mobile view.

[2021-09-27 14:56] melissawm commented on #469
@MarsBarLee do you think this is something you can look into?

[2021-09-29 14:28] MarsBarLee commented on #469
@melissawm Yes I can! It seems to be an alignment problem.

[2021-10-02 08:51] Mann-tech13 commented on #399
@InessaPawson  Can I work on this issue?

[2021-10-02 14:30] rgommers commented on #399
@Mann-tech13 please do. Any issue you think you can work on in this repo is fair game; we don't pre-assign issues to people normally.

[2021-10-02 17:13] jarrodmillman opened #473 "Rename default branch"
Should we rename the default branch `main` from `master`?  Many other repositories have done it already including `numpy/numpy`.  This should just involve clicking a button in the settings and then doing a global search and replace to update internal references to the old name.

[2021-10-02 17:34] rgommers commented on #473
Yes we should, but not now. We did not touch this repo on purpose, because there's website deployment changes involved. CloudFlare (hosting), Netlify (preview), the separate deployment repo (https://github.com/numpy/numpy.github.com) etc. are not fun to deal with.

Last time we touched that it cost me more than half a day to fix things. This is more a Christmas-time change, when there's time to de

[2021-10-11 04:04] new-vivek11 opened #474 "Science Tab under Ecosystem Section (Logos & Their Appearance on Mobile Devices)"
One cannot navigate all the logos under Science tab in Ecosystem section on main page very smoothly.

**If you slide the text written above the logos the site does not slide, not even if you slide on the logos.**

I have a moto g 6 and I opened Numpy.org on chrome browser.

[2021-10-11 14:59] new-vivek11 commented on #399
I may start work on this ... Will give update if I start working on it.

[2021-10-11 15:48] melissawm commented on #474
Thanks, @new-vivek11

[2021-10-11 18:22] new-vivek11 commented on #474
@melissawm also the logos under the Science tab look out of sync with the NumPy Color Palette.

Logos are black (although that is in the NumPy Color Palette), i feel they will look more in sync if they are drawn in another color which is also on the palette (RGB 1/50/67 | HEX #013243).

I think @MarsBarLee have designed them - she can do it in this color too - maybe later or sooner - or if i get t

[2021-10-11 19:52] new-vivek11 commented on #474
got a youtube video to change the color too : https://www.youtube.com/watch?v=jdEoTPZGTyQ&ab_channel=Basil

[2021-10-12 01:39] jarrodmillman opened #475 "factoring out the theme"
@stefanv and I recently ported scipy.org to the new numpy.org theme (https://github.com/scipy/scipy.org/pull/413).  At first, we just manually copied over the files https://github.com/scientific-python/scipy.org-new/commit/7dda713c97330ff6e2e05cd939f4d919f15cb77c.  We started to think about using it for other sites (e.g., I would like to use this theme for https://scientific-python.org and https:/

[2021-10-13 17:20] melissawm opened #477 "Add link on the home page for the survey content"
Right now, the survey content lives here: [https://numpy.org/user-survey-2020/](https://numpy.org/user-survey-2020/)

However, this page is not reachable from the main page, only from the News section (which tends to get buried as time passes and new items are added).

It would be nice to find a place to link to the user survey page - maybe at the bottom links where we have the Roadmap, Press kit

[2021-10-13 18:05] rgommers commented on #477
Good idea, more visibility would be nice. Now that the 2021 survey results are also on their way, the footer should perhaps be to a new https://numpy.org/user-surveys page?

[2021-10-14 01:34] InessaPawson commented on #477
Sounds good to me! I’ll submit a PR shortly.

[2021-10-15 14:37] MarsBarLee opened #478 "Change icon colors in Science tab of Ecosystem section"
Change the colors of the icons in the Science tab of the Ecosystem section from black to the dark blue used in the rest of the theme, hex color code #013243.

Related to #474. This issue is to help separate the multiple issues mentioned in #474 into their own separate issues. @new-vivek11, would you like to continue with making the color changes?

[2021-10-15 15:11] MarsBarLee commented on #478
@new-vivek11 You make a contribution by [making a pull request](https://docs.github.com/en/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request) in this [numpy.org repository](https://github.com/numpy/numpy.org/pulls).

If you're not already familiar with using Git on the command line, you can also make a pull request (PR) using the Gith

[2021-10-15 16:13] new-vivek11 commented on #478
i have made a pull request : https://github.com/numpy/numpy.org/pull/479

not sure whether i did it the right way or not but my guess is that i have done it right (new to pull requests) ... please let me know whether i have done all that i need to do from my side. @MarsBarLee

[2021-10-16 11:22] #474 closed

[2021-10-16 11:45] new-vivek11 opened #482 "High Level Visual Overview Missing"
Does anyone feel that the site (NumPy.org) fails to convey a high level visual understanding of what it is all about ?

I am writing in context of the book "Start with Why" by Simon Sinek .. recently read that ..

And it stresses the fact that one should be very clear about why they exist ... Repeatedly giving example of Apple, Martin Luther King etc.

Like The Economist magazine states that they

[2021-10-16 17:08] rkern commented on #482
If you meant to attach a screenshot of something, I think you got the wrong one.

I'm comfortable with the current wording.

[2021-10-17 08:04] new-vivek11 commented on #482
@rkern

I was looking for a page on the site (NumPy.org) which can explain this sentence well "the fundamental package for scientific computing for python"

I was looking for a page which will explain - "what kind of world we will live in if NumPy does not exist"

To explain further, what kind of world we will live in without Google ?

Answer will be : a world "frustrated" because of inability of

[2021-10-17 09:30] #477 closed, assigned to nobody

[2021-10-23 02:24] new-vivek11 opened #484 "Put images related to Visualisation & Data Science tab under Ecosystem Section in a separate folder."
Images that are related to the Science Tab under the Ecosystem Section are in one separate folder.

but the images that are related to Visualization Tab are not in one separate folder.

this will related to #342  too as @InessaPawson has described the 3 main issues there : Science Tab (which is almost done), Data Science Tab, Visualization Tab.

LITTLE UPDATE ...

The whole directory of content-im

[2021-10-23 02:29] ghost opened #485 "Graphic design for the Visualization tab under the Ecosystem section"
This issue is raised in #342 by @InessaPawson.

I am just making a specific issue out of it so that people give attention to it.

Ecosystem section comes on the home page, and Science Tab appears even first when you visit the Ecosystem Section, but there are other Tabs too which have not been given enough attention like Data Science and Visualization.

@InessaPawson you want new images for the Vis

[2021-10-23 03:46] ghost opened #486 "Add Visitor Tracker"
Anyone thinks that a visitor tracker should be added to NumPy website ?

A tracker that counts and shows how many people have visited the NumPy.org in the last month or so !

[2021-10-24 20:40] #486 closed, assigned to nobody

[2021-10-26 09:36] shaloo opened #489 "Logo size of icons in array libraries tab"
This is probably similar to #441 (unless I missed an issue to rework array libraries page).  Please resize to a standard size - all the logos in the first column on array libraries page.
<img width="1008" alt="Screenshot 2021-10-26 at 3 05 54 PM" src="https://user-images.githubusercontent.com/5890484/138852077-92a56d16-2307-4e55-88fb-50b78dde876f.png">

[2021-10-27 11:02] ghost opened #490 "Title missing above the features of NumPy"
The home page has four main sections, in this order : Features of NumPy, Trying out Shell, Ecosystem, Case Studies.

(If one wants a more complete picture of the home page, then there will be 7 sections : Top Bar, Header before the features and the Footer after the Case Studies section)

The Ecosystem section has a central title named : ECOSYSTEM

The Case Studies section has a central title named

[2021-10-27 21:17] #490 closed, assigned to nobody

[2021-10-28 02:27] InessaPawson opened #491 "Reverse the favicon to the NumPy logo"
The favicon was changed from the NumPy logo to the https://scientific-python.org one. This change needs to be reversed.

[2021-10-29 09:17] #491 closed, assigned to nobody

[2021-10-30 23:33] InessaPawson commented on #485
@new-vivek11 The objective of the Visualization tab was to underline the importance of NumPy in this space by showcasing some of the most popular and highly reputable visualization libraries that depend on NumPy. With that in mind, I think the amount of the existing content will suffice.

[2021-10-30 23:35] #484 closed

[2021-10-31 16:27] rgommers commented on #485
I agree. We want to give a sketch of the ecosystem, but not explain everything in a lot of detail. That would be a ton of work, and would also give a lot more content to translate into a number of other languages. So while we can tweak things if needed, in general we're happy with the amount of content on the site right now, and the quality of it.

For visualization in more detail, please see http

[2021-10-31 19:29] holamgadol opened #494 "Fix a broken link to the VisPy gallery in the Visualization tab of the Ecosytem section"
An image hyperlink to the VisPy gallery leads to 404 error.
Suggesting replace _http://vispy.org/gallery.html_ to _https://vispy.org/gallery/index.html_

[2021-10-31 19:31] holamgadol commented on #494
#495

[2021-10-31 20:22] #494 closed

[2021-11-02 00:59] lgfunderburk commented on #437
Joining from PyData Global and parsing issues that might still need some work.

Where would guidelines be kept? Does this still need help?

[2021-11-02 01:44] InessaPawson commented on #437
Thank you for considering contributing to NumPy, @lgfunderburk! Yes, we still need help with this issue.

I don’t think we made a decision on it yet. @rgommers Have you given a thought to this?

[2021-11-02 05:04] lfunderburk commented on #437
Awesome. Let me know where to jot down ideas. Can also spin up a google doc if you prefer

[2021-11-02 19:55] InessaPawson commented on #437
Collaborating on this in a Google Doc works for us.

[2021-11-03 10:09] rgommers commented on #437
Agreed, working in a Google Doc for now sounds great. This is actually an interesting/important topic. Some research on how other communities/projects do this would be super helpful.

[2021-11-03 20:23] stefanv opened #497 "Link colors"
I notice that links are currently colored [#1e87f0](https://imagecolorpicker.com/color-code/1e87f0) instead of using a color from the [NumPy palette](https://github.com/numpy/numpy.org#user-experience-ux).  This color derives from the usage of UIKit.

Should the color be one from the NumPy palette, should it be added to the palette, or should we leave things as-is?

For the theme, I've split the c

[2021-11-05 11:30] InessaPawson commented on #497
Good catch! I’d stick with the NumPy palette. Let’s replace #1e87f0 with NumPy Deep Blue (#4d77cf ).

[2021-11-05 15:43] isabela-pf commented on #497
That sounds good to me, too! Thanks @InessaPawson.

[2021-11-13 20:21] stefanv opened #498 "Contribute page does not have link to donation"
And this may be where people land looking for it.

[2021-11-13 22:18] logankilpatrick opened #499 "Add image preview to case studies section"
It would be nice visually to have some preview images on this page: https://numpy.org/case-studies/ instead of just all text.

[2021-11-14 08:07] rgommers commented on #499
Hmm, that was never meant to be a page I think. Did you find a link to it somewhere?

[2021-11-15 03:32] logankilpatrick commented on #499
I saw a direct link @stefanv sent and just deleted the rest of the URL because I wanted to see the other case studies

[2021-11-15 03:38] stefanv commented on #499
That's a category page on Hugo. It's like a list of posts, so you wouldn't expect to find anything other than text (usually title, author, and summary). The site never links to it explicitly, so I think it's safe to leave as-is.

[2021-11-15 03:40] #499 closed

[2021-11-16 11:46] rgommers commented on #489
Agreed it doesn't look good, thanks for the report @shaloo. This is in general a hard thing to do right, because the aspect ratios of these logos are wildly different. We could do some resizing; PyData Sparse is in need of a better logo with a width larger than the height.

[2021-11-17 22:41] InessaPawson commented on #498
Fair point! We should definitely add a paragraph about it and links/buttons.

[2021-11-25 22:01] adeak opened #501 "Unexpected favicon.png (but not .ico)"
A few days ago I noticed that duckduckgo shows an unusual favicon for numpy.org:

![duckduckgo search result screenshot showing surprising favicon next to numpy.org](https://user-images.githubusercontent.com/17914410/143503080-939988d1-6286-4868-a7a7-e342fc4a4687.png)

Looking at the HTML source, I can see a favicon.png and a favicon.ico ~~(probably related to https://github.com/numpy/numpy.org/pu

[2021-11-25 22:35] stefanv commented on #501
That's from the parent theme. It gets overridden for most browsers, but looks like not for DDG. I will implement a fix. Thanks for the report!

[2021-12-02 13:24] ganesh-k13 opened #503 "Missing link in gallery/team.html"
### Issue:
There is a missing hyperlink at `Governance` section of https://numpy.org/gallery/team.html to https://numpy.org/devdocs/dev/governance/people.html

Related to https://github.com/numpy/numpy/issues/17496

CC: @InessaPawson

[2021-12-02 15:19] InessaPawson commented on #503
@ganesh-k13 Thank you for identifying the broken link! Since https://numpy.org/devdocs/dev/governance/people.html has been deleted, let's link to the list of the Steering Council members on https://numpy.org/about/.

[2021-12-28 04:01] InessaPawson commented on #431
RTD doesn’t seem to offer new solutions for taking care of this issue. Should we add an index as suggested here: https://github.com/readthedocs/readthedocs.org/issues/8143#issuecomment-829107703?

[2021-12-28 09:02] mattip commented on #431
According to the [numpy project page](https://readthedocs.org/projects/numpy/) the maintainers on ReadTheDocs are @rgommers, @shoyer, and @WoLpH. If someone else wants to pick this up, one of the maintainers will need to give them the needed permissions. Any volunteers?

[2021-12-28 12:50] WoLpH commented on #431
I can give permission, just tell me the username. I only created the project on read the docs many years ago in the hopes of having up to date docs available. But I couldn't get it to build at that time.

 I'm not sure about the current state though.

[2021-12-28 19:01] shoyer commented on #431
If someone wants to do something with this page, I am happy to share
permissions. But I don't think it's really worth worrying about, unless we
hear reports from users who are surprised by it. I don't see the
ReadTheDocs page showing up when I search for the NumPy docs in Google.

On Tue, Dec 28, 2021 at 4:50 AM Rick van Hattem ***@***.***>
wrote:

[2021-12-28 19:20] WoLpH commented on #431
How about a little stub documentation that (automatically) redirects you to the numpy docs?

[2021-12-28 19:23] shoyer commented on #431
that sounds fine, if someone wants to put that together

On Tue, Dec 28, 2021 at 11:20 AM Rick van Hattem ***@***.***>
wrote:

[2021-12-31 10:14] shaloo commented on #431
I can take that up.  Can you give me permissions on RTD so that I can create a stub that redirects to official NumPy docs page?

[2021-12-31 11:18] rgommers commented on #431
Thanks @shaloo! Is your ReadTheDocs username also `shaloo`? If you don't have an account there yet, you'll need to create one.

[2021-12-31 15:37] shaloo commented on #431
@rgommers, @mattip here is the draft setup at RTD - please take a look and let me know if there are any suggestions.  I have used the default RTD theme, easier to setup/build and deploy for a single page redirect. https://numpy.readthedocs.io/en/latest/

Also, for now I have used a public git repo (https://github.com/shaloo/numpydoc-redirect) that RTD points to in order to generate this page.  If

[2021-12-31 16:28] rgommers commented on #431
That looks great, thanks @shaloo!

It's probably a good idea to transfer that repo indeed. Hopefully we'll never have to update it, but I can image that we'd want to in the far future, and that we then can't find the link anymore.

If you go to https://github.com/shaloo/numpydoc-redirect/settings, then at the bottom of that page you should see "Transfer ownership". If that doesn't work because you

[2022-01-01 06:54] shaloo commented on #431
I tried to transfer ownership but it did not allow me to do move it to NumPy.org. Adding @rgommers as admin to do the needful.

[2022-01-01 09:24] rgommers commented on #431
Ah, that wasn't quite enough @shaloo - it needs to be Admin permissions, not Write or Maintain.

[2022-01-01 11:02] shaloo commented on #431
I do not see any option for 'Role' or editing permissions.  When I added you as a collaborator to the repo - it just sent the default invite - I am not sure how to add you as an admin - looked around in settings but can't seem to find any option.  Let me try transferring the repo to you as a user and not NumPy.org<img width="1187" alt="Screenshot 2022-01-01 at 4 29 56 PM" src="https://user-images.

[2022-01-01 11:05] shaloo commented on #431
Transferred to @rgommers.  Can you access it now?

[2022-01-01 11:31] rgommers commented on #431
Done: https://github.com/numpy/numpy-readthedocs-redirect

Thanks @shaloo! I think we're good here, let's close this issue.

[2022-01-01 11:31] #431 closed

[2022-01-02 07:24] shaloo commented on #431
After moving NumPy-readthedocs-redirect, we also need to update RTD Repository URL from

[code]

to
[code]

Done, now :-)

[2022-01-03 16:48] jarrodmillman commented on #503
I believe #509 closes this.  Re-open if I am mistaken.

[2022-01-03 16:48] #503 closed

[2022-01-05 15:49] shaloo opened #513 "Cleanup existing team gallery"
Here is an improvised version of team gallery. I created this over the holidays when @InessaPawson asked about team page and script usage.

New:
<img width="1066" alt="Screenshot 2022-01-05 at 7 43 38 PM" src="https://user-images.githubusercontent.com/5890484/148246457-5d000969-8c98-4f18-8020-7a9156a50253.png">

 Older version:  <img width="1074" alt="Screenshot 2022-01-05 at 7 43 44 PM" src="http

[2022-01-05 23:57] jarrodmillman commented on #513
Closing b/c #510 merged (reopen if this was an error on my part).

[2022-01-05 23:57] #513 closed

[2022-01-06 00:48] #473 closed

[2022-01-06 05:40] shaloo opened #517 "Teams Gallery: make teams requires requests package to be pre-installed"
Ref #510

I used a fresh new pyenv virtualenv to run teams target.  When I run `make teams` target to build teams gallery,  it requires python requests package.  There is no requirements.txt in NumPy.org repo anymore.  Do we need to state this in README or am I missing something?

After installing requests package in my virtualenv, it worked fine.

BEFORE:
numpy.org % pip3 list
Package    Version

[2022-01-06 05:44] shaloo opened #518 "README - specify theme name used, move build info to last section"
In the readme section on building teams gallery, scientific-python-hugo-theme clearly instead of just saying query script from theme.

Update

"Team lists

To update the teams, the team_query.py provided by the theme is used. It needs a GitHub token with read:org permissions. The token has to be exported as GH_TOKEN."

To

"Team lists

To update the teams, the team_query.py provided by the [scient

[2022-01-06 05:52] stefanv commented on #517
It's true, the script requires `requests`.  It is only run every so often, not when building the website, so I'm not sure it's worth adding a requirements.txt just for that.  Maybe a comment in the README, or we can update the script to fail with a helpful message when `requests` is not found?

[2022-01-06 07:18] shaloo commented on #517
ok, added via #518 fixes

[2022-01-06 09:42] shaloo opened #521 "Makefile help does not address teams target"
make help output misses team target:

numpy.org % make help

Help for this makefile
Possible commands are:
    teams: generate numpy.org team gallery pages
    public:  create a worktree branch in the public directory
    serve:  serve the website
    html:  build the website in ./public
    clean:  remove the build artifacts, mainly the "public" directory
    deploy:  push the built site to the g

[2022-01-06 09:50] shaloo commented on #518
My bad, build stats were part of deployment section, not a status - moving it back to original location.

[2022-01-06 10:58] shaloo opened #523 "NumPy.org Makefile is due for a cleanup"
README.md lists one of the two/other possible ways to build NumPy.org locally and run / test / validate updates.  It may be useful to list the alternate target workflow/usage for dev/contributors to get them started quickly.

Makefile has other alternate targets such as html, serve that are usable in current NumPy.org.

If gh-pages branch is no longer required and deploying therein, then 'deploy'

[2022-01-06 17:28] #521 closed

[2022-01-06 17:29] #517 closed

[2022-01-06 17:29] #518 closed

[2022-01-06 20:45] #523 closed

[2022-01-06 20:48] stefanv opened #525 "Remove old content?"
Currently, the old website content is under `old-content`. Now that the new website is up, can we get rid of it?

[2022-01-06 20:52] rgommers commented on #525
Agreed, we can get rid of it.

[2022-01-06 23:40] #525 closed

[2022-01-13 13:29] ernstklrb opened #530 "The "User Guide" tile on numpy.org wrongly mentions 'pandas'"
The tile text is "... provides in-depth information on the key concepts of pandas ..."
It should read 'numpy" there.

I would be happy to create a pull request but I cannot find that passage in the repo.

[2022-01-13 13:42] mattip commented on #530
This was fixed on [main in numpy/numpy](https://github.com/numpy/numpy/commit/8d850663eb35f52d592063c99466a871917bf443). The text in the page you see at https://numpy.org/doc/stable/ comes from the "stable" docs, which is a symlink to the 1.22 docs https://numpy.org/doc/1.22, and is shoulde be generated when the release manager tags the release. So this change should be marked for backporting to t

[2022-01-13 15:44] charris commented on #530
Thanks for the report @ernstklrb .

[2022-01-17 18:35] Mukulikaa commented on #438
![IMG_20220117_235904](https://user-images.githubusercontent.com/60316606/149822218-ab0fe7fa-07d5-42c9-8f17-f26d40b60f1b.jpg)
[numpy.org/doc](https://numpy.org/doc) on the Chrome app on my phone shows me this logo.

[2022-01-17 18:45] Mukulikaa commented on #501
Maybe related? This is the logo I see on the Chrome app on my phone:

![IMG_20220118_000950](https://user-images.githubusercontent.com/60316606/149823195-654f1d07-f8d5-4ef9-b173-38ebb8f0b8e8.jpg)

[2022-01-17 18:47] adeak commented on #501
That looks like the logo of [Scientific Python](https://github.com/scientific-python). Perhaps it comes from the Hugo theme?

[2022-01-18 07:20] shaloo commented on #501
The following two files seem to be non-numpy favicon.ico files that are getting inherited and not overwritten in case of android phone as reported above:

./themes/scientific-python-hugo-theme/static/images/favicon.ico
./themes/scientific-python-hugo-theme/themes/hugo-fresh/static/images/favicon.png

On iPhone, I see correct favicon when I browse https://numpy.org/docs link with latest site as of

[2022-01-19 07:37] stefanv commented on #501
Most browsers favor the last favicon specified, but this does not seem to work everywhere.  I will update the theme to only display "our" favicons.

[2022-01-20 18:39] InessaPawson opened #533 "Add a link to the official NumPy YouTube channel"
At the latest NumPy community call, it was suggested to add a link to the NumPy YouTube channel (https://www.youtube.com/channel/UCguIL9NZ7ybWK5WQ53qbHng) to numpy.org.
I’d like to hear everyone’s thoughts on where this link should be placed.

[2022-01-20 21:06] melissawm commented on #533
My suggestion is the Learn page - https://numpy.org/learn :)

[2022-01-21 09:10] shaloo commented on #533
...to be specific the first one - newcomers hour video can go under  https://numpy.org/learn/ under section 'Beginners > Videos'.

Ralf's talk (the second video on the link - Scipy 2019 on state of NumPy, funding etc) could go under 'Advanced > NumPy Talks section.

[2022-01-21 16:48] rgommers commented on #533
Those suggestions sound good to me.

[2022-01-21 22:49] jarrodmillman commented on #533
I would also it to the social media links at the bottom of the page.

Here is what they look like currently on numpy.org:
![screenshot](https://user-images.githubusercontent.com/123428/150610212-b8e4675c-a0e4-499d-98cf-67a2c135aa3a.png)

Here is what they look like for scientific-python.org:
![screenshot](https://user-images.githubusercontent.com/123428/150610254-32d86611-6f7a-45b9-bfc1-830173d130

[2022-01-22 00:27] jarrodmillman commented on #533
The theme also a youtube shortcode:
https://theme.scientific-python.org/shortcodes/

This let's you embedded individual videos (including transcripts).

[2022-01-22 02:19] jarrodmillman commented on #533
See #536.

[2022-01-22 20:21] jarrodmillman commented on #501
The https://numpy.org/doc/ site is not generated by the scientific-python-hugo-them, so I am not sure why the scientific-python favicon appears.  When I go to that page, I see the old scipy favicon.  It looks like https://numpy.org/doc/ is generated from https://github.com/numpy/doc.

I've removed the hugo fresh icon, so it no longer appears here:  https://numpy.org/images/favicon.png

I don't kno

[2022-01-26 03:20] InessaPawson commented on #533
Thank you for your input, everyone! I’d like to offer my thoughts on this.:) The recommended videos in the Beginners and Advanced sections of learn.md are intended for NumPy users, while the target audience of Ganesh’s presentation is contributors to the NumPy codebase. I'm not sure that the Beginners section is the best place for this video.

We could possibly start a new section on learn.md titl

[2022-01-27 17:24] axil opened #538 "Automate link checking"
The page 'Learn NumPy' (https://numpy.org/learn/) contains a broken link.

—the 'here' link is broken.

Can we automate link checking?

[2022-01-27 17:26] stefanv opened #539 "Funding page is missing"
We promised to have a funding page in https://numpy.org/neps/nep-0046-sponsorship-guidelines.html

[2022-01-27 17:30] axil commented on #538
From slack:

[2022-01-27 17:31] axil commented on #538
I've found a single python file which does it for sphinx
https://www.sphinx-doc.org/en/master/_modules/sphinx/builders/linkcheck.html
It should probably work fast enough.

[2022-01-27 17:32] axil commented on #538
This one also claims to run fast:
https://github.com/filiph/linkcheck

[2022-01-27 17:33] mattip commented on #538
Did you try any of them?

[2022-01-27 17:36] axil commented on #538
Yes, trying now :)

[2022-01-27 18:01] axil commented on #538
This one looks most promising to me https://github.com/scivision/linkchecker-markdown :

[code]

Checking html is good, but it cannot be efficiently built into the continuous integration.

I've also stopped https://github.com/filiph/linkcheck after 10-15 minutes of running it (it crawled 4051 pages). It only makes sense to run it against localhost serving the whole site. I don't have the whole num

[2022-01-27 19:41] rgommers commented on #539
Good point - yes we need to add this.

[2022-01-28 05:09] Mukulikaa commented on #501
Does that repo accept PRs? I'd be happy to update [favicon.ico](https://github.com/numpy/doc/blob/main/_static/favicon.ico) and [numpy_logo.png](https://github.com/numpy/doc/blob/main/_static/numpy_logo.png), which should fix the logos on that page.

[2022-01-28 05:58] stefanv commented on #501
Thanks, Mukulikaa.  You can see they currently use the SciPy logo: https://numpy.org/doc/_static/favicon.ico

PR should be made here: https://github.com/numpy/doc/blob/main/index.html#L30

[2022-01-28 06:08] stefanv commented on #538
See also: https://github.com/scientific-python/scientific-python.org/pull/177

[2022-01-28 21:15] #538 closed

[2022-01-29 03:56] InessaPawson commented on #533
Please view #542 as one of the possible solutions in this discussion.

[2022-01-29 05:14] #533 closed

[2022-01-29 14:53] jarrodmillman commented on #501
DDG seems to be finding the correct favicon now:
![screenshot](https://user-images.githubusercontent.com/123428/151665604-144e9800-15bc-40b1-a0ae-99224cab1b39.png)

[2022-01-29 14:57] adeak commented on #501
Curious, I'm still seeing the old logo. Firefox 97.0b8 on debian.
![Screenshot from 2022-01-29 15-55-53](https://user-images.githubusercontent.com/17914410/151665713-6bca00f6-3447-4fca-beda-5d8df259d80b.png)
I checked and it's the same with the light theme. I'll just blame caching for now and post a comment if it's still wrong in a week.

[2022-01-29 15:11] jarrodmillman commented on #501
Yes, we probably have different caches.  Please do post in a week or so when you check again.  Thanks!

[2022-01-30 04:52] Mukulikaa commented on #501
I have opened numpy/doc#9 to fix this.

[2022-01-31 19:43] rossbar opened #544 "Icon error in "back to top" element in lower-right corner"
On the main `numpy.org` page, if a user scrolls down so that the top of the page is no longer visible, a small gray circle appears in the lower-right hand corner of the page which is an anchor link to take the user back to the top of the page. It looks like there is some sort of unicode character that is supposed to render in this bubble, but on my system this doesn't show up. For lack of a better

[2022-01-31 21:05] WarrenWeckesser commented on #544
On my system (Linux + Firefox), the circle contains an up arrow (well, more like a big circumflex--the arrowhead without the shaft):

![Screenshot from 2022-01-31 16-03-37](https://user-images.githubusercontent.com/321463/151872799-e69a761c-3c16-4817-a335-32c17b255d3f.png)
.

[2022-01-31 21:14] mattip commented on #544
On macOS safari I see a box like a bad unicode font.

[2022-01-31 21:19] rossbar commented on #544
Thanks @WarrenWeckesser , it looks like this is the [u+2303](https://www.fileformat.info/info/unicode/char/2303/index.htm) unicode character. It's strange because my system font supports this character, but maybe I have a weird configuration somewhere.

Replacing the unicode character with an icon etc. or some other solution to decouple this from the font support of each user's system would make t

[2022-01-31 21:21] WarrenWeckesser commented on #544
I think it is actually coming from here:

https://github.com/scientific-python/scientific-python-hugo-theme/blob/eaae4491172d327f01270a737679cf9693333826/assets/css/fresh/partials/_utils.scss#L89

So the character is U+F106

[2022-01-31 21:31] WarrenWeckesser commented on #544
Hmmm... U+F106 is in a [private use area](https://en.wikipedia.org/wiki/Private_Use_Areas).  This looks like a "Font Awesome" issue, perhaps something similar to https://github.com/FortAwesome/Font-Awesome/issues/11946

[2022-01-31 22:13] stefanv commented on #544
We removed font awesome, so need to put back an icon for that feature.

[2022-02-01 10:22] #544 closed

[2022-02-01 16:59] jarrodmillman commented on #466
See #547.

[2022-02-02 16:23] jarrodmillman opened #550 "Sunsetting the Google Analytics services"
Per the discussion in #546, we are temporarily trying both google analytics and plausible.  Once we decide whether to use google analytics or plausible, we will need to either:

## Remove google analytics (see #549)

Remove the following files
[code]
as well as this line
[code]
in `config.yaml.in`.

## Remove plausible analytics (see #546)

Remove
[code]
from  `config.yaml.in` and
[code]
from `REA

[2022-02-02 17:00] rgommers commented on #550
I don't think there's a real decision point here between the two. We know we want privacy-friendly data from Plausible, we just don't want a gap in data. As soon as Plausible is working well and we have similar quality data to what we now get from Google Analytics, then we can drop Google Analytics.

[2022-02-02 18:54] rossbar opened #552 "Make the headings on the landing page anchor links"
It would be nice if the top-level headings (e.g. `Ecosystem`, `Case Studies`) were anchor links so that people could link to a specific portion of the page without having to scroll to get there.

[2022-02-02 19:03] stefanv commented on #552
They are anchor links, we should just rewrite the URL when a user clicks on sidebar items so you know *what* IDs they are :)

https://scientific-python.org/ecosystem/#install

[2022-02-02 21:20] rossbar commented on #552
I'm a bit confused by this because AFAICT the numpy.org landing page doesn't have a sidebar. I was thinking something more along the lines of the little chain-link icon that appears when you hover over a section heading in some themes. Whether it's adding a sidebar or some other approach, it'd be nice to be able to easily create those anchor links to the section headings in the browser!

[2022-02-03 01:27] InessaPawson commented on #539
I'm happy to write up the first draft.

[2022-02-03 07:41] stefanv commented on #552
This is addressed in https://github.com/scientific-python/scientific-python-hugo-theme/pull/116

[2022-02-03 07:41] stefanv commented on #552
(I did not add the little chain-link icons, but it would be straightforward to do so, if desired.)

[2022-02-03 18:42] jarrodmillman commented on #552
See #553.

[2022-02-03 18:46] rossbar commented on #552
This is a nice improvement but it doesn't seem to apply to the landing page where there is no sidebar. AFAICT there's still no way to click on/near the `ECOSYSTEM` heading or `CASE STUDIES` headings for example.

[2022-02-03 18:54] stefanv commented on #552
Thanks for noticing those, I will fix them too!

[2022-02-06 19:49] adeak commented on #501
Cache finally gave in:
![Screenshot from 2022-02-06 20-48-30](https://user-images.githubusercontent.com/17914410/152698697-fe965ff7-6ddb-40fa-8b58-40af75c52eed.png)

Thanks for the fix :)

[2022-02-06 19:49] #501 closed

[2022-02-08 17:13] melissawm commented on #437
See the [Scientific Python social media guidelines](https://github.com/scientific-python/social-media/blob/main/social-media-general.md) for possible inspiration.

[2022-02-09 23:23] #466 closed

[2022-02-10 12:36] jtpio opened #555 "Clean up unused code and assets"
This is a follow-up issue to https://github.com/numpy/numpy.org/pull/547.

Now that the website uses an embeddable JupyterLite code console, there might be some unused code, assets and CSS still around that can be cleaned up.

[2022-02-14 04:00] #555 closed

[2022-02-23 15:36] InessaPawson opened #559 "Docs team is missing on the Teams page"
Documentation Team is missing on https://numpy.org/teams/.

[2022-02-23 17:16] stefanv commented on #559
I don't see a documentation team. Can you add one at https://github.com/orgs/numpy/teams ?

[2022-02-23 18:19] InessaPawson commented on #559
Will do. We used to have it. Not sure what happened there.

[2022-02-23 19:28] InessaPawson commented on #559
@melissawm and I re-established the NumPy Docs team on GitHub.
@stefanv, you may go ahead with adding the team to https://numpy.org/teams/.

[2022-02-23 19:56] stefanv commented on #559
@InessaPawson I still see no team at https://github.com/orgs/numpy/teams

[2022-02-23 20:03] stefanv commented on #559
See https://github.com/numpy/numpy.org/pull/560

[2022-02-24 20:51] #559 closed

[2022-04-11 16:52] MarsBarLee commented on #437
I think it would also help to have an explicit 'Dealing with harassment' section. That section could include what would be considered harassment, how to make a public response (such as as how to respond or not block users or not private message). It could also include private team response (such as reporting to the team or switching who is managing the account for a while).

[2022-04-12 16:44] asmijafar20 commented on #539
Is this issue still up? Please let me know, I would love to work on this.

[2022-04-15 17:19] isuruf opened #571 "Remove text about miniforge/conda-forge not having good GPU support"
This is not true anymore.

[2022-04-15 23:43] Anasyousuf98 opened #572 "Translate NumPy QuickStart manual into Chinese, Hindi and Spanish"
Hello, NumPy Team
My team members and I want to translate NumPy QuickStart manual in our native languages that is Chinese, Hindi and Spanish as a group project. These three languages all together are spoken and used by almost a trillion people around the world. Translating into these top spoken languages will help a lot of people to get started with NumPy.
Thank You

[2022-04-15 23:51] InessaPawson commented on #539
@asmijafar20 Thank you for offering your help! However, this particular task is best suited for someone who has been involved with the project for a while and is well aware of the subject of the future article. It’s been on my to-do list for some time. Your inquiry has given me a gentle nudge.:) I’ll try to submit the draft in the coming days.

Let me know what type of contributions to NumPy you a

[2022-04-16 08:16] rgommers commented on #572
Hi @Anasyousuf98, thanks for your interest. This could indeed be nice. One key point is that we don't have translation infrastructure in the Sphinx docs, and we're not quite ready to add that (only the website, where the translations are still to be launched, mostly due to lack of bandwidth from me or a dedicated maintainer). So perhaps the best way would be to have a separate site with just the c

[2022-04-16 11:03] rgommers commented on #571
Agreed, thanks for pointing this out @isuruf.

[2022-04-16 14:45] asmijafar20 commented on #539
Ah Alright.
Hey @InessaPawson, I'm new to NumPy so, I wanted to start with good first issues to get myself familiar with the codebase. Previously I have been an Outreachy'21 intern and contributed to Moja Global Community. I'm happy to contribute to NumPy. Thanks!

[2022-04-16 23:14] InessaPawson commented on #539
@asmijafar20 Wonderful! Have a look at the issues in the issue tracker (https://github.com/numpy/numpy/issues) that are up to 12 months old, and see if there is anything you would like to work on. The ones labeled “documentation” and “bug” would be the best place to start.
With bugs, reproducing a bug and documenting it in a comment below the issue would already be of tremendous help.

Once you de

[2022-04-18 07:55] #571 closed

[2022-04-18 08:27] isuruf commented on #571
Thanks

[2022-04-28 13:11] ragdollfun opened #577 "Native MathML rendering doesn't work on the numpy and scipy documentation websites"
Hello everyone,

I use a browser extension by the name of "Native MathML" which forces formula rendering engines like MathJax/KaTeX/MediaWIki to use native MathML rendering. The extension seems to be working on other websites (including Wikipedia, tell me if you know of other websites where I can test this for comparison), but it doesn't work on the numpy and scipy documentation websites. (I seem

[2022-04-28 13:36] mattip commented on #577
xref https://github.com/scipy/scipy/issues/16063. In the future if you open identical issues, please xref them in the issue itself.

[2022-04-28 13:41] ragdollfun commented on #577
Sorry, didn't know I could do that

[2022-04-28 13:44] mattip commented on #577
:+1:

[2022-05-03 10:46] ragdollfun commented on #577
Hi @rgommers,
Well, it's nice to be able to copy-paste formulas from web pages, but truly it's more about me being a sticker for web standards. It is a feature I could live without. 😅

What has me puzzled though is that the numpy and scipy documentation web sites are the only ones (that I know of) where I encounter this issue. 🤔

[2022-05-03 11:53] rgommers commented on #577
Thanks for the reply. Okay, this is very low-prio then. Fixes are welcome, but I guess it's in Sphinx, MathML itself, or elsewhere. We do nothing special with LaTeX.

[2022-06-10 03:42] InessaPawson commented on #214
I'm closing this issue as the NumPy quickstart has been revised.

[2022-06-10 03:42] #214 closed

[2022-07-01 07:30] AsavariA commented on #441
Hey, can I work on this issue? I think I'll be able to do a good job with it! @InessaPawson @rgommers

[2022-07-01 23:08] InessaPawson commented on #441
Yes. Thank you for raising your hand for this task!

[2022-07-03 01:40] iaiu2142 commented on #441
Yeah we can try to do that.

On Fri, Jul 1, 2022, 12:30 PM Asavari Ambavane ***@***.***>
wrote:

[2022-07-03 01:43] iaiu2142 commented on #441
If you need any sort of help. Please let me know and feel free to contact
me.

On Fri, Jul 1, 2022, 12:30 PM Asavari Ambavane ***@***.***>
wrote:

[2022-07-03 06:12] AsavariA commented on #441
How does this look?

What I did ->
color - colorSecondary
color on hover - white(#fff)
size - 2.3em (which was previously 1.5em, anything greater than that seems too big and out of proportion)

Let me know your thoughts :) @rgommers @InessaPawson @isabela-pf

![image](https://user-images.githubusercontent.com/77312781/177027270-318678be-1789-43f7-ab97-7bd2f49f713e.png)

[2022-07-09 08:56] Arjun31415 commented on #90
Hey, Is this still open ?
I would like to work on this.
I am familiar with html, css and javascript and a bit of hugo.

[2022-07-09 17:44] InessaPawson commented on #90
@Arjun31415 Thank you for offering your help! @MarsBarLee @stefanv What is the status of this issue?

[2022-07-09 17:48] InessaPawson commented on #441
@AsavariA This is great! Please submit a PR to implement the changes.

[2022-07-09 19:39] stefanv commented on #90
Issue is stalled and open for development.

[2022-07-10 03:35] Arjun31415 commented on #90
Great.
I have one query. How would I make the partials file created for this show up on the page. What do I need to change in config.yml for that

[2022-07-10 14:47] AsavariA commented on #441
Hello @InessaPawson, I had a doubt as to how to submit a PR if the changes are a part of the [scientific-python-hugo-theme](https://github.com/scientific-python/scientific-python-hugo-theme) ?

[2022-07-11 12:17] melissawm commented on #441
Hi @AsavariA - you can feel free to submit your changes there. If they are accepted, they will get incorporated into the numpy.org website when the theme is updated. Please make sure you mention this issue when you submit a PR there. Thanks!

[2022-07-11 14:23] Arjun31415 commented on #90
Also there is an existing PR #212
Should I work with that or create from scratch

[2022-08-07 13:05] Bohlintb commented on #55
I would like to participate on the Persian(farsi) translation. Is there any way I can start?

[2022-08-08 01:51] #550 closed

[2022-08-08 09:25] rgommers commented on #550
Thanks for finishing this @jarrodmillman!

Now that we have switched to only Plausible, it would be good to post the current data of both Google Analytics and Plausible, so we have a data point showing how the visitor numbers compare. That way we can normalize future numbers, otherwise we're probably going to see them as a drop in visitor numbers.

Here is the Google Analytics data as of right now

[2022-08-08 09:26] rgommers commented on #550
@jarrodmillman can you post what you're seeing from Plausible?

[2022-08-08 14:23] jarrodmillman opened #591 "Twitter cards don't support SVG"
The twitter card currently has `<meta name=twitter:image content="https://numpy.org/images/logo.svg">`, but twitter cards don't render SVG images:
[code]

https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/summary-card-with-large-image

[2022-08-08 15:15] jarrodmillman commented on #591
See #590.

[2022-08-12 02:56] InessaPawson commented on #55
@Bohlintb Thank you so much for offering your help! Unfortunately, we don’t have plans for Farsi translations for the nearest future. If anything changes, I’ll reach out.

[2022-08-12 03:03] InessaPawson commented on #55
We don’t have plans for Hindi translations. The feedback from the Hindi speaking NumPy community was that it wouldn't be the best investment of our time as most of them (if not all) have a good command of English.

[2022-08-25 15:14] clairefiltz commented on #55
Hi! I saw there was an effort to translate the NumPy readme to french and was wondering if there is any interest in translating numpy.org to french (I saw that it's not enabled on crowdin). I'd be happy to help with that :)

[2022-08-26 23:14] InessaPawson commented on #55
@clairefiltz Thank you so much for offering your help! We don’t have plans for French translations for the nearest future. If anything changes, I’ll reach out.

[2022-08-31 04:12] olinjohnson commented on #497
Is this issue still open? I was wondering if I could work on it. This would be my first contribution.

[2022-09-03 11:33] psobolewskiPhD opened #595 "Link to SciPy Code of Conduct in the Endnotes of the Numpy Code of Conduct is broken"
The link to the SciPy Code of Conduct in the Endnotes of the Numpy Code of Conduct (https://numpy.org/code-of-conduct/) is broken.

[2022-09-03 11:47] psobolewskiPhD commented on #595
Made a PR with fix here
https://github.com/numpy/numpy.org/pull/596
Used the link from the SciPy Community page (https://scipy.org/community/)

[2022-09-04 15:06] InessaPawson commented on #497
@olinjohnson Yes, the issue is still open. It would be great if you could take care of it.

[2022-09-04 22:44] olinjohnson commented on #497
Alright, patched it up and submitted a pull request. #597

[2022-09-05 18:47] #595 closed

[2022-09-14 06:48] seberg commented on #436
We now already have one here: https://scientific-python.org/calendars/ but it may be nice to link to that website from our community site?

[2022-09-15 20:40] #497 closed

[2022-09-17 12:44] sidn77 opened #601 "Somthing off with np.square(x) methos"
Hello everyone, i just noticed something off with np.square(x) function.
Below screenshot shows the input and output of the function
![image](https://user-images.githubusercontent.com/16509537/190857463-e86751ff-092e-4daa-a7db-498bf6a21b54.png)

Could someone help debug why is it computing the square of 255 as 1 ?

[2022-09-29 15:24] mattip commented on #539
I think the [implementation tasks of NEP 46](https://numpy.org/neps/nep-0046-sponsorship-guidelines.html#implementation) have not all been fulfilled:

This has not been done. Is the intention to add logos to the footer (for all pages) or just to the front page?

That page has not been created yet

I think this is complete

The [donate section](https://numpy.org/about/#donate) needs updating with t

[2022-10-11 08:48] iaiu2142 commented on #441
Looks great to me!

On Sun, Jul 3, 2022, 11:13 AM Asavari Ambavane ***@***.***>
wrote:

[2022-10-11 16:42] stefanv commented on #441
Apart from a wrapping issue (that is addressed in the PR), the theme itself already fixes this issue: https://theme.scientific-python.org/  All we need to do is to take away any nump.org-specific footer icon customizations.

[2022-10-24 00:08] blackhat06 commented on #435
I am happy to take on this task

[2022-10-24 00:08] blackhat06 commented on #498
I can own this issue and contribute to it

[2022-10-24 00:09] blackhat06 commented on #469
I can take on this issue

[2022-10-26 12:03] melissawm commented on #469
I am pretty sure this is fixed: ![Screenshot_2022-10-26-09-01-16-423-edit_com.android.chrome.jpg](https://user-images.githubusercontent.com/3949932/198021114-b5c01d3b-673b-4e5b-8f7e-012ee7fd5c55.jpg)

Are you still seeing this issue @blackhat06 ?

[2022-10-26 23:08] InessaPawson commented on #435
@blackhat06, please dive right in! Feel free to ping me if you have any questions.

[2022-10-27 23:30] ErnestoFGonzalez commented on #416
I've been trying to think of a way to do this using Flex, but can't find one. Might work with Grid.

Are you thinking of aligning the centre of the images plus aligning the bottom of the titles, or something different?

[2022-10-28 22:59] melissawm commented on #416
@ErnestoFGonzalez  yeah, I think this is reasonable. I believe all images are the same size, so aligning the text should be enough.

[2022-10-29 04:53] #478 closed

[2022-10-29 14:31] ErnestoFGonzalez commented on #591
Hi @jarrodmillman. I'm trying to take a look at this and see reference to a `_internal/twitter_cards.html` in `baseof.html` but can't find it on my search.

How can I generate the `_internal` folder?

[2022-10-29 18:34] melissawm commented on #498
Hi @blackhat06 - feel free to try! I think there are still a couple of things we should decide, though.

1. We should add a link to https://numpy.org/about/#donate in the https://numpy.org/contribute page
2. The link to donate through NumFOCUS in https://numpy.org/about/#donate points to [this page](https://numfocus.org/donate-to-numpy), which looks outdated and should probably be replaced by http

[2022-10-30 03:15] stefanv commented on #591
The twitter card is built into Hugo: https://gohugo.io/templates/internal/#twitter-cards

See https://github.com/gohugoio/hugo/blob/master/tpl/tplimpl/embedded/templates/twitter_cards.html

[2022-10-30 21:16] ErnestoFGonzalez commented on #591
Ah, ok. Thanks! New to Hugo. Let me take a look at it and then I'll submit a PR.

[2022-10-31 15:51] #591 closed

[2022-11-02 21:38] blackhat06 commented on #498
These seems reasonable to me.

[2022-11-02 21:42] blackhat06 commented on #572
I can help with Hindi translation of Numpy.

[2022-11-02 21:49] blackhat06 commented on #469
I am don't this issue

[2022-11-03 01:35] InessaPawson commented on #293
The version switcher has been added to the top navigation bar of https://numpy.org/doc/stable/. I'm closing the issue.

[2022-11-03 01:35] #293 closed

[2022-11-03 06:50] seberg opened #610 "Mention NumPy trademark(s) somewhere"
At least in one place we should mention the NumPy trademarks.  They are effectively covered by the NumFOCUS trademark policy and linking that might be good.
In that case, I suspect we could just say that NumPy name, logo, and website are trademarked and the numfocus policy applies: https://numfocus.org/trademark-guidelines

[2022-11-04 04:27] InessaPawson commented on #572
@blackhat06 That would be fantastic! Do you have a website in mind where you would share the Hindi version of the NumPy QuickStart?

[2022-11-26 13:37] #469 closed